#if ($gntmlNextPrev.title != "") {
	<div class="gntml_title heading">$gntmlNextPrev.title</div>
}
#set $nextPrevNodes = $gntmlNextPrev.validSiblings.getNextPrevNodes($node)
#if ($nextPrevNodes.PrevNode.isPresent()) {
	<div class="prev">$nextPrevNodes.PrevNode.get().explicitHref.get("Previous")</div>
} #else {
	<div class="prev disabled">Previous</div>
}
#if ($nextPrevNodes.NextNode.isPresent()) {
	<div class="next">$nextPrevNodes.NextNode.get().explicitHref.get("Next")</div>
} #else {
	<div class="next disabled">Next</div>
}
