#templet $ga_header {
	#if ($Variable.isDefined("ga_Tracker")) {
		<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', '$ga_Tracker']);
		</script>
	}
}

#templet $ga_footer {
	#if ($Variable.isDefined("ga_Tracker")) {
		<script type="text/javascript">
		(function() \{
		var ga = document.createElement('script');     ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:'   == document.location.protocol ? 'https://ssl'   : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		\})();
		</script>
	}
}

#templet $ga_trackedlink {<a	
	#if ($Variable.isDefined("rel")) { rel="$rel" } 
	#if ($Variable.isDefined("title")) { title="$title" }
##	#if ($Variable.isDefined("target")) { title="$target" }
	#if (! $Variable.isDefined("contents") || $OuterVars.StringUtils.isNullOrWhitespace($contents)) { #set $contents = $href }
	#if (! $Variable.isDefined("trackUrl")) {
		#set $headerIndex = $href.indexOf("://")
		#if ($headerIndex == -1) {
			#set $trackUrl="/external/$href"
		} #else {
			#set $trackUrl="/external/$href.substring($headerIndex+3)"
		} 
	}
	onclick="javascript:_gaq.push(['_trackPageview','$trackUrl']);" href="$href">$contents</a>}

#templet $ga_setDomainName {
	#if ($Variable.isDefined("ga_DomainName")) {
		<script type="text/javascript">
		_gaq.push(['_setDomainName', '$ga_DomainName']);
		_gaq.push(['_setAllowLinker', true]);
		</script>
	}
}

#templet $ga_trackPageview {
	<script type="text/javascript">
	#if ($Variable.isDefined("ga_pageURLs")) {
		#local {
			#foreach $pageURL in $ga_pageURLs {
				_gaq.push(['_trackPageview','$pageURL']);
			}
		}
	}
	#if ($Variable.isDefined("ga_virtualHost")) {
		#if (! $Variable.isDefined("ga_pageURL") && $ga_pageURL != null) {
			#set $ga_pageURL = "$nodeRequest.VirtualPath"
		}
		#set $ga_pageURL = "/$ga_virtualHost$ga_pageURL"
	}
	#if ($Variable.isDefined("ga_pageURL")) {
		_gaq.push(['_trackPageview','$ga_pageURL']);
	} #else {
		_gaq.push(['_trackPageview']);
	}
	</script>
}
