#if (! $Variable.isDefined("node_GoogleAnalytics_templets")) {

<!-- node/GoogleAnalytics/templets.wm.html -->

## Creates a link to a (possibly external) website and tracks it through GA.
## compulsory: $href
## optional: $rel,$title,$target,$trackUrl,$contents
## if $trackUrl is not defined then "/external/$href" is used instead

#templet $ga_trackedlink {<a 
	#if ($Variable.isDefined("rel")) { rel="$rel" } 
	#if ($Variable.isDefined("title")) { title="$title" }
	#if ($Variable.isDefined("target")) { title="$target" }
	#if (! $Variable.isDefined("contents") || $OuterVars.StringUtils.isEmpty($contents)) { #set $contents = $href }
	#if (! $Variable.isDefined("trackUrl")) {
		#set $headerIndex = $href.indexOf("://")
		#if ($headerIndex == -1) {
			#set $trackUrl="/external/$href"
		} #else {
			#set $trackUrl="/external/$href.substring($headerIndex+3)"
		} 
	}
	onclick="javascript:pageTracker._trackPageview('$trackUrl')" href="$href">$contents</a>}

#templet $ga_includeJavascript {
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  
  <script src="$(Global.assetDomain)/$(Global.staticsBuildNodePath)/scripts/GoogleAnalytics.js" type="text/javascript"></script>
}

#templet $ga_initData {
  var pageTracker = _gat._getTracker("$ga_Tracker");
  pageTracker._initData();  
}

#templet $ga_setDomainName {
  #if ($Variable.isDefined("ga_DomainName")) {
    pageTracker._setDomainName("$ga_DomainName");
    pageTracker._setAllowLinker(true);
  }
}

#templet $ga_trackPageview {
  #if ($Variable.isDefined("ga_virtualHost")) {
    #if (! $Variable.isDefined("ga_pageURL") && $ga_pageURL != null) {
      #set $ga_pageURL = "$nodeRequest.VirtualPath"
    }
    #set $ga_pageURL = "/$ga_virtualHost$ga_pageURL"
  }
  #if ($Variable.isDefined("ga_pageURL")) {
    pageTracker._trackPageview("$ga_pageURL");
  } #else {
    pageTracker._trackPageview();
  }
}

#templet $ga_userTracking {
  #if ($nodeRequest.IsLoggedIn) {
    #if ($Variable.isDefined("ga_userGroup")) {
      #set $ga_setVar = "login-$ga_userGroup-$nodeRequest.User.login"
    } #else {
      #set $ga_setVar = "login-$nodeRequest.User.login"
    }
    if (! utmvCookieCheck("$ga_setVar")) \{
      pageTracker._setVar("$ga_setVar");
      createCookie('__utmv',readCookie('__utmv'),0 #if ($Variable.isDefined("ga_DomainName")) {, "$ga_DomainName" });
    \}
  } #else {
##    eraseCookie('__utmv');
  }
}

#set $node_GoogleAnalytics_templets = true

<!-- ! node/GoogleAnalytics/templets.wm.html -->

}
