
<!-- node/GoogleAnalytics/trackPageview.wm.html -->

## Sets the following user-defined 

## Requires:
##   $ga_Tracker, the unique GA token that the Google Analytics engine gives
##     you to track the site.
## Optional:
##   $ga_userGroup: Normally, the user-defined property login-<username> is
##     logged to the tracker.  If this is set, login-<ga_userGroup>-<username>
##     is used instead.  This allows tracking of groups of users
##     e.g. subscribers vs. non-subscribers.
##   $ga_DomainName: If set, sets the domain of the tracker cookie; for
##     example, if you have a site on secure.example.com and www.example.com
##     setting this to example.com will make sure GA amalgamates data from
##     both sites.
##   $ga_virtualHost: If set, this is prepended to the page URL; useful for
##     separating out multiple sites hosted on a single domain, for example
##     all our dev sites.  Overridden by ga_pageURL.
##   $ga_pageURL: If set, then this will be the page URL tracked by GA.  For
##     example, this can be used to track 404s by placing all the attempted
##     accesses under a URL of /404/

#if ($Variable.isDefined("ga_Tracker") && ! $ga_has_trackPageview) {
  #include as template "node/GoogleAnalytics/templets.wm.html"
  
  #eval $ga_includeJavascript
  
  <script type="text/javascript">
  #eval $ga_initData
  #eval $ga_setDomainName
  #eval $ga_trackPageview
  #eval $ga_userTracking
  </script>
  
  #set $ga_has_trackPageview = true
}
<!-- ! node/GoogleAnalytics/trackPageview.wm.html -->

