
<!-- node/menu/nestedVerticalBreadcrumb.wm.html -->
#templet $nvb_parent {

  #templet $nvb_nodelink {
    #if ($node.id == $selectedNode.id) {
      <strong class="navcurrent">$node.htmlTitle</strong>
    } #else {
      $node.href.htmlTitle
    }
  }

  #set $children = $selectedNode.childrenMenuNodes.get($OuterVars.nodeRequest)
  
  #if ($segments.hasNext()) {
    #set $segment = $segments.next()
    #set $node = $segment.Node

    #if ($segments.hasNext()) {
      #set $class="prt gen$node.generation"
      <ul class="$class">
      <li class="$class">
      #set $navNode = $node
      #include as template "$node.nodeStyle.navParentTemplatePath"
      #eval $Self using { "segments" : $segments, "selectedNode" : $selectedNode }
      </li>
      </ul>
    } #else {
      #if ($children.Size == 0) {
        #set $children = $node.parentNode.childrenMenuNodes.get($OuterVars.nodeRequest)
        #set $shownSelected = false
        #set $class="sub gen$node.generation"
        <ul class="$class">
        #foreach $child in $children {
          <li class="$class">#eval $nvb_nodelink using { "node" : $child, "selectedNode" : $selectedNode }</li>
          #if ($child.id == $selectedNode.id) {
            #set $shownSelected = true
          }
        }
        #if (! $shownSelected) {
          <li class="$class">#eval $nvb_nodelink using { "node" : $selectedNode, "selectedNode" : $selectedNode }</li>
        }
        </ul>
      } #else {
        #set $class="prt gen$node.generation"
        <ul class="$class">
        <li class="$class">
        #eval $nvb_nodelink using { "node" : $node, "selectedNode" : $selectedNode }
        #eval $Self using { "segments" : $segments, "selectedNode" : $selectedNode }
        </li>
        </ul>
      }
    }
  } #else {
    #if ($children.Size > 0) {
      #set $childGeneration = $selectedNode.generation + 1
      #set $class="chi gen$childGeneration"
      <ul class="$class">
      #foreach $child in $children {
        <li class="$class">#eval $nvb_nodelink using { "node" : $child, "selectedNode" : $selectedNode }</li>
      }
      </ul>
    }
  }
}

#set $segments = $nodeRequest.NodeRequestSegments
#if ($Variable.isDefined("generationSkipCount")) {
  #foreach $segment in $segments limit $generationSkipCount {
  }
}

<div class="m_menu m_nvb">
#if ($nodeRequest.NodeRequestSegmentCount > 1 || !$Variable.isDefined("generationSkipCount") || $generationSkipCount = 0) {
  #eval $nvb_parent using { "segments" : $segments, "selectedNode" : $nodeRequest.TargetLeafNode }
}
</div><!-- m_nvb -->

<!-- node/menu/nestedVerticalBreadcrumb.wm.html -->
