
<!-- node/menu/rootPlusTwoUnfolding.wm.html -->

#set $rootNode = $db.Node.getRecord(1)
#set $depth = $nodeRequest.NodeRequestSegmentCount

<ul>

<li>
#if ($depth == 1) {
  <strong>$rootNode.htmlTitle</strong>
} #else {
  <a href="$rootNode.url"><strong>$rootNode.htmlTitle</strong></a>
  #set $categoryNode = $nodeRequest.getNodeRequestSegment(1).Node
}
<ul>
#foreach $targetCategoryNode in $rootNode.childrenMenuNodes.is.isPublished {
  <li>
  #if ($targetCategoryNode.id = $categoryNode.id) {
    #if ($depth == 2) {
      <strong>$targetCategoryNode.title</strong>
    } #else {
      <a href="$targetCategoryNode.url"><strong>$targetCategoryNode.title</strong></a>
      #set $itemNode = $nodeRequest.getNodeRequestSegment(2).Node
    }
    <ul>
    #foreach $targetItemNode in $targetCategoryNode.childrenMenuNodes.is.isPublished {
      <li>
      #if ($targetItemNode.id == $itemNode.id) {
        <strong>$targetItemNode.title</strong>
      } #else {
        <a href="$targetItemNode.url">$targetItemNode.title</a>
      }
      </li>
    }
    </ul>
  } #else {
    <a href="$targetCategoryNode.url">$targetCategoryNode.title</a>
  }
  </li>
}
</ul>
</li>


</ul>

<!-- ! node/menu/rootPlusTwoUnfolding.wm.html -->

