
<!-- node/menu/unfoldingTree.wm.html -->
#templet $menu {
#if ($menuNode.generation < $OuterVars.menuMaxDepth) {
#set $generationCss = $menuNode.generation + 1
#set $generationCss = "generation$generationCss"
#set $nodeRequest = $OuterVars.nodeRequest
#set $targetLeafNode = $nodeRequest.TargetLeafNode
#set $childMenuNodes = $menuNode.childrenMenuNodes.get($nodeRequest)
#if ($childMenuNodes.Size != 0 || ($menuNode.generation < ($nodeRequest.NodeRequestSegmentCount - 1)) && ! $OuterVars.hideNonMenuNodes) {
#if ($Variable.isDefined("wrapperClass")) {<div class="$wrapperClass">}
<ul class="$generationCss">

#if ($menuNode.generation < $targetLeafNode.generation) {
#set $currentNode = $nodeRequest.getNodeRequestSegment($menuNode.generation + 1).Node
#if ($currentNode.id == $nodeRequest.NodeManager.LoginNodeId || $currentNode.id == $nodeRequest.NodeManager.FeedbackErrorNodeId) {
#set $currentNode = $nodeRequest.TargetLeafNode
}
}
#if ($includeMenuNode) {
#set $navNode = $menuNode
#if ($menuNode == $targetLeafNode) {
<li class="$generationCss menuNode navcurrent">#include as template "$menuNode.nodeStyle.navCurrentTemplatePath"</li>
} #else {
<li class="$generationCss menuNode">#include as template "$menuNode.nodeStyle.navTemplatePath"</li>
}
#set $includeMenuNode = false
}
#set $displayedNode = false
#foreach $childMenuNode in $childMenuNodes {
#set $navNode = $childMenuNode
#if ($childMenuNode.id == $currentNode.id) {
#if ($childMenuNode.id == $targetLeafNode.id) {
<li class="$generationCss navcurrent">
#include as template "$childMenuNode.nodeStyle.navCurrentTemplatePath"
} #else {
<li class="$generationCss navparent">
#include as template "$childMenuNode.nodeStyle.navParentTemplatePath"
}
#set $displayedNode = true
#eval $Self using { "menuNode": $childMenuNode }
} #else {
<li class="$generationCss">
#include as template "$childMenuNode.nodeStyle.navTemplatePath"
}
</li>
}
#if (! $displayedNode && $Variable.isDefined("currentNode") && ! $OuterVars.hideNonMenuNodes && ($OuterVars.nonMenuNodeStyles == null || ! $OuterVars.nonMenuNodeStyles.contains($currentNode.nodeStyle_id))) {
#set $navNode = $currentNode
#if ($currentNode.id == $targetLeafNode.id) {
<li class="$generationCss navcurrent hidden">
#include as template "$currentNode.nodeStyle.navCurrentTemplatePath"
} #else {
<li class="$generationCss navparent hidden">
#include as template "$currentNode.nodeStyle.navParentTemplatePath"
}
#eval $Self using { "menuNode": $currentNode }
</li>
}
</ul>
#if ($Variable.isDefined("wrapperClass")) {</div>}
}
}
}

#if (! $Variable.isDefined("menuMaxDepth")) {
  #set $menuMaxDepth = 666
}
#if (!$Variable.isDefined("wrapperClass")) {
  #set $wrapperClass = "navigation_wrapper"
}
#eval $menu using { 
  "menuNode": $menuNode, 
  "includeMenuNode":$includeMenuNode, 
  "wrapperClass":$wrapperClass }
<!-- ! node/menu/unfoldingTree.wm.html -->
