<!-- node/menu/unfoldingMenu.wm.html -->
#set $depth = $nodeRequest.NodeRequestSegmentCount
#templet $menu {
  #set $nodeRequest = $OuterVars.nodeRequest
  #set $targetLeafNode = $nodeRequest.TargetLeafNode
  #set $childMenuNodes = $menuNode.childrenMenuNodes.get($nodeRequest).is.isPublished
  #if ($childMenuNodes.Size != 0 || $menuNode.generation < ($nodeRequest.NodeRequestSegmentCount - 1)) {
    <ul>
    #if ($menuNode.generation < $targetLeafNode.generation) {
      #set $currentNode = $nodeRequest.getNodeRequestSegment($menuNode.generation + 1).Node
    }
    #set $displayedNode = false
    #foreach $childMenuNode in $childMenuNodes {
      <li>
      #if ($childMenuNode.id == $currentNode.id) {
        #if ($childMenuNode.id == $targetLeafNode.id) {
          <strong><em>$childMenuNode.htmlTitle</em></strong>
        } #else {
          <strong>$childMenuNode.href.htmlTitle</strong>
        }
        #set $displayedNode = true
        #eval $Self using { "menuNode": $childMenuNode }
      } #else {
        $childMenuNode.href.htmlTitle
      }
      </li>
    }
    #if (! $displayedNode && $Variable.isDefined("currentNode")) {
      <li class="hidden">
      #if ($currentNode.id == $targetLeafNode.id) {
        <strong><em>$currentNode.htmlTitle</em></strong>
      } #else {
        <strong>$currentNode.href.htmlTitle</strong>
      }
      #eval $Self using { "menuNode": $currentNode }
      </li>
    }
    </ul>
  }
}
#eval $menu using { "menuNode": $node }
<!-- ! node/menu/unfoldingMenu.wm.html -->
