
<!-- node/menu/verticalBreadcrumbMenu.wm.html -->
#if ($sectionNode != null) {
  <div class="f_verticalBreadcrumbMenu">
  #set $targetLeafNode = $nodeRequest.TargetLeafNode
  #set $leafChildren = $targetLeafNode.childrenMenuNodes.get($nodeRequest)
  #set $segments = $nodeRequest.NodeRequestSegments
  #set $segment = $segments.next()

  #if ($hideSectionNode && $segments.hasNext()) {
    #set $segment = $segments.next()
  }

  #if ($targetLeafNode.generation > 1 && $leafChildren.Size == 0) {

    #if ($segments.hasNext()) {
      #set $hasUl = false
      #foreach $segment in $segments {
        #if ($segments.hasNext()) {
          #if (! $hasUl) {
            <ul class="parents">
            #set $hasUl = true
          }
          <li>$segment.Node.href.htmlTitle</li>
        }
      }
      #if ($hasUl) {
        </ul>
      }
    }

    <ul class="siblings">
    #set $showTargetLeafNode = false
    #foreach $siblingNode in $targetLeafNode.parentNode.childrenMenuNodes.get($nodeRequest) {
      #if ($siblingNode == $targetLeafNode) {
        <li class="selected"><strong>$siblingNode.htmlTitle</strong></li>
        #set $shownTargetLeafNode = true
      } #else {
        <li>$siblingNode.href.htmlTitle</li>
      }
    }
    #if (! $shownTargetLeafNode) { 
      <li class="selected"><strong>$targetLeafNode.htmlTitle</strong></li>
    }
    </ul>

  } #else {

    #if ($segments.hasNext()) {
      <ul class="parents">
      #foreach $segment in $segments {
        #if ($segments.hasNext()) {
          <li>$segment.Node.href.htmlTitle</li>
        } #else {
          <li class="selected"><strong>$segment.Node.htmlTitle</strong></li>
        }
      }
      </ul>
    }

    #if ($leafChildren.Size != 0) {
      <ul class="children">
      #foreach $targetNode in $leafChildren {
        <li>$targetNode.href.htmlTitle</li>
      }
      </ul>
    }
  }
  </div>
}
<!-- node/menu/verticalBreadcrumbMenu.wm.html -->
