#set $node = $nodeRequestSegment.Node

#include as template "form/formTemplets.wm.html"

#templet $t_contentWrapper {
	<div class="t_contentWrapper">
	<h1>$node.title</h1>
	<h2>$indexValue.value</h2>

	#eval $node_form_simple_begin using { "view":"editIndexValue", "legend":"Edit IndexValue", "class":"w_themedForm" }
	#eval $node_form_hidden using { "field":"id", "value":$indexValue.id }
	#eval $node_form_text using { "label":"Value","value":$indexValue.value, "field":"value" } 
	#eval $node_form_text using { "label":"Sort value","value":$indexValue.sortValue, "field":"sortValue" }
	#eval $node_form_submit using { "label":"Update" }
	#eval $node_form_simple_end

	<dl>
	<dt>Primary reference</dt>
	<dd>
	#set $primaryNode = $indexValue.primaryNode
	#if ($primaryNode == null) { undefined } #else { $primaryNode.href.title }
	</dd>
	</dl>
	
	<p><a href="$node.url?view=browsePrimaryNode&id=$indexValue.id">Browse for primary reference</a></p>

	
	
	<p>
	<a href="$node.url?view=viewIndexValue&id=$indexValue.id">View IndexValue of $(indexValue.value)...</a><br />
	<a href="$node.url">View IndexListing of $(node.title)...</a>
	</p>
	</div>
}