#templet $ImagePageListing_defaults {
	#set $cols = $Vars.padUndefined("cols",3)
	#set $grid = $Vars.padUndefined("grid",2)
}

#templet $ImagePageListing_setup {
	#eval $ImagePageListing_defaults
	#if ($imagePageListing.listingRows < 1) {
		#set $Global.imagePages = $imagePageListing.imagePages.is.isPublished
	} #else {
		#set $paginator = $nodeRequest.getPaginator("g",$imagePageListing.paginatorSize.get($cols))
		$paginator.setSourceQuery($imagePageListing.imagePages.is.isPublished)
		#set $Global.paginator = $paginator
		#set $Global.imagePages = $paginator.RecordSource
	}
}

#templet $ImagePageListing_grid {
	<div class="f_ImagePageListing">
	#foreach $row in $Iterables.partition($Global.imagePages, $Dimensions.Current.ContentWidth / $grid) {
		<ul class="semantic row">
		#foreach $imagePage in $row {
			<li>
			#eval $Global.I_ScalableSingleImage using {
				"scalableSingleImage": $imagePage.node.compile.pageImg,
				"grid": $grid,
				"padding": $padding,
				"a_href":$imagePage.node.url
			}
			</li>
		}
		</ul>
	}
	</div>
}

#templet $ImagePageListing_paginator {
	#if ($Global.paginator != null) {
		#set $paginator = $Global.paginator
		#set $itemName = $imagePageListing.itemName
		#set $itemsName = $imagePageListing.itemsName
		<div class="ImagePageListing_paginator content">
		#include as template "paginatorMenu.wm.html"
		</div>
	}
}

#templet $ImagePageListing_rss_headerLinks {
	#foreach $i in $db.ImagePageListing.All.is.isPublished.is.hasRssFeed {
  		<link rel="alternate" type="application/rss+xml" title="$i.rssTitle" href="$i.rssUrl" />
	}	
}

#templet $ImagePageListing_rss_visibleLink {
	#if ($Vars.hasValue("imagePageListing") && $imagePageListing.hasRssFeed) {
		<a class="RSS" href="$imagePageListing.rssUrl">$imagePageListing.rssTitle</a>
	}
}
