#if (!$Vars.hasValue("ImagePage_init")) { #templet $ImagePage_init {
	#if (!$Vars.hasValue("imagePages")) {
		#set $imagePages = $imagePageListing.imagePages.is.isPublished
		#set $index = $imagePages.IdList.indexOf($imagePage.id)
		#if ($index == -1) {
			#set $imagePages = $imagePageListing.imagePages
			#set $index = $imagePages.IdList.indexOf($imagePage.id)
		}
	}
}}


#if (!$Vars.hasValue("ImagePage_prev_on")) { #templet $ImagePage_prev_on {
	<div class="grid_$grid_prev alpha ImagePage_prev">
	#set $href = $imagePage.node.url
	#if ($nodeRequest.view == "zoomImagePage") {
		#set $href = "$href?view=zoomImagePage"
	}
	<a href="$href">prev</a>
	#eval $ScalableSingleImage using {
		"scalableSingleImage":$imagePage.node.compile.pageImg,
		"grid":$grid_prev,
		"a_href":$href
	}	
	</div>
}}


#if (!$Vars.hasValue("ImagePage_prev_off")) { #templet $ImagePage_prev_off {
	<div class="grid_$grid_prev alpha ImagePage_prev">prev</div>
}}


#if (!$Vars.hasValue("ImagePage_count")) { #templet $ImagePage_count {
	#if ($grid_count > 0) {
		<div class="grid_$grid_count ImagePage_count">
	} #else {
		<div class="ImagePage_count">
	}
	$imagePageListing.node.href.title<br />
	#eval $ImagePage_init
	#set $v = $index + 1
	\#$v of $imagePages.Size
	</div>
}}


#if (!$Vars.hasValue("ImagePage_next_on")) { #templet $ImagePage_next_on {
	<div class="grid_$grid_next omega ImagePage_next">
	#set $href = $imagePage.node.url
	#if ($nodeRequest.view == "zoomImagePage") {
		#set $href = "$href?view=zoomImagePage"
	}
	<a href="$href">next</a>
	#eval $ScalableSingleImage using {
		"scalableSingleImage":$imagePage.node.compile.pageImg,
		"grid":$grid_next,
		"a_href":$href
	}	
	</div>
}}


#if (!$Vars.hasValue("ImagePage_next_off")) { #templet $ImagePage_next_off {
	<div class="grid_$grid_next omega ImagePage_next">next</div>
}}


#if (!$Vars.hasValue("ImagePage_nav")) { #templet $ImagePage_nav {
	<div class="ImagePage_nav">
	#set $grid_prev = $Vars.padUndefined("grid_prev", 1)
	#set $grid_count = $Vars.padUndefined("grid_count",1)
	#set $grid_next = $Vars.padUndefined("grid_next", 1)
	#eval $ImagePage_init
	#if ($grid_count == 0) {
		#eval $ImagePage_count
	}
	#set $i = $imagePages.RecordList.listIterator($index)
	#if ($i.hasPrevious()) {
		#eval $ImagePage_prev_on using $Vars.extendContext({ "imagePage":$i.previous() })
		$Vars.discard($i.next())
	} #else {
		#eval $ImagePage_prev_off
	}

	#if ($grid_count > 0) {
		#eval $ImagePage_count
	}

	$Vars.discard($i.next())
	#if ($i.hasNext()) {
		#eval $ImagePage_next_on using $Vars.extendContext({"imagePage":$i.next()})
	} #else {
		#eval $ImagePage_next_off
	}

	</div> ## imagePage_nav
}}