<fieldset>
#include as template "node/abstractContentCompilerHeader.edit.wm.html"
#if ($compiledRegion.isDefined) {
	$compiledRegion.asFormElement.indexPageTemplate
	#set $indexPage = $compiledRegion
	#set $t = $nodeRequest.SessionTransaction.getTransactionByNode($node.id)
	#set $indexValuesLinks = $indexPage.indexValuesLinks.is.isDefined
	#foreach $indexListing in $db.IndexListing {
		<div class="IndexPage">
		<fieldset>
		#if ($indexListing.isPublished) {
			<legend>$indexListing.title</legend>
		} #else {
			<legend>($indexListing.title)</legend>
		}
		<input type="hidden" name="$(indexPage.namePrefix)indexValue_id-active" value="true"/>
		#set $validIndexValuesLinks = $indexValuesLinks.fromIndexListing.get($indexListing)
		#if ($validIndexValuesLinks.Size > 0) {
			<table class="IndexPage_IndexValue">
			<tr><th>Value</th><th>Ranking</th><th>Description</th></tr>
			#foreach $indexValueLink in $validIndexValuesLinks {
				#set $indexValueLink = $t.getRecord($indexValueLink)
				#set $indexValue = $indexValueLink.indexValue
				<tr>
				<td><input class="isDefined" name="$(indexPage.namePrefix)indexValue_id" type="checkbox" value="$indexValue.id" checked="checked" />
				#if ($indexValue.isPublished) { $indexValue.title } #else { ($indexValue.title) }
				</td>
				<td><input style="width: 4em;" class="ranking" name="$(indexPage.namePrefix)$(indexValueLink.id)-ranking" value="$indexValueLink.ranking"></td>
				<td><textarea class="description" name="$(indexPage.namePrefix)$(indexValueLink.id)-description" />$indexValueLink.description</textarea></td>
				</tr>
			}
			</table>
			<br />		
		}
		
		$indexPage.newValueWidget.get($indexListing.id)

		</fieldset>
		</div>
	}
}
</fieldset>
