#templet $IndexPage_verbose {
	#set $indexPage = $node.compile.indexPage
	#if ($indexPage != null) {
		<p class="heading"><strong>Indexing</strong></p>
		#foreach $indexListing in $db.IndexListing.All {
			<p>
			<strong>$indexListing.href.title:</strong>
			#foreach $indexPage_indexValue in $indexPage.indexValuesLinks {
				#set $indexValue = $indexPage_indexValue.indexValue
				#if ($indexValue.indexListing_id == $indexListing.id) {
					$indexValue.href.title 
					#if ($indexPage_indexValue.description != "") {
						 - $indexPage_indexValue.description 
					}
					|
				}
			}
			</p>
		}
	}
}

#templet $IndexPage_delegatingTemplate {
	#set $indexPage = $node.compile.indexPage
	#if ($indexPage != null) {
		#set $delegatingTemplate = $indexPage.delegatingTemplate
		#if ($delegatingTemplate != null) {
			#foreach $indexListing in $db.IndexListing.All {
				#include as template "$delegatingTemplate.Name"
			}
		}
	}
}