## params
## scalableSingleImage - the compulsory ScalableSingleImage record to be shown
## missingImage - the text that is shown if the image image has not yet been uploaded.  optional
## a_href - the target that will happen if the image is clicked.  if not defined then no <a> is generated
## a_title
## div - the class of <div> that the image will be wrapped in.  if not defined then no <div> is generated
## widthPx
## grid
## padding
## lines
## class - the optional class that will be applied to the <img> element
## title
#templet $ScalableSingleImage {
	#if ($scalableSingleImage.isDefined) {
		#set $imgOriginal = $scalableSingleImage.imgOriginal
		#if ($imgOriginal == null) {
			<div class="error">
			#if (!$Vars.hasValue("missingImage")) {
				#set $missingImage = "missing image"
			}
			#if ($Vars.hasValue("a_href")) {
				#set $a = $Html.newTagBuilder("a").attr("href", $a_href)
				$a.Open$missingImage$a.Close
			} #else {
				$missingImage
			}
			</div>
		} #else {
			#if ($Vars.hasValue("div")) {
				<div class="$div">
			}
			#if ($Vars.hasValue("grid")) {
				#set $widthPx = $Global.Grid.getWidth($grid)
			}
			#if ($Vars.hasValue("padding")) {
				#set $widthPx = $widthPx - $padding
			}
			#if ($Vars.hasValue("lines")) {
				#set $heightPx = $Global.Grid.getLineHeight($lines)
				#if ($Vars.hasValue("padding")) {
					#set $heightPx = $heightPx - $padding
				}
				#set $imgScaled = $imgOriginal.atWidthHeightFormat.get($widthPx).get($heightPx).get($scalableSingleImage.imgFormat_id)			
			} #else {
				#set $imgScaled = $imgOriginal.atWidthFormat.get($widthPx).get($scalableSingleImage.imgFormat_id)
			}
			#set $imgTag = $imgScaled.imgTag.attr("alt", $scalableSingleImage.alt)
			#if ($Vars.hasValue("class")) {
				$imgTag.addAttribute("class", $class)
			}
			#if ($Vars.hasValue("title")) {
				$imgTag.addAttribute("title", $title)
			}
			#if ($Vars.hasValue("a_href")) {
				#set $a = $Html.newTagBuilder("a").attr("href", $a_href)
				#if ($Vars.hasValue("a_title")) {
					$a.addAttribute("title", $a_title)
				}
				$a.Open$imgTag$a.Close
			} #else {
				$imgTag
			}
			#if ($Vars.hasValue("div")) {
				</div>
			}
		}
	} #else {
		#if ($undefinedImagesHaveSpace) {
			&nbsp;
		}
	}
}