<fieldset>
#include as template "node/abstractContentCompilerHeader.edit.wm.html"
#if ($compiledRegion.isDefined) {
	#set $imgSearch = $appMgr.ScalableSingleImageStyle.createImgSearch($compiledRegion.style, $node.url, "$node.url?view=update&$compiledRegion.regionStyle.name-isDefined=true&$compiledRegion.regionStyle.name-imgOriginal_id=", $Strings.padEmpty($nodeRequest.Session.getAttribute("ImgOriginal.owner"), ""))
##	#set $imgSearch = $nodeMgr.ImgMgr.createImgSearch($node.url, "$node.url?view=update&$compiledRegion.regionStyle.name-isDefined=true&$compiledRegion.regionStyle.name-imgOriginal_id=", $Strings.padEmpty($nodeRequest.Session.getAttribute("ImgOriginal.owner"), ""))
	<a href="$imgSearch.QueryBase&view=ImgOriginal_Search">Choose Image</a>
##	$compiledRegion.asFormElement.file
##	$compiledRegion.asFormElement.imgOriginal_id
	#set $imgOriginal = $compiledRegion.imgOriginal
	#if ($imgOriginal != null) {
		$Forms.value("Preview",$imgOriginal.atWidth.get($Global.Grid.getWidth(2)).imgTag, "preview")
		$compiledRegion.asFormElement.imgFormat_id
		$compiledRegion.asFormElement.alt
	}
}
</fieldset>
