#set $JSON = $compiledRegion.style.JSON
#set $imgOriginal = $compiledRegion.imgOriginal
#if ($imgOriginal == null) {
  #if ($JSON.opt("mustUpload")) {
    <div class="gntml_error">
    No image uploaded for <em>$compiledRegion.regionStyle.title</em> on $compiledRegion.node.href.title
    </div>
  }
} #else {
  $imgOriginal
}
