<fieldset>
#include as template "node/abstractContentCompilerHeader.edit.wm.html"
#if ($compiledRegion.isDefined) {
  $compiledRegion.asFormElement.listingStyle
  $compiledRegion.asFormElement.pageSize
  $compiledRegion.asFormElement.listingTemplatePath
  $compiledRegion.asFormElement.itemTemplatePath
  <hr />
  $compiledRegion.asFormElement.itemName
  $compiledRegion.asFormElement.itemsName
  <hr />
  $compiledRegion.asFormElement.hasRssFeed
  #if ($compiledRegion.hasRssFeed) {
    $compiledRegion.asFormElement.rssTitle
    $compiledRegion.asFormElement.rssSubscribeTitle
    $compiledRegion.asFormElement.publicRssUrl
  }
}
</fieldset>