#if (!$Vars.hasValue("TimedPage_init")) { #templet $TimedPage_init {
	#if (!$Vars.hasValue("timedPages")) {
		#set $timedPages = $timedPageListing.timedPages.is.isPublished.orderedBy.get("startTime asc")
		#set $index = $timedPages.IdList.indexOf($timedPage.id)
		#if ($index == -1) {
			#set $timedPages = $timedPageListing.timedPages.orderedBy.get("startTime asc")
			#set $index = $timedPages.IdList.indexOf($timedPage.id)
		}
	}
}}


#if (!$Vars.hasValue("TimedPage_prev_on")) { #templet $TimedPage_prev_on {
	<div class="grid_$grid_prev alpha TimedPage_prev">
	$timedPage.node.explicitHref.prev
	#eval $ScalableSingleImage using {
		"scalableSingleImage":$timedPage.node.compile.pageImg,
		"grid":$grid_prev,
		"a_href":$timedPage.node.url
	}	
	</div>
}}


#if (!$Vars.hasValue("TimedPage_prev_off")) { #templet $TimedPage_prev_off {
	<div class="grid_$grid_prev alpha TimedPage_prev">prev</div>
}}


#if (!$Vars.hasValue("TimedPage_count")) { #templet $TimedPage_count {
	<div class="grid_$grid_count TimedPage_count">
	#eval $TimedPage_init
	#set $v = $index + 1
	\#$v of $timedPages.Size
	</div>
}}


#if (!$Vars.hasValue("TimedPage_next_on")) { #templet $TimedPage_next_on {
	<div class="grid_$grid_next omega TimedPage_next">
	$timedPage.node.explicitHref.next
	#eval $ScalableSingleImage using {
		"scalableSingleImage":$timedPage.node.compile.pageImg,
		"grid":$grid_next,
		"a_href":$timedPage.node.url
	}	
	</div>
}}


#if (!$Vars.hasValue("TimedPage_next_off")) { #templet $TimedPage_next_off {
	<div class="grid_$grid_next omega TimedPage_next">next</div>
}}


#if (!$Vars.hasValue("TimedPage_nav")) { #templet $TimedPage_nav {
	<div class="TimedPage_nav">
	#set $grid_prev = $Vars.padUndefined("grid_prev", 1)
	#set $grid_count = $Vars.padUndefined("grid_count",1)
	#set $grid_next = $Vars.padUndefined("grid_next", 1)
	#eval $TimedPage_init
	#set $i = $timedPages.RecordList.listIterator($index)
	#if ($i.hasPrevious()) {
		#eval $TimedPage_prev_on using $Vars.extendContext({ "timedPage":$i.previous() })
		$Vars.discard($i.next())
	} #else {
		#eval $TimedPage_prev_off
	}

	#if ($grid_count > 0) {
		#eval $TimedPage_count
	}

	$Vars.discard($i.next())
	#if ($i.hasNext()) {
		#eval $TimedPage_next_on using $Vars.extendContext({"timedPage":$i.next()})
	} #else {
		#eval $TimedPage_next_off
	}

	</div> ## timedPage_nav
}}