#templet $TimedPageListing_rss_headerLinks {
	#foreach $t in $db.TimedPageListing.All.is.isPublished.is.hasRssFeed {
  		<link rel="alternate" type="application/rss+xml" title="$t.rssSubscribeTitle" href="$t.rssUrl" />
	}
}

#templet $TimedPageListing_rss_combinedHeaderLink {
	#if ($db.TimedPageListing.All.is.isPublished.is.hasRssFeed.Size > 1) {
		<link rel="alternate" type="application/rss+xml"
		      href="$Strings.padEmpty($nodeMgr.Gettable.get("TimedPageListing-rss-combinedUrl"), "/rss.xml")"
		      title="$Strings.padEmpty($nodeMgr.Gettable.get("TimedPageListing-rss-combinedTitle"), "All RSS Feeds")"/>
	}
}

#templet $TimedPageListing_rss_visibleLink {
	#if ($Vars.hasValue("timedPageListing") && $timedPageListing.hasRssFeed) {
		<a class="RSS" href="$timedPageListing.rssUrl">$timedPageListing.rssSubscribeTitle</a>
	}
}

#templet $TimedPageListing_rss_combinedVisibleLink {
	#if ($db.TimedPageListing.All.is.isPublished.is.hasRssFeed.Size > 1) {
		<a class="RSS" href="$Strings.padEmpty($nodeMgr.Gettable.get("TimedPageListing-rss-combinedUrl"), "/rss.xml")">$Strings.padEmpty($nodeMgr.Gettable.get("TimedPageListing-rss-combinedTitle"), "All RSS Feeds")</a>
	}
}