#set $node = $nodeRequestSegment.Node

#templet $t_content {
	<h1>$node.title</h1>
	<h2>Pages referencing $indexValue.value</h2>
	
	#set $primaryNode = $indexValue.primaryNode
	#if ($primaryNode != null) {
		<dl>
		<dt>Primary reference<dt>
		<dd>$primaryNode.href.title</dd>
		</dl>
	}	
	
	$indexValue.indexPagesLinks
	
	<ul class="semantic">
	#foreach $indexPage_indexValue in $indexValue.indexPagesLinks {
		#if ($indexPage_indexValue.isDefined) {
			<li>
			#set $indexPage = $indexPage_indexValue.indexPage
			#set $matchingNode = $indexPage.node
			#if ($matchingNode.id != 1) {
				#set $matchingParentNodes = $matchingNode.breadcrumbTrail.iterator()
				#if ($matchingParentNodes.hasNext()) {
					#set $matchingParentNode = $matchingParentNodes.next()
					#foreach $matchingParentNode in $matchingParentNodes {
						#if ($matchingParentNodes.hasNext()) { 
							$matchingParentNode.href.htmlTitle /
						}
					}
				}
			}
			<strong>$matchingNode.href.title</strong>
			#if ($indexPage_indexValue.description != "") { 
				<div class="description"><strong>index</strong>: $indexPage_indexValue.description</div> 
			}
			#if ($matchingNode.description != "") { 
				<div class="description"><strong>node</strong>: $matchingNode.description</div> }
			
			</li>
		}
	}
	</ul>
	
	<p>
	#if ($nodeRequest.isAllowed("editIndexValue")) {
		<a href="$node.url?view=editIndexValue&id=$indexValue.id">Edit IndexValue of $(indexValue.value)...</a><br />
	}
	<a href="$node.url">View IndexListing of $(node.title)...</a>
	</p>
}
