
<!-- node/Gntml/download.edit.wm.html -->

#set $gntmlDownloadInstance = $gntmlBlock.Instance
#set $binaryAssetStyle = $gntmlDownloadInstance.style
#set $binaryAssetFormat = $gntmlDownloadInstance.format

<input type="hidden" name="$(gntmlDownloadInstance.namePrefix)isActive" value="true" />

#if ($binaryAssetStyle.hasTitle) {
  $gntmlDownloadInstance.asFormElement.title
}

#if ($binaryAssetStyle.hasDescription) {
  $gntmlDownloadInstance.asFormElement.description
}

<div class="w_labelWidget">
<label>Download</label>
<div class="w_widget w_value">
#if ($gntmlDownloadInstance.isUploaded) {
  <a href="$assetDomain$gntmlDownloadInstance.path" target="_blank">$gntmlDownloadInstance.filename</a> $binaryAssetFormat.name 
 ($gntmlDownloadInstance.sizeKb Kb)
} #else {
  No asset uploaded
}
</div>
</div>

<div class="w_labelWidget">
<label>Format</label>
<div class="w_widget w_select">
#if ($binaryAssetStyle.isFixedFormat) {
  <select name="$(gntmlDownloadInstance.namePrefix)format_id" disabled>
  <option value="$binaryAssetFormat.id">$binaryAssetFormat.name</option>
  </select>
} #else {
  <select name="$(gntmlDownloadInstance.namePrefix)format_id">
  #foreach $targetFormat in $db.BinaryAssetFormat {
    <option value="$targetFormat.id" #if ($gntmlDownloadInstance.format_id==$targetFormat.id) { selected }>$targetFormat.name</option>
  }
  </select>
}
</div>
</div>

<div class="w_labelWidget">
<label>Asset</label>
<div class="w_widget w_file"><input type="file" name="$(gntmlDownloadInstance.namePrefix)file" /></div>
</div>

<!-- node/Gntml/download.edit.wm.html -->

