<!-- node/Gntml/embeddedLinks.edit.wm.html -->

#set $gntmlEmbeddedLinks = $gntmlInstance.gntmlEmbeddedLinks
#if ($gntmlEmbeddedLinks.Size != 0) {
  <fieldset>
  <legend>Embedded Links</legend>
  #foreach $gntmlEmbeddedLink in $gntmlEmbeddedLinks {
    <fieldset>
    #if ($gntmlEmbeddedLink.isReferenced) {

      <legend>$HTMLEscape($gntmlEmbeddedLink.name)</legend>
      #set $targetNode = $gntmlEmbeddedLink.node
      
      <div class="w_widgetLabel">
      <label>Target</label>
      <div class="w_widget w_value">
      #if ($targetNode != null) {
        $targetNode.href.title
      } #else {
        No target defined.
      }
      <br/>
      <a href="$node.url?view=embeddedLink&id=$gntmlEmbeddedLink.id">Browse to target</a><br />
      </div>
      </div>

      <div class="w_widgetLabel">
      <label for="$regionName-$gntmlEmbeddedLink.namespace-nodePath">Target path</label>
      <div class="w_widget w_text"><input name="$(gntmlEmbeddedLink.namePrefix)nodePath" id="$(gntmlEmbeddedLink.namePrefix)nodePath" #if ($targetNode != null) { value="$targetNode.path" } #else { value="" } /></div>
      </div>

      $gntmlEmbeddedLink.asFormElement.contents

      #if ($nodeManager.supportsBackLinks()) {
        $gntmlEmbeddedLink.asFormElement.hasBackLinks
        #if ($gntmlEmbeddedLink.hasBackLinks) {
          $gntmlEmbeddedLink.asFormElement.backLinkTitle
        }
      }
      
      $gntmlEmbeddedLink.asFormElement.titleMode
      
      #if ($gntmlEmbeddedLink.titleMode == 4) {
        $gntmlEmbeddedLink.asFormElement.explicitTitle
      }
      
    } #else {
      <legend>($gntmlEmbeddedLink.name)</legend>
    }
    </fieldset>
  }
  </fieldset>
}

<!-- ! node/Gntml/embeddedLinks.edit.wm.html -->
