#if ($gntmlEmbedVideo.title != "") {
	<div class="gntml_video_title">$gntmlEmbedVideo.title</div>
}
#if ($gntmlEmbedVideo.isValid) {
	$gntmlEmbedVideo.atWidth.get($Dimensions.getCurrent().getContentWidthPx())
} #else {
	<div class="gntml_error">
	Embed Video: $gntmlEmbedVideo.errorMessage
	</div>
}
