
<!-- node/Gntml/gntml.edit.wm.html -->
<fieldset>

#include as template "node/abstractContentCompilerHeader.edit.wm.html"
#if ($compiledRegion.isDefined) {
	#set $gntmlInstance = $compiledRegion
	#set $gntmlDocument = $gntmlInstance.gntmlDocument
	#set $gntmlStyle = $gntmlInstance.style
	#set $regionName = $gntmlInstance.regionStyle.name
	
	type: $gntmlStyle.name
	#if ($gntmlStyle.config.opt("gridMarginLeft") != null) {
		- left margin: $gntmlStyle.config.opt("gridMarginLeft")
	}
	- width: $gntmlStyle.gridWidth
	#if ($gntmlStyle.config.opt("gridMarginRight") != null) {
		- right margin: $gntmlStyle.config.opt("gridMarginRight")
	}

	<div>
	<textarea class="gntmledit $gntmlInstance.style.editCss" name="$regionName-gntml">$gntmlInstance.editableGntml</textarea>
	</div>
	

	<ul class="accordion">
	#foreach $gntmlBlock in $gntmlDocument.Blocks {
		#if ($gntmlBlock.hasEditWidget()) {
			#set $absoluteId = $gntmlBlock.AbsoluteId
			<li>			
			<a data-accordionId="$absoluteId" class="toggle" href="javascript:void(0);" #if ($gntmlBlock.BlockId != null) { name="$gntmlBlock.BlockId)" }>$gntmlBlock.GntmlBlockFactory.EnglishName: $HTMLEscape($gntmlBlock.BlockName)</a>
			<div class="inner">
			#include as template "$gntmlBlock.EditTemplatePath"
			</div>
			</li>
		}
	}
	
	<br/>
	#foreach $inlineTag in $gntmlDocument.GntmlMgr.InlineTags.values() {
		#if ($inlineTag.hasEditWidget()) {
			#include as template "$inlineTag.EditTemplatePath"
		}
	}
	</ul>
	
}
</fieldset>
$Requirements.needs("jquery-ui")
<script>
#text #begin
$('.toggle').each(function(e) {
	var accordionId = $(this).attr('data-accordionId');
	if (sessionStorage.getItem(accordionId)) {
		$(this).next().addClass('initshow').addClass('show');
	}
}); 
$('.toggle').click(function(e) {
  	e.preventDefault();
    var $this = $(this);
	var accordionId = $this.attr('data-accordionId');  
    if ($this.next().hasClass('show')) {
        $this.next().removeClass('show');
        $this.next().slideUp(350);
        sessionStorage.removeItem(accordionId);
        console.log(accordionId);
    } else {
        $this.next().addClass('show');
        $this.next().slideDown(350);
        sessionStorage.setItem(accordionId, true);
    }
});
#end
</script>
<!-- end end/Gntml/gntml.edit.wm.html -->
