<!-- node/Gntml/GntmlDownloadBlock.wm.html -->
<h4>$gntml_dmd_title</h4>
<p>
#if ($gntml_dmd_isUploaded) {
  <a href="$assetDomain$gntml_dmd_urlPath">$gntml_dmd_filename</a>
  <span class="gntml_download_size">($gntml_dmd_formatName - $gntml_dmd_formattedSize)</span>
  #if ($gntml_dmd_description != "") {
    <span class="gntml_download_caption">$gntml_dmd_description</span>
  }
} #else {
  No asset uploaded.
}
</p>
<!-- ! node/Gntml/GntmlDownloadBlock.wm.html -->

