#include as template "node/SingleImage/singleImage.templets.view.wm.html"
#if ($gntmlImageInstance.title != "") {
	<h4>$gntmlImageInstance.title</h4>
}
#if ($gntmlImageInstance.hasZoomedView) {
	<a href="$node.url?view=zoomImageBlock&id=$gntmlImageInstance.zoomedId">#eval $singleImage_view using { "compiledRegion":$gntmlImageInstance }</a>
} #elseif ($gntmlImageInstance.hasNodeTarget) {
	#set $targetNode = $gntmlImageInstance.targetNode
	#if ($targetNode != null) {
		<a href="$targetNode.url">#eval $singleImage_view using { "compiledRegion":$gntmlImageInstance }</a>
	} #else {
		#eval $singleImage_view using { "compiledRegion":$gntmlImageInstance }
	}
} #else {
	#if ($gntmlImageInstance.imageTarget != "") {
		<a href="$gntmlImageInstance.imageTarget">#eval $singleImage_view using { "compiledRegion":$gntmlImageInstance }</a>
	} #else {
		#eval $singleImage_view using { "compiledRegion":$gntmlImageInstance }
	}
}
