#if ($gntmlPageList.listTitle != null) {
	<p class="heading"><strong>$gntmlPageList.listTitle</strong></p>
}
#set $nodesLinks = $gntmlPageList.nodesLinks.is.isDefined.sortByNumberTitle
#set $nodes = $nodesLinks.followLink.node_id
#include as template "$gntmlPageList.listingView"
