#set $imgOriginal = $gntmlScalableImage.imgOriginal

#if ($gntmlScalableImage.title != "") {
	<div class="gntml_title heading">$gntmlScalableImage.title</div>
}

#if ($imgOriginal == null) {
	<div class="gntml_error">$gntmlScalableImage.blockName: No image uploaded yet</div>
} #else {

	#setblock $imgTag {
		$imgOriginal.atWidthFormat.get($Dimensions.getCurrent().getContentWidthPx()).get($gntmlScalableImage.imgFormat_id).imgTag.attr("alt", $gntmlScalableImage.alt)
	}

	#if ($gntmlScalableImage.functionality.Name == "NONE") {
		$imgTag
	} #elseif ($gntmlScalableImage.functionality.Name == "ZOOM") {
		<a href="$node.url?view=zoomScalableImage&id=$gntmlScalableImage.id\#node_title" title="View zoomed image" class="ZOOM">$imgTag</a>
	} #elseif ($gntmlScalableImage.functionality.Name == "NODE") {
		#set $targetNode = $gntmlScalableImage.targetNode
		#if ($targetNode != null) {
			<a href="$targetNode.url" class="NODE">$imgTag</a>
		} #else {
			$imgTag
		}
	} #elseif ($gntmlScalableImage.functionality.Name == "EXTERNAL") {
		<a href="$gntmlScalableImage.imageTarget" rel="external" class="EXTERNAL">$imgTag</a>
	} #elseif ($gntmlScalableImage.functionality.Name == "DOWNLOAD") {
		<a href="$imgOriginal.url" title="Download full size image ($imgOriginal.width x $imgOriginal.height)">$imgTag</a>
	} #else {
		<div class="gntml_error">Unknown functionality type: $gntmlScalableImage.functionality.Name</div>
	}

	#if ($gntmlScalableImage.isDownloadable) {
		<p class="img_download">
		#eval $ga_trackedlink using {
			"href":$imgOriginal.url,
			"contents":"Download image",
			"rel":"external"
		}
		($(imgOriginal.sizeKb)Kb $(imgOriginal.width)x$(imgOriginal.height) $imgOriginal.imgFormat.imFormat)</p>
	}

}
