#templet $ScalableImage_title {
	#if ($gntmlScalableImage.title != "") {
		<h2 class="GntmlScalableImage_zoom_title">$gntmlScalableImage.title</h2>
	}
}

#if (!$Vars.hasValue("ScalableImage_zoom_img")) { #templet $ScalableImage_zoom_img {
	#set $imgOriginal = $gntmlScalableImage.imgOriginal
	<a href="$gntmlScalableImage.url" title="Back to $node.title">$imgOriginal.atWidthFormat.get($Grid.getWidth($grid_width)).get($gntmlScalableImage.imgFormat_id).imgTag.attr("class","ScalableImage_img_zoom")</a>
} }

#templet $ScalableImage_zoom_caption {
	#if ($gntmlScalableImage.zoomCaption != "") {
		<p class="GntmlScalableImage_zoomCaption">$gntmlScalableImage.zoomCaption</p>
	}
}

#templet $ScalableImage_download {
	#set $imgOriginal = $gntmlScalableImage.imgOriginal
	#if ($gntmlScalableImage.isDownloadable) {
		<p class="GntmlScalableImage_imgDownload">
		#eval $ga_trackedlink using {
			"href":$imgOriginal.url,
			"contents":"Download image",
			"rel":"external"
		}
		($(imgOriginal.sizeKb)Kb $(imgOriginal.width)x$(imgOriginal.height) $imgOriginal.imgFormat.imFormat)
		</p>
	}
}

#templet $ScalableImage_zoom_back {
	<p class="GntmlScalableImage_zoomBack"><a href="$gntmlScalableImage.url">Back...</a></p>
}

#templet $ScalableImage_zoom {
	#eval $ScalableImage_title
	#eval $ScalableImage_zoom_img
	#eval $ScalableImage_zoom_caption
	#eval $ScalableImage_download
	#eval $ScalableImage_zoom_back
}