#set $blockName = $gntmlBlock.BlockName
#set $gntmlScalableImage = $gntmlBlock.Instance

$gntmlScalableImage.asFormElement.isActive

#set $imgSearch = $nodeMgr.ImgMgr.createImgSearch("$node.url?view=update&$compiledRegion.regionStyle.name-isDefined=true&$(gntmlScalableImage.namePrefix)isActive=true&$(gntmlScalableImage.namePrefix)imgOriginal_id=", $nodeRequest)

<a href="$imgSearch.QueryBase&view=ImgOriginal_Search">Choose Image</a>

#set $imgOriginal = $gntmlScalableImage.imgOriginal
#if ($imgOriginal == null) {
  $Forms.value("Current Image", "<span class=\"error\">No image selected</span>", "status")
} #else {
  $Forms.value("Current Image", $imgOriginal.atWidthFormat.get(100).get($gntmlScalableImage.imgFormat_id).imgTag, "status")
  $Forms.value("Download Original", "<a href='$imgOriginal.url'>$imgOriginal.url</a>", "download")
}
## $gntmlScalableImage.asFormElement.file
## $gntmlScalableImage.asFormElement.imgOriginal_id
$gntmlScalableImage.asFormElement.imgFormat_id

<hr/>

$gntmlScalableImage.asFormElement.title
$gntmlScalableImage.asFormElement.alt

<hr/>


$gntmlScalableImage.asFormElement.functionality
#if ($gntmlScalableImage.functionality.Name == "ZOOM") {
	$gntmlScalableImage.asFormElement.zoomCaption        
} #elseif ($gntmlScalableImage.functionality.Name == "NODE") {
	$gntmlScalableImage.asFormElement.targetNode_id
	$gntmlScalableImage.asFormElement.hasBackLink
	#if ($gntmlScalableImage.hasBackLink) {
		$gntmlScalableImage.asFormElement.backLinkTitle
		$Forms.value("", "leave empty to use page title", "backLinkTitle-support")
	}
} #elseif ($gntmlScalableImage.functionality.Name == "EXTERNAL") {
	$gntmlScalableImage.asFormElement.imageTarget
}

$gntmlScalableImage.asFormElement.isDownloadable




