#if (!$rss_templets) {

  ## Generate linkrel entries for all child and sibling nodes of the
  ## specified $node that have the specified numeric $rssNodeStyle.
  ## required: $node $rssNodeStyle

  #templet $rss_linkrel {
    #set $db = $OuterVars.db
    #set $nodeRequest = $OuterVars.nodeRequest
    
	#foreach $rssNode in $db.Node.All.is.isPublished.numericalEquals.nodeStyle_id.get($rssNodeStyle) {
      #if ($nodeRequest.NodeManager.UnpublishedNodeTracker.isPublished($rssNode) && ($rssNode.isChildOf.get($node) || $rssNode.parentNode == $node.parentNode)) {
	    <link rel="alternate" type="application/rss+xml"
	          title="$rssNode.parentNode.title" href="$rssNode.url" />
	  }
	}
  }

  ## Generate a link to the rss feed with $rssNodeStyle for the specified
  ## $node, if it exists.
  ## required: $rssNodeStyle
  ## optional: $node $imgSrc $title

  #templet $rss_iconLink {
	#set $node = $Vars.pad("node", $OuterVars.node)  
	#set $imgSrc = $Vars.pad("imgSrc", "$(Global.httpServletPath)/$(Global.staticsBuildNodePath)/img/feed-icons/feed-icon-14x14.png")
	#set $title = $Vars.pad("title", "Subscribe to this page's RSS newsfeed")

	#set $rssNodes = $node.childrenNodesByNodeStyle.get($rssNodeStyle)
	#if ($rssNodes.Size == 0) {
	  #set $rssNodes = $node.parentNode.childrenNodesByNodeStyle.get($rssNodeStyle)
	}
	
	#if ($rssNodes.Size != 0) {
	  <a class="f_rssLink" href="$rssNodes.FirstRecord.url">
	  <img src="$imgSrc" alt="RSS Feed" title="$title"/></a>
	}
  }

  #set $rss_templets = true
}
