## ***************
## ** t_content **
## ***************
#if (!$Vars.hasValue("t_content")) { #templet $t_content {

	#eval $t_node_title
	<h2>Missing definition of t_content</h2>

	<dl>
	<dt>node</dt><dd>$node</dd>
	<dt>nodeStyle</dt><dd>$node.nodeStyle</dd>
	<dt>view</dt><dd>$nodeRequest.View</dd>
	<dt>templatePath</dt><dd>$node.nodeStyle.viewTemplatePath</dd>
	</dl>

}}



## **********************
## ** t_contentWrapper **
## **********************
#if (!$Vars.hasValue("t_contentWrapper")) { #templet $t_contentWrapper {
	#eval $t_content using $Vars.copyContext()
	#eval $t_editorWidgets using $Vars.copyContext()
}}



## *********************
## ** t_editorWidgets **
## *********************
#if (!$Vars.hasValue("t_editorWidgets")) { #templet $t_editorWidgets {
	<div class="content">
	#include as template "viewControls.wm.html"
	</div>
}}



## **************
## ** t_footer **
## **************
#if (!$Vars.hasValue("t_footer")) { #templet $t_footer {
	#set $compiledRegion = $node.youngestCompile.pageFooterDoc
	#if ($compiledRegion != null) {
		#include as template "$compiledRegion.viewTemplatePath"
	}
}}



## **************
## ** t_header **
## **************
#if (!$Vars.hasValue("t_header")) { #templet $t_header {
	#set $compiledRegion = $node.youngestCompile.pageHeaderDoc
	#if ($compiledRegion != null) {
		#include as template "$compiledRegion.viewTemplatePath"
	}
}}

## ************
## ** t_left ** 
## ************
#include as template "node/m_menu/treeFull.wm.html"
#if (!$Vars.hasValue("t_left")) { #templet $t_left {
	#eval $m_treeFull using {
		"parentNode": $rootNode,
		"includeParent": true
	}

	#eval $t_RSS_visibleLinks

	#set $compiledRegion = $node.compile.leftDoc
	#if ($compiledRegion != null) {
		#include as template "$compiledRegion.viewTemplatePath"
	}
}}



## ******************
## ** t_node_title **
## ******************
#if (!$Vars.hasValue("t_node_title")) { #templet $t_node_title {
	#if (!$Global.hasNodeTitle) {
		<h1 class="node_title content">
		#if ($Vars.hasValue("node_title")) { $node_title } #else { $node.title }
		</h1>
		#set $Global.hasNodeTitle = true
	}
}}



## ********************
## ** t_rightWrapper **
## ********************
#if (!$Vars.hasValue("t_rightWrapper")) { #templet $t_rightWrapper {
	#eval $t_right_header
	#eval $t_right
	#eval $t_right_footer
}}


## ********************
## ** t_right_header **
## ********************
#if (!$Vars.hasValue("t_right_header")) { #templet $t_right_header {
	#include as template "InForm/include/globalSearchForm.wm.html"
}}

## *************
## ** t_right **
## *************
#if (!$Vars.hasValue("t_right")) { #templet $t_right {
	#set $compiledRegion = $node.compile.rightDoc
	#if ($compiledRegion != null) { #include as template "$compiledRegion.viewTemplatePath" }
}}

## ********************
## ** t_right_footer **
## ********************
#if (!$Vars.hasValue("t_right_footer")) { #templet $t_right_footer {
	#include as template "listRelatedPages.wm.html"
	#eval $IndexPage_delegatingTemplate
}}


## ******************
## ** t_row_header **
## ******************
#if (!$Vars.hasValue("t_row_header")) { #templet $t_row_header {
	<div class="grid_row"><div class="t_row t_row_header">
	$Dimensions.openDivDiv($Dimensions.Current.ContentWidth, "t_header")
	#eval $t_header
	$Dimensions.close()
	</div></div>
}}



## *******************
## ** t_row_content **
## *******************
#if (!$Vars.hasValue("t_row_content")) { #templet $t_row_content {
	<div class="grid_row"><div class="t_row t_row_content">

	#set $grid_width_left = $Vars.padUndefined("grid_width_left", 3)
	$Dimensions.openDivDiv($grid_width_left, "t_left")
	#eval $t_left using $Vars.copyContext()
	$Dimensions.close()
	
	#set $grid_width_content = $Vars.padUndefined("grid_width_content",6)
	$Dimensions.openDivDiv($grid_width_content, "t_content")
	#eval $t_contentWrapper using $Vars.copyContext()
	$Dimensions.close()
	
	#set $grid_width_right = $Vars.padUndefined("grid_width_right",3)
	$Dimensions.openDivDiv($grid_width_right, "t_right")
	#eval $t_rightWrapper using $Vars.copyContext()
	$Dimensions.close()

	</div></div>
}}



## ******************
## ** t_row_footer **
## ******************
#if (!$Vars.hasValue("t_row_footer")) { #templet $t_row_footer {
	<div class="grid_row"><div class="t_row t_row_footer">
	$Dimensions.openDivDiv($Dimensions.Current.ContentWidth, "t_footer")
	#eval $t_footer
	$Dimensions.close()
	</div></div>
}}

## ************************
## ** t_RSS_visibleLinks **
## ************************
#if (!$Vars.hasValue("t_RSS_visibleLinks")) { #templet $t_RSS_visibleLinks {
	#setblock $b_rss {
		#if ($Vars.hasValue("timedPageListing")) { #eval $TimedPageListing_rss_combinedVisibleLink }
		#eval $TimedPageListing_rss_visibleLink
		#eval $ImagePageListing_rss_visibleLink
	}
	#if ($b_rss.trim() != "") {
		<div class="RSS_links">
		$b_rss
		</div>
	}
}}

## *************************
## ** t_javascript_footer **
## *************************
#if (!$Vars.hasValue("t_javascript_footer")) { #templet $t_javascript_footer {
	<script type="text/javascript">
	$Requirements.needs("verticalRhythm")
	vr_pad_both('img',$Grid.LineHeight);
##	vr_field('.gntml_plus_field_shim', $Grid.getLineHeight(8));
	</script>
}}

## ***************
## ** t_wrapper **
## ***************
#if (!$Vars.hasValue("t_wrapper")) { #templet $t_wrapper {
	#eval $t_row_header using $Vars.copyContext()
	#eval $t_row_content using $Vars.copyContext()
	#eval $t_row_footer using $Vars.copyContext()
	#eval $t_javascript_footer
}}
