<div class="f_globalSearch">
<div class="f_globalSearch_i">
<form method="get" action="$httpServletPath/Search">
<fieldset>
<input type="hidden" name="view" value="search" />
<label for="f_globalSearchInput" class="f_hidden">Search</label>
<input id="f_globalSearchInput" class="f_globalSearchInput" name="AS_fulltext_searchTerms" value="$StringUtils.padNull($nodeRequest.getString("AS_fulltext_searchTerms"))" />
<input class="f_globalSearchSubmit" type="submit" value="Search" />
</fieldset>
</form>
</div>
</div>
