<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>#include as template "InForm/include/title.wm.html"</title>

<link rel="icon" type="image/png" href="$assetDomain/$staticsPath/img/favicon.png"/>
#include as template "node/HtmlMetaTag/HtmlMetaTag-header.view.wm.html"

$GettableUtils.get($nodeConfig, "google.webmaster-tools.meta", "")

<!--[if lt IE 7]>
<script defer type="text/javascript" src="/statics/scripts/supersleight/supersleight-min.js"></script>
<![endif]-->

$Requirements.needs("relExternalLinks")
#if ($isEditor || $hasHashgrid) {
	$Requirements.needs("hashgrid")
}

#eval $TimedPageListing_rss_combinedHeaderLink
#eval $TimedPageListing_rss_headerLinks
#eval $ImagePageListing_rss_headerLinks
