#templet $t_editorWidgets {
	<div class="content">
	#include as template "viewControls.wm.html"
	#if ($nodeRequest.View != "precommit") {
		#if ($isDesigner) {
			<fieldset class="widgetGrouping"><legend>Rights Configuration</legend>  
			#if ($isSystem) {
				<a href="$node.url?view=grantDesignerRights">Configure Designer Rights</a><br />
			}
			<a href="$node.url?view=grantEditorRights">Configure Editor Rights</a>
			</fieldset>
			<fieldset class="widgetGrouping"><legend>Force CSS reload</legend>
			Last Performed: $node.compile.gridDefinition.hashstamp
			<a href="$node.url?view=updateGridDefinitionHash">Force Reload</a>
			</fieldset>
		}
		#if ($isSystem) {
			<fieldset class="widgetGrouping"><legend>Load and Save site to JSON</legend>
			<a href="$node.url?view=SaveSite">Save Site</a><br />
			<a href="$node.url?view=LoadSite">Load Site</a><br />
			</fieldset>
		}
	}
	</div>
}
