
<!-- node/ExtendedImage/detail.wm.html -->
<div class="extendedImageInstanceFrame">
#if ($extendedImageInstance.title != "") {
  <h2 class="extendedImageDetailTitle">$extendedImageInstance.title</h2>
}
#if ($extendedImageInstance.detailImage_id != 0) {
  #set $compiledRegion = $extendedImageInstance.detailImage
} #else {
  #set $compiledRegion = $extendedImageInstance.thumbnailImage
}
#if ($extendedImageInstance.clickImageUrl == "") {
  #include as template "node/SingleImage/singleImage.view.wm.html"
} #else {
  <a href="$extendedImageInstance.clickImageUrl" #if ($extendedImageStyle.detailWindowName != "") { target="$extendedImageStyle.detailWindowName" }>#include as template "node/SingleImage/singleImage.view.wm.html"</a>
}
#if ($extendedImageStyle.backText != "") {
<p class="extendedImageDetailBackText">$extendedImageStyle.backText</p>
}
<pre>
$extendedImageInstance.node.debug()
</pre>
#if ($extendedImageInstance.backImage_id > 0) {
  #set $compiledRegion = $extendedImageInstance.backImage
  #if ($extendedImageStyle.backInvokesClose) {
    <a href="javascript:window.close()">#include as template "node/SingleImage/singleImage.view.wm.html"</a>
  } #else {
    <a href="$httpServletPath$extendedImageInstance.node.path">#include as template "node/SingleImage/singleImage.view.wm.html"</a>
  }
}
</div>
<!-- ! node/ExtendedImage/detail.wm.html -->

