
<!-- node/ExtendedImage/extendedImage.edit.wm.html -->
<div class="editWidget">
#set $extendedImageInstance = $compiledRegion
#set $region = $compiledRegion.region
#set $extendedImageStyle = $extendedImageInstance.style

#if ($extendedImageInstance.style.isOptional) {
  <input type="hidden" name="$region.name-isDefined-active" value="true">
  <INPUT TYPE="checkbox" NAME="$region.name-isDefined" #if ($extendedImageInstance.isDefined) { CHECKED } onclick="this.form.submit()">
} #else {
  <INPUT TYPE="checkbox" DISABLED CHECKED>
}
<SPAN CLASS="defaultFont">$region.regionStyle.title</SPAN>
<BR>

#if ($extendedImageInstance.isDefined) {

  <table>
    <tr>
      <td class="fieldName">detail title</td>
      <td><input class="defaultFont" name="$region.name-title" value="$extendedImageInstance.inputValue.title"></td>
    </tr>
    #if ($extendedImageStyle.isEditableClickImageUrl) {
    <tr>
      <td class="fieldName">click image url</td>
      <td><input class="defaultFont" name="$region.name-clickImageUrl" value="$extendedImageInstance.inputValue.clickImageUrl"></td>
    </tr>
    }
  </table>

  #set $compiledRegion = $extendedImageInstance.thumbnailImage
  #set $regionName="$(region.name)-thumbnail"
  <div class="region">#include as template "$compiledRegion.editTemplatePath"</div>

  #if ($extendedImageInstance.detailImage_id != 0) {
    #set $compiledRegion = $extendedImageInstance.detailImage
    #set $regionName="$(region.name)-detail"
    <div class="region">#include as template "$compiledRegion.editTemplatePath"</div>
  }

  #if ($extendedImageInstance.backImage_id != 0) {
    #set $compiledRegion = $extendedImageInstance.backImage
    #set $regionName="$(region.name)-back"
    <div class="region">#include as template "$compiledRegion.editTemplatePath"</div>
  }
}
</div>
<!-- node/ExtendedImage/extendedImage.edit.wm.html -->