#set $TimedPageListing_listing = $Vars.pad("TimedPageListing_listing", "appcc/TimedPageListing/listing/singleList.wm.html")
#set $TimedPageListing_item = $Vars.pad("TimedPageListing_item", "appcc/TimedPage/title.wm.html")
#set $TimedPageListing_paginatorMenu = $Vars.pad("TimedPageListing_paginatorMenu", "paginatorMenu.wm.html")
<div class="TimedPageListing TimedPageListing_event content">
#if ($nodeRequest.i_PageIndex == null) {
	#set $futureTimedPages = $timedPageListing.timedPages.is.isPublished.futureEvents
	#if ($futureTimedPages.Size > $timedPageListing.pageSize) {
		#set $paginator = $nodeRequest.getPaginator("f", $timedPageListing.pageSize)
		$paginator.setSourceQuery($futureTimedPages)
		#set $itemName = $timedPageListing.itemName
		#set $itemNames = $timedPageListing.itemsName
		#if ($Strings.notEmpty($TimedPageListing_paginatorMenu)) {
			#include as template "$TimedPageListing_paginatorMenu"
		}
		#set $timedPages = $paginator.RecordSource
	} #else {
		#set $timedPages = $futureTimedPages
	}
	<div class="TimedPageListing_TimedPage">
	#include as template "$TimedPageListing_listing"
	</div>
	<p class="f_nav"><a href="$node.url?i_PageIndex=1">Past $timedPageListing.itemsName</a></p>
} #else {
	#set $pastTimedPages = $timedPageListing.timedPages.is.isPublished.pastEvents
	#set $paginator = $nodeRequest.getPaginator("i", $timedPageListing.pageSize)
	$paginator.setSourceQuery($pastTimedPages)
	#set $itemName = $timedPageListing.itemName
	#set $itemNames = $timedPageListing.itemsName
	#if ($Strings.notEmpty($TimedPageListing_paginatorMenu)) {
		#include as template "$TimedPageListing_paginatorMenu"
	}
	#set $timedPages = $paginator.RecordSource
	<div class="TimedPageListing_TimedPage">
	#include as template "$TimedPageListing_listing"
	</div>
	<p class="f_nav"><a href="$node.url">Upcoming $timedPageListing.itemsName</a></p>	
}
</div>
