<div class="TimedPageListing TimedPageListing_blog content">
#set $TimedPageListing_listing = $Vars.pad("TimedPageListing_listing", "appcc/TimedPageListing/listing/singleList.wm.html")
#set $TimedPageListing_paginatorMenu = $Vars.pad("TimedPageListing_paginatorMenu", "paginatorMenu.wm.html")
#set $timedPages = $timedPageListing.timedPages.is.isPublished
#set $paginator = $nodeRequest.getPaginator("i",$timedPageListing.pageSize)
$paginator.setSourceQuery($timedPages)
#set $itemName = $timedPageListing.itemName
#set $itemsName = $timedPageListing.itemsName
#if ($Strings.notEmpty($TimedPageListing_paginatorMenu)) {
	#include as template "$TimedPageListing_paginatorMenu"
}
#set $dateFormat = $Vars.pad("dateFormat","shortDateTime")
#set $timedPages = $paginator.RecordSource
<div class="TimedPageListing_TimedPage">
#include as template "$TimedPageListing_listing"
</div>
</div>