#set $TimedPageListing_listing = $Vars.pad("TimedPageListing_listing", "appcc/TimedPageListing/listing/singleList.wm.html")
#set $TimedPageListing_item = $Vars.pad("TimedPageListing_item", "appcc/TimedPage/title.wm.html")
#set $TimedPageListing_paginatorMenu = $Vars.padUndefined("TimedPageListing_paginatorMenu", "paginatorMenu.wm.html")
<div class="TimedPageListing TimedPageListing_event content">
#if ($nodeRequest.p_PageIndex == null) {
	#set $futureTimedPages = $timedPageListing.timedPages.is.isPublished.futureEvents
	#if ($futureTimedPages.Size == 0) {
		<p>There are no forthcoming $(timedPageListing.itemsName).
	} #else {
		#if ($timedPageListing.pageSize > 0) {
			#set $paginator = $nodeRequest.getPaginator("f", $timedPageListing.pageSize)
			$paginator.setSourceQuery($futureTimedPages)
			#if ($TimedPageListing_paginatorMenu != null) {
				#set $itemName = $timedPageListing.itemName
				#set $itemNames = $timedPageListing.itemsName
				#include as template "$TimedPageListing_paginatorMenu"
			}
			#set $timedPages = $paginator.RecordSource
		} #else {
			#set $timedPages = $futureTimedPages
		}
		<div class="TimedPageListing_TimedPage">
		#include as template "$timedPages_grouping"
		</div>
	}
	<p class="f_nav"><a href="$node.url?p_PageIndex=1">Past $timedPageListing.itemsName</a></p>
} #else {
	#set $pastTimedPages = $timedPageListing.timedPages.is.isPublished.pastEvents
	#if ($pastTimedPages.Size == 0) {
		<p>There are no past $(timedPageListing.itemsName).</p>
	} #else {
		#if ($timedPageListing.pageSize > 0) {
			#set $paginator = $nodeRequest.getPaginator("p", $timedPageListing.pageSize)
			$paginator.setSourceQuery($pastTimedPages)
			#if ($TimedPageListing_paginatorMenu != null) {
				#set $itemName = $timedPageListing.itemName
				#set $itemNames = $timedPageListing.itemsName
				#include as template "$TimedPageListing_paginatorMenu"
			}
			#set $timedPages = $paginator.RecordSource
		} #else {
			#set $timedPages = $pastTimedPages
		}
		<div class="TimedPageListing_TimedPage">
		#include as template "$timedPages_grouping"
		</div>
	}
	<p class="f_nav"><a href="$node.url">Upcoming $timedPageListing.itemsName</a></p>	
}
</div>
