#if (!$Variable.isDefined("n_listing_templets")) {
  <!-- node/listing/templets.wm.html -->
  
  ## comp: queryListing
  ## opt: actionNode
  #templet $n_listing_openForm {
    <form class="filter" method="post"
    #if ($Vars.hasValue("actionNode")) { 
      action="$actionNode.url" 
    } #else { 
      action="$OuterVars.node.url" }>
    <fieldset class="n_listing_menu">
    $queryListing.HiddenInputs    
  }
  
  ## comp: queryListing
  ## opt: label
  #templet $n_listing_orderWidget {
    #if ($queryListing.hasOrderBy()) {
      #set $name = $queryListing.CgiOrderBy
      #if ($Variable.isDefined("label")) {
        <label for="$name">$label</label>
      }
      <div id="n_listing_orderBy" class="w_labelWidget">
      <select name="$name" id="$name">
      #foreach $orderBy in $queryListing.Factory.getOrderBys($OuterVars.nodeRequest.User.id,null) {
        <option value="$orderBy.RecordOrdering.Name" #if ($queryListing.OrderBy == $orderBy) { selected="selected" }>$orderBy.EnglishName</option>
      }
      </select>
      </div>
    }
  }
  
  ## comp: queryListing
  ## opt : label
  #templet $n_listing_templateWidget {
    #set $name = $queryListing.CgiTemplatePath
    #if ($Variable.isDefined("label")) {
      <label for="$name">$label</label>
    }
    <select name="$name" id="$name">
    #foreach $view in $queryListing.Factory.getViews($OuterVars.nodeRequest.User.id,null) {
      <option value="$view.TemplatePath" #if ($queryListing.View == $view) { selected="selected" }>$view.EnglishName</option>
    }
    </select>
  }
  
  #templet $n_listing_closeForm {
    </fieldset></form>
  }
  
  #set $n_listing_templets = true
}
