
<!-- node/Temporal/temporal.edit.wm.html -->

#set $region = $compiledRegion.region
#set $temporalName = $region.name
#set $temporalIsDefined = $compiledRegion.isDefined
#set $temporalStyle = $compiledRegion.style


#if ($compiledRegion.style.isOptional) {
  <input type="hidden" name="$region.name-isDefined-active" value="true">
  <INPUT TYPE="checkbox" NAME="$region.name-isDefined" #if ($compiledRegion.isDefined) { CHECKED } onclick="this.form.submit()">
} #else {
  <INPUT TYPE="checkbox" DISABLED CHECKED>
}
<SPAN CLASS="defaultFont">$region.regionStyle.title</SPAN>
<BR>

#if ($compiledRegion.isDefined) {
  #set $record = $compiledRegion
  <TABLE width="100%">
  #if ($temporalStyle.hasEventDate) {
    <TR>
    <TD CLASS="fieldName" COLSPAN="2">$temporalStyle.eventDateLabel</TD>
    <TD>
    #set $fieldName = "eventDate"
    #include as template "node/IndexedFastDate/indexedFastDate.edit.wm.html"
    </TD>
    </TR>
  }
  #if ($temporalStyle.hasPublishDate) {
    <TR>
    <TD CLASS="fieldName" ROWSPAN="2">$temporalStyle.publishDateLabel</TD>
    <TD CLASS="fieldName">From</TD>
    <TD>
    #set $fieldName = "publishDateStart"
    #include as template "node/IndexedFastDate/indexedFastDate.edit.wm.html"
    </TD>
    </TR>
    <TR>
    <TD CLASS="fieldName">To</TD>
    <TD>
    #set $fieldName = "publishDateEnd"
    #include as template "node/IndexedFastDate/indexedFastDate.edit.wm.html"
    </TD>
    </TR>
  }
  </TABLE>
}

<!-- end node/Temporal/temporal.edit.wm.html -->
