<!-- node/IndexedFastDate/indexedFastDate.edit.wm.html -->

## expects $region = Region in which the index date is registered (check this)
## expects $record = the record in which the IndexedFastDate is registered
## expects $fieldName = the fieldname of the IndexedFastDate in $record

#set $precision = $record.getFieldFilter($fieldName).Precision

#if ($precision <= 4) {
  #set $allDays = [ 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31 ]
  #set $currentDay = $record.get("$(fieldName)_day").day
  <SELECT CLASS="defaultFont" NAME="$region.name-$(fieldName)Day">
  #foreach $day in $allDays {
    <OPTION VALUE="$day" #if ($day==$currentDay) { SELECTED }>$day</OPTION>
  }
  </SELECT>
}
#if ($precision <= 5) {
  #set $allMonths = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ]
  #set $currentMonth = $record.get("$(fieldName)_month").month
  <SELECT CLASS="defaultFont" NAME="$region.name-$(fieldName)Month">
  #foreach $month in $allMonths indexing $index {
    <OPTION VALUE="$index" #if ($index == $currentMonth) { SELECTED }>$month</OPTION>
  }
  </SELECT>
}
#set $allYears = [ 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010 ]
#set $currentYear = $record.get("$(fieldName)_year").year
<SELECT CLASS="defaultFont" NAME="$region.name-$(fieldName)Year">
#foreach $year in $allYears {
  <OPTION VALUE="$year" #if ($currentYear == $year) { SELECTED }>$year</OPTION>
}
</SELECT>
#if ($precision <= 3) {
  &nbsp;
  #set $allHours = [ "00", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23" ]
  #set $targetHours = $record.get("$(fieldName)Hour")
  <SELECT NAME="$region.name-$(fieldName)Hour" CLASS="defaultFont">
  #foreach $hour in $allHours indexing $index from 0 {
    <OPTION VALUE="$index" #if ($index == $targetHours) { SELECTED }>$hour</OPTION>
  }
  </SELECT>
  #if ($precision <= 2) {
    #set $zeroToSixty = [ "00", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31", "32", "33", "34", "35", "36", "37", "38", "39", "40", "41", "42", "43", "44", "45", "46", "47", "48", "49", "50", "51", "52", "53", "54", "55", "56", "57", "58", "59", "60", "61", "62", "63", "64", "65", "66", "67", "68", "69" ]
    #set $targetMinute = $record.get("$(fieldName)Minute")
    <SELECT NAME="$region.name-$(fieldName)Minute"CLASS="defaultFont">
    #foreach $minute in $zeroToSixty indexing $index from 0 {
      <OPTION VALUE="$index" #if ($index == $targetMinute) { SELECTED }>$minute</OPTION>
    }
    </SELECT>
    #if ($precision <= 1) {
      #set $targetSecond = $record.get("$(fieldName)Second")
      <SELECT NAME="$region.name-$(fieldName)Second" CLASS="defaultFont">
      #foreach $second in $zeroToSixty indexing $index from 0 {
        <OPTION VALUE="$index" #if ($index == $targetSecond) { SELECTED }>$second</OPTION>
      }
      </SELECT>&nbsp;
    }
  }
}

<!-- end node/IndexedFastDate/indexedFastDate.edit.wm.html -->