#templet $renderGeneration {
	#set $generation = $generation + 1
	#if ($generation <= $sitemap.generations) {
		#set $childrenNodes = $sitemap.pageTypes.filterNodes($parentNode.childrenNodes)
		#if ($childrenNodes.Size > 0) {
			<ul>
			#if ($generation == 1) {
				<li>$parentNode.href.title</li>
			}
			#foreach $childNode in $childrenNodes {
				<li>
				$childNode.href.title
				#eval $Self using $Vars.extendContext({ "parentNode":$childNode, "generation":$generation })
				</li>	
			}
			</ul>
		}
	}
}

#eval $renderGeneration using $Vars.extendContext({	"parentNode":$sitemap.paddedMapRootNode, "generation":0 })