#set $indexValues = $indexListing.indexValues.is.isPublished
#if ($indexValues.Size > 0) {
	<div class="IndexListing"><div class="title">
	#set $i = $indexValues.RecordList.iterator()
	<p>
	$i.next().href.title#foreach $indexValue in $i {, $indexValue.href.title}
	</p>
	</div></div>
}