#foreach $indexValue in $indexListing.indexValues.is.isPublished {
	<div class="IndexListing"><div class="title_title">
	<p>$indexValue.href.title: 
	#set $indexPages = $indexValue.indexPages
	#foreach $indexPage in $indexPages {
		#if ($indexPage.node.isPathPublished) {
			$indexPage.node.href.title, 
		}
	}
	</p>
	</div></div>
}
