#set $Response.ContentType = "text/css; charset=UTF-8"
#param $TemplateOutputEncoding="UTF-8"
$Grid.generateCss()
#include as template "node/Grid/css/defineConstants.wm.css"
body \{ 
  line-height: $(l1)px ;
  #set $i = $l1 * 2 /3
  font-size: $(i)px ;
\}
#include as template "Grid/css/typography.wm.css"
#include as template "Grid/css/navigation.wm.css"
#include as template "Grid/css/branding.wm.css"
