#include as template "node/Grid/css/defineConstants.wm.css"

.m_menu ul {
	list-style: none;
}

.m_menu a \{
	display: block;
	text-decoration: none;
\}

.m_singleGeneration ul \{
  overflow:auto;
  margin: 0;
  padding: 0;
\}
.m_singleGeneration li \{
	float: left;
	margin:0 1em 0 0;
	border-left: solid 1px black;
	padding:0 0 0 1em;
\}

.m_singleGeneration li:first-child \{
	border-left: 0;
	padding-left:0;
\}

.m_treeFull ul \{
	margin: 0;
	padding: 0 0 0 $(l1)px;
\}
.m_treeFull ul.ul0 \{
  padding-left: 0;
  margin-bottom: $(l1)px;
\}

.numPaginator p {
	margin-bottom:0;
	}
	
a.RSS {
	display: block;
	padding-left: 18px;
	background: url('/statics/build/node/img/feed-icons/feed-icon-14x14.png') no-repeat left;
}