#include as template "node/Grid/css/defineConstants.wm.css"

html { overflow-y: scroll; }

h1, h2, h3, h4, ul, ol, dl, p, .gntml_image>.i, .gntml_plus_tint {
	margin-bottom: $(l1)px ;
}
ul, ol {
	#set $i = $Grid.getColumnWidth() + $Grid.getHPad() + $Grid.getHPad()
	margin-left: $(i)px;
}
ul {
	list-style: disc;
	}
ol	{
	list-style: decimal;
}
ul.semantic, ol.semantic {
	list-style:none;
	margin-left:0;
	}

ul ul, ul ol, ol ol, ol ul, .gntml_plus_tint_i * {
	margin-bottom: 0;
}

#set $i = $Grid.HPad - 1
.gntml_plus_tint_i \{
  padding: $(i)px;
\}

dl { overflow: auto; }
dt {
	clear: left;
	float: left;
	font-weight: bold;
	margin-right: $(Grid.getColumnSpacing())px;
	}
dd {
	margin-left: $(Grid.getIndent(1))px;
	}
	
blockquote {
	#set $i = $Grid.getColumnWidth() + $Grid.getHPad() + $Grid.getHPad()
	margin: 0 $(Grid.getIndent(1))px $(l1)px $(Grid.getIndent(1))px;
	font-style: italic;
}
