#set $node = $nodeRequestSegment.Node
#set $imagePage = $node.compile.imagePage
#set $pageImg = $node.compile.pageImg

#if ($nodeRequest.hasNextRequestSegment()) {
	#set $nodeRequestSegment = $nodeRequest.nextNodeRequestSegment()
	#include as template "$nodeRequestSegment.TemplatePath"
} #else {

	#include as template "appcc/ImagePage.templets.wm.html"

	#templet $t_content {
		#include as template "InForm/include/splitContent.header.wm.html"

		#if ($imagePage.showImage) {
			<div class="ImagePage_img content">
			#if ($imagePage.isZoomable) {
				#set $a_href = "$node.url?view=zoomImagePage"
			} #else {
				#set $a_href = null
			}
			#eval $Global.ScalableSingleImage using {
				"scalableSingleImage":$pageImg, 
				"grid":$grid_width,
				"a_href":$a_href,
				"a_title":"View Zoomed Image"
			}
			</div>
			
			#set $imgOriginal = $pageImg.imgOriginal
			#if ($imgOriginal != null) {
				<p class="ImagePage_meta content">
				#if ($imagePage.isZoomable) {
					<a href="$node.url?view=zoomImagePage">View Zoomed Image</a><br />
				}
				#if ($imagePage.isDownloadable) {
					#eval $ga_trackedlink using {
						"href":$imgOriginal.url,
						"contents":"Download Original Image",
						"rel":"external"
					}
					($(imgOriginal.sizeKb)Kb $(imgOriginal.width)x$(imgOriginal.height) $imgOriginal.imgFormat.imFormat)
				}
				</p>
			}
		}

		#include as template "InForm/include/splitContent.footer.wm.html"
	}

	#templet $t_right {
		#eval $ImagePage_nav
		#set $compiledRegion = $node.compile.rightDoc
		#if ($compiledRegion != null) { #include as template "$compiledRegion.viewTemplatePath" }
	}

}