#set $node = $nodeRequestSegment.Node
#set $imagePage = $node.compile.imagePage
#set $pageImg = $node.compile.pageImg

#templet $t_row_content {
	<div class="t_row t_row_zoom">
	<div class="grid_1">&nbsp;</div>
	
	<div class="grid_10">
	#eval $t_node_title

	<div class="ImagePage_img_zoom">
	#eval $Global.ScalableSingleImage using {
		"scalableSingleImage":$pageImg,
		"grid":10,
		"a_href":$node.url,
		"a_title":"View Normal Image"
		}
	</div>

	<p class="ImagePage_meta_zoom">
	<a href="$node.url">View Normal Image</a><br />
	#set $imgOriginal = $pageImg.imgOriginal
	#if ($imgOriginal != null && $imagePage.isDownloadable) {
		#eval $ga_trackedlink using {
			"href":$imgOriginal.url,
			"contents":"Download Original Image",
			"rel":"external"
		}
		($(imgOriginal.sizeKb)Kb $(imgOriginal.width)x$(imgOriginal.height) $imgOriginal.imgFormat.imFormat)
	}
	</p>


	#set $compiledRegion = $node.compile.zoomedFooterDoc
	#include as template "$compiledRegion.viewTemplatePath"
	</div>
	
	<div class="grid_1">&nbsp;</div>
	</div>
}