#if (! $Variable.isDefined("node_form_formTemplets")) {
  #set $node_form_formTemplets = true

  ## These expect node_form_view to be set in the calling context; if
  ## node_form_id is also set, then that is used as a unique form id to
  ## prepended to each field name to make a unique id for the field.
  ##
  ## You can set a unique id on each field name by using the 'id' parameter

  ## -------------------------------------------------------------------------
  ## Simple forms

  #templet $node_form_simple_begin {
    ## optional params: legend, view, class

    #if (!$Variable.isDefined("view")) {
      #set $view = $OuterVars.node_form_view
    }

    <form action="$OuterVars.node.url" method="post" #if ($Variable.isDefined("class")) { class="$class" }>
    <fieldset>
    #if ($Variable.isDefined("legend")) {
      <legend>$legend</legend>
    }
    <input type="hidden" name="view" value="$view"/>
  }

  #templet $node_form_simple_end {
    </fieldset>
    </form>
  }

  ## -------------------------------------------------------------------------
  ## Editing widget forms

  #templet $node_form_widget_begin {
    ## required params: legend
    ## optional: view, hasFile

    #if (!$Variable.isDefined("view")) {
      #set $view = $OuterVars.node_form_view
    }

	#if ($hasFile) {
    	<form action="$OuterVars.node.url" method="post" enctype="multipart/form-data">
    } #else {
    	<form action="$OuterVars.node.url" method="post">
    }
    <fieldset class="widgetGrouping">
    <legend>$legend</legend>
    <input type="hidden" name="view" value="$view"/>
  }
  
  #templet $node_form_widget_end {
    </fieldset>
    </form>  
  }
  
  #templet $node_form_initvars {
    #if ($Variable.isDefined("id")) {
      #set $fieldId = $id
    } #elseif ($OuterVars.containsKey("node_form_id")) {
      #set $fieldId = "$(OuterVars.node_form_id)_$(field)"
    } #elseif ($Variable.isDefined("form")) {
      #set $fieldId = "$(form)_$(field)"
    } #elseif ($OuterVars.containsKey("form")) {
      #set $fieldId = "$(OuterVars.form)_$(field)"
    } #elseif ($OuterVars.containsKey("node_form_view")) {
      #set $fieldId = "$(OuterVars.node_form_view)_$(field)"
    } #else {
      #set $fieldId = $field
    }

    #if (!$Variable.isDefined("label")) {
      #set $label = $field
    }

    #if (!$Variable.isDefined("title")) {
      #set $title = $label
    }
  }
  
  #templet $node_form_hidden {
    ## required params: field, value
    $Forms.hidden($field, $value)
  }

  #templet $node_form_text {
    ## required params: label, field
    ## optional params: id, title, value
    #eval $OuterVars.node_form_initvars
    $Forms.text($label, $Optional.value, $Optional.isCompulsory, $fieldId)
  }

  #templet $node_form_textarea {
    ## required params: label, field
    ## optional params: id, value
    #eval $OuterVars.node_form_initvars
    $Forms.textarea($label, $Optional.value, $Optional.isCompulsory, $fieldId)
  }

  #templet $node_form_password {
    ## required params: label, field
    ## optional params: id, title, value
    #eval $OuterVars.node_form_initvars
    $Forms.password($label, $Optional.value, $Optional.isCompulsory, $fieldId)
  }

  #templet $node_form_file {
    ## required params: label, field
    ## optional params: id, title, value
    #eval $OuterVars.node_form_initvars
    $Forms.file($label, $Optional.value, $Optional.isCompulsory, $fieldId)
  }

  #templet $node_form_submit {
    ## required params: label
    ## optional params: onclick
    $Forms.submit($label, $Optional.onclick)
  }

  #templet $node_form_radio {
    ## required params: label, field
    ## optional params: id, checked, value
    
    #if (!$Variable.isDefined("value")) {
      #set $value = $label
    }
    $Forms.openLabelWidget($Optional.label,"w_radio",$Optional.isCompulsory,$fieldId)
    <div class="w_widget w_radio"><input id="$fieldId" type="radio" name="$field" value="$value" #if ($checked) { checked="checked" } /></div>
    </div>
  }

  #templet $node_form_checkbox {
  ## comp: label, field
  ##  opt: id, checked, value, shouldReloadOnChange, isCompulsory
    #set $value = $Vars.padUndefined("value")
    #eval $OuterVars.node_form_initvars
    $Forms.checkbox($label, $value, $Optional.checked, $Optional.shouldReloadOnChange, $Optional.isCompulsory, $fieldId)
  }
  
  #templet $node_form_select_open {
  ## comp: params: label, field
  ## opt: isMultiple, shouldReloadOnChange, isCompulsory
    #eval $OuterVars.node_form_initvars
    $Forms.openSelect($label, $Optional.isMultiple, $Optional.shouldReloadOnChange, $Optional.isCompulsory, $fieldId)
  }
  
  #templet $node_form_option {
  ## required params: contents, selected
  ## optional: value
    $Forms.option($Optional.value, $contents, $Optional.selected)
  }
  
  #templet $node_form_select_close {
  ## opt: summary
    $Forms.closeSelect($Optional.summary)
  }
  
}
