## expect $formId, $value, $requiredParameterList

#if (! $Variable.isDefined("hasIncludedValidatedForm")) {

  #templet $validatedFormSubmitButton {
    <input type="hidden" name="requiredParameterList" value="$requiredFields" />
    <input type="hidden" name="validSubmit" value="0" />
    <input type="button" value="$value" 
           onclick="validateForm(this.form)" 
           onmouseover="this.form.validSubmit.value=1"
           onmouseout="this.form.validSubmit.value=0" />
  }

  #templet $node_form_validatedSubmit {
    <div class="w_labelWidget">
    <div class="w_widget w_submit">
    <input type="hidden" name="requiredParameterList" value="$requiredFields" />
    <input type="hidden" name="validSubmit" value="0" />
    <input type="button" value="$value" 
           onclick="validateForm(this.form)" 
           onmouseover="this.form.validSubmit.value=1"
           onmouseout="this.form.validSubmit.value=0" />
    </div>
    </div>
  }

  #templet $validatedFormSubmitLink {
    #if (! $Variable.isDefined("linkContents")) {
      #set $linkContents = "submit"
    }
    #if ($linkGoogleAnalytics) {
      #set $preSubmit = "pageTracker._linkByPost(document.getElementById('$formId'));"
    } #else {
      #set $preSubmit = ""
    }
    <input type="hidden" name="requiredParameterList" value="$requiredFields" />
    <input type="hidden" name="validSubmit" value="0" />
    <a href="javascript: $preSubmit validateForm(document.getElementById('$formId'))" 
       onmouseover="document.getElementById('$formId').validSubmit.value=1"
       onmouseout="document.getElementById('$formId').validSubmit.value=0" >$linkContents</a>       
  }


  #templet $validatedFormOpen {
    #include as template "node/form/includeFormValidator.wm.html"
    <form id="$formId" method="post" action="$formAction"><fieldset>
    
    #if ($Variable.isDefined("view")) {
      <input type="hidden" name="view" value="$view" />
    }
  }

  #templet $validatedFormClose {
    </fieldset></form>
  }
  
  #set $requiredParameterList = ""
  #set $hasIncludedValidatedForm = true
}

