/* Functional styles, indicated by a leading f_.  These are used for non-grid
   related things */
   
/* Anything with this class should be hidden in a screen-reader-friendly
   manner: based on advice found on abilitynet's website. */

.f_hidden {
    position: absolute;
    left: 0;
    top: -1000;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
   