.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

textarea {
  width: 100%;
  height: 12em;
}

div.abcPaginator ul,
div.numPaginator ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

div.abcPaginator li,
div.numPaginator li {
  display: inline; 
}

div.abcPaginator hr,
div.numPaginator hr {
clear:both;
visibility: hidden;
height: 0;
}


.clear,
.enddl,
.endAbcPaginator
{ 
  clear: both;
}

dl:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

dl {display: inline-table;}

/* Hides from IE-mac \*/
* html dl {height: 1%;}
dl {display: block;}
/* End hide from IE-mac */

dl
{
  padding: 0;
}
 
dt
{
  width: 30%;
  float: left;
  margin: 0;
  padding: .2em;
  text-align: right;
}
 
/* commented backslash hack for mac-ie5 \*/
dt { clear: both; }
/* end hack */
 
dd
{
  float: left;
  width: 65%;
  margin: 0;
  padding: .2em;
}

dd textarea { 
  width: 100%;
  height: 6em;
}

dd input, dd select { 
  width: 100%;
}

input[type=checkbox], 
input[type=radio], 
input[type=submit], 
select.fastdate { 
  width: auto;
}

dd img.singleimage_edit { 
  max-width: 100%;
}

.editTargetNodeForm { 
  display: inline;
}

.editManager { 
  margin-top: 1em;
}

.tabSelector { 
  margin: 2px;
}


.fieldWidget { 
  text-align: left;
  width: 200px;
}

.fieldName  { 
  text-align: left;
  vertical-align: middle;
}

.editSummary {
  width: 300px;
  height: 100px;
}

.editPageHeader, .editPageBody, .editPageFooter {
  width: 100%;
  height: 200px;
}

.widgetGrouping, .updateForm { 
  background-color: #e5e5e5;
  border-top: 1px solid #f9f9f9;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-left: 1px solid #f9f9f9;
  margin: 2px;
  clear: both;
  color: #000;
}

.widgetGrouping a:link {
  color #000;
}

.widgetGrouping a:visited {
  color #000;
}

.widgetGrouping a:hover {
  color #000;
}

.edit_controls { 
}


.createChildren { 
  text-align: right;
}

.widgetGroupingContent { 
  margin: 2px;
}

.widgetGroupingContent:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.widgetGroupingContent {display: inline-block;}

/* Hides from IE-mac \*/
* html .widgetGroupingContent {height: 1%;}
.widgetGroupingContent {display: block;}
/* End hide from IE-mac */


.widgetGroupingTitle { 
  font-weight: bold;
  padding: 2px;
}

.widgetLabel { 
  float: left;
  clear: left;
  width: 25%;
  text-align: right;
  padding-right: 5px;
}

.widgetText { 
}

.viewControls { 
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

form { 
  margin: 0px; 
  padding: 0px; 
}

