/* reset browser defaults */

:link,
:visited { 
  text-decoration:none;
}

:focus { 
  outline: 0; 
}

h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }

h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,img, table, tr, td
{ margin:0; padding:0; border: 0; }

input, select, textarea {
margin: 0; padding:0;
font-size: 1em;
}

a img,:link img,:visited img { border:none }

address { font-style:normal }

.clear	{
		clear: both;
		}

table { border-collapse: collapse; }
td { padding:1px; margin:0; vertical-align: top; border: solid 1px gray; text-align: center; }