#if (! $Variable.isDefined("AS_formTemplets")) {
  #set $AS_formTemplets = true

  ## All the templets have the following arguments:
  ## required:
  ##  name - of the form field
  ##  label - of the form field
  ## optional:
  ##  id - id of the input control: defaults to $name
  ##  search - A Gettable containing any previous values of the controls:
  ##           defaults to $nodeRequest
  ##  ccFieldName - the CC field name to search against
  ##  pluginName - the AS plugin to use: defaults to the one most appropriate
  ##               to the templet used _unless_ noDefaults is set.
  ##  noDefaults - if set, no pluginName is set at all
  
  #templet $AS_form_hiddenInputs {
    #set $id = $Vars.padUndefinedMacro($id, $name)    
    #set $search = $Vars.padUndefinedMacro($search, $OuterVars.nodeRequest)
    
    #if ($Variable.isDefined("ccFieldName")) {
      <input type="hidden" name="AS_$(name)_ccFieldName" value="$ccFieldName" />
    }
    
    #if ($Variable.isDefined("pluginName")) {
      <input type="hidden" name="AS_$(name)_pluginName" value="$pluginName" />
    }
  }

  #templet $AS_form_word {  
    #if (! $Variable.isDefined("noDefaults")) {
      #set $pluginName = "advancedWordSearch"
    }

    #eval $OuterVars.AS_form_hiddenInputs

    #set $value = $search.get("AS_$(name)_searchTerms")

    <div class="w_labelWidget">
    <label for="$id">$label</label>

    <div class="w_widget w_text">
    <input name="AS_$(name)_searchTerms" id="$id" #if ($value == null) { value="" } #else { value="$value" } />


    </div>
    </div>
  }


  ## required:
  ##  records - that will form the values in the select control
  ## optional:
  ##  optional - if defined, text that will be used as an optional label for
  ##             the value ""
  ##  valueOp - the operation that will be applied to each record to get the
  ##            value for the <option> element: defaults to "id"
  ##  matchType - the type of AS operation that the previous result will be
  ##              in: defaults to "match"
  
  #templet $AS_form_int_recordSelect {
    #if (! $Variable.isDefined("noDefaults")) {
      #set $pluginName = "advancedIntegerSearch"
    }
    #eval $OuterVars.AS_form_hiddenInputs

    #set $valueOp = $Vars.padUndefinedMacro($valueOp, "id")
    #set $matchType = $Vars.padUndefinedMacro($matchType, "match")

    #set $cgiName = "AS_$(name)_$(matchType)"
    #set $value = $search.get("$cgiName")
    
    <div class="w_labelWidget">
    <label for="$id">$label</label>
    <div class="w_widget w_select">
    <select name="$cgiName" id="$id">

    #if ($Variable.isDefined("optional")) {
      <option value="">$optional</option>
    }
    #foreach $record in $records {
      #set $optionValue = $record.get($valueOp)
      <option value="$optionValue" #if ($optionValue == $value) { selected }>$record.Title</option>
    }
    </select>
    </div>
    </div>
  }
    
  ## required:
  ##  options - that will form the values and labels in the select control
  ## optional:
  ##  optional - if defined, text that will be used as an optional label for
  ##             the value ""
  ##  matchType - the type of AS integer search operation that the previous
  ##              result will be in: defaults to "match"

  #templet $AS_form_int_valueSelect {
    #if (! $Variable.isDefined("noDefaults")) {
      #set $pluginName = "advancedIntegerSearch"
    }
    #eval $OuterVars.AS_form_hiddenInputs

    #set $matchType = $Vars.padUndefinedMacro($matchType, "match")

    #set $cgiName = "AS_$(name)_$(matchType)"
    #set $value = $search.get("$cgiName")

    <div class="w_labelWidget">
    
    <label for="$id">$label</label>
    
    <div class="w_widget w_select">
    <select name="$cgiName" id="$id">

    #if ($Variable.isDefined("optional")) {
      <option value="">$optional</option>
    }
    #foreach $option in $options {
      <option #if ($option == $value) { selected }>$option</option>
    }
    </select>
    </div>
    
    </div>
  }

  ## required:
  ##  options - pairs of [value, label] that will form the values and labels
  ##            in the select control
  ## optional:
  ##  optional - if defined, text that will be used as an optional label for
  ##             the value ""
  ##  matchType - the type of AS integer search operation that the previous
  ##              result will be in: defaults to "match"
  ##  default - the default value

  #templet $AS_form_int_valueLabelsSelect {
    #if (! $Variable.isDefined("noDefaults")) {
      #set $pluginName = "advancedIntegerSearch"
    }
    #eval $OuterVars.AS_form_hiddenInputs

    #set $matchType = $Vars.padUndefinedMacro($matchType, "match")

    #set $cgiName = "AS_$(name)_$(matchType)"
    #set $default = $Vars.padUndefinedMacro($default)
    #set $lastValue = $Strings.padEmpty($search.get("$cgiName"), $default)

    <div class="w_labelWidget">
    
    <label for="$id">$label</label>
    
    <div class="w_widget w_select">
    <select name="$cgiName" id="$id">
    #if ($Variable.isDefined("optional")) {
      <option value="">$optional</option>
    }
    #foreach $option in $options {
      #set $value = $List.getItem($option, 0)
      #set $label = $List.getItem($option, 1)
      <option value="$value" #if ($lastValue == $value) { selected }>$label</option>
    }
    </select>
    </div>
    
    </div>
  }

  ## required:
  ##  options - that will form the values in the select control
  ## optional:
  ##  optional - if defined, text that will be used as an optional label for
  ##             the value ""

  #templet $AS_form_word_valueSelect {
    #if (! $Variable.isDefined("noDefaults")) {
      #set $pluginName = "advancedWordSearch"
    }
    #eval $OuterVars.AS_form_hiddenInputs

    #set $cgiName = "AS_$(name)_searchTerms"
    #set $value = $search.get("$cgiName")

    <div class="w_labelWidget">
    
    <label for="$id">$label</label>
    
    <div class="w_widget w_select">
    <select name="$cgiName" id="$id">
    #if ($Variable.isDefined("optional")) {
      <option value="">$optional</option>
    }
    #foreach $option in $options {
      <option #if ($option == $value) { selected }>$option</option>
    }
    </select>
    </div>
    
    </div>
  }

}
