<div class="content">
#if (! $Variable.isDefined("advancedSearchResults_pageSize")) {
	#set $advancedSearchResults_pageSize = 10
}
#set $paginator = $advancedSearchResults.getPaginator($advancedSearchResults_pageSize)
#if (! $Variable.isDefined("itemName")) { 
	#set $itemName = "page"
}
<div class="f_searchResults">
#include as template "paginatorMenu.wm.html"
<ul class="searchresults semantic">
#foreach $matchingNode in $paginator.RecordSource {
	<li class="searchresult">
	<div class="url">
	/
	#if ($matchingNode.id != 1) {
		#set $matchingParentNodes = $matchingNode.breadcrumbTrail.iterator()
		#if ($matchingParentNodes.hasNext()) {
			#set $matchingParentNode = $matchingParentNodes.next()
			#foreach $matchingParentNode in $matchingParentNodes {
				#if ($matchingParentNodes.hasNext()) { 
					$matchingParentNode.href.htmlTitle /
				}
			}
		}
	}
	<strong>$matchingNode.href.title</strong>
	</div>
	#if ($matchingNode.description != "") { <div class="description">$matchingNode.description</div> }
	</li>
}
</ul>
#include as template "paginatorMenu.wm.html"
</div><!-- f_searchResults -->
</div>
