<!-- node/FormAt/FormAt.edit.wm.html -->
<fieldset>
#include as template "node/abstractContentCompilerHeader.edit.wm.html"

#set $document = $compiledRegion.document

<h2>Redactor</h2>
$Requirements.needs("format")
$Requirements.needs("jquery-ui")
<select id="subDocClass">
<option/>
<option value="left33">Left 33%</option>
<option value="left50">Left 50%</option>
<option value="right33">Right 33%</option>
<option value="right50">Right 50%</option>
</select>
<textarea id="redactor" data-documentId="$compiledRegion.id" name="$compiledRegion.regionStyle.name-editHtml">
$document.toEditHtml($contextReference.Context)
</textarea>

<h2>Redactor source</h2>
$Strings.crToBr($Strings.noHtml($document.toEditHtml($contextReference.Context)))

<h2>JSON</h2>
<div style="overflow: scroll; width: 50em;">
<pre>$document.toJSON().toString(2)</pre>
</div>

</fieldset>

<!-- end node/FormAt/FormAt.edit.wm.html -->
