	div.redactor_editor>* {
		margin-left: 100px;
		margin-right: 100px;
	}
	div.redactor_editor>.left_2 {
		margin-left: 0;
		margin-right: 30px;
		float: left;
		clear: left;
		width: 200px;
	}
	div.redactor_editor>.left_3 {
		margin-left: 0;
		margin-right: 30px;
		float: left;
		clear: left;
		width: 300px;
	}
	.immutable {
		color: blue;
		background-color: grey;
	}
	.redactor_toolbar li a.redactor_btn_move_down {
		background-image: url('/statics/img/FormAt/move_down.png');
	}
	.redactor_toolbar li a.redactor_btn_move_up {
		background-image: url('/statics/img/FormAt/move_up.png');
	}
	.redactor_toolbar li a.redactor_btn_delete_block {
		background-image: url('/statics/img/FormAt/delete_block.png');
	}
	.redactor_toolbar li a.redactor_btn_add_div {
		background-image: url('/statics/img/FormAt/add_div.png');
	}
	.redactor_toolbar li a.redactor_btn_block_width {
		background-image: url('/statics/img/FormAt/block_width.png');
	}
	.redactor_toolbar li a.redactor_btn_nodelink {
		background-image: url('/statics/img/FormAt/nodelink.png');
	}
	
	.DummyInline {
		background-color: \#fef;
	}

	.editing {
		color: red;
	}
	
\#Delete_Block_Confirm {
	display: none;
}