<!-- node/TimedItem/TimedItem.view.wm.html -->

<dl>
<dt>Listing summary:</dt><dd>$compiledRegion.listingSummary</dd>
<dt>Sort date:</dt><dd>$compiledRegion.sortDate</dd>
</dl>

<!-- ! node/TimedItem/TimedItem.view.wm.html -->

