#if ($timedPages.Size > 0) {
  $Global.Headings.smaller()
  #set $p = 0
  #set $o = false
  #foreach $timedPage in $timedPages {
    #set $n = $timedPage.startTime_year * 12 + $timedPage.startTime_month
    #if ($p != $n) {
      #if ($o) {
        </ul>
      }
      #set $p = $n
      $Global.Headings.render($timedPage.verboseMonth.startTime, "f_heading")
      <ul>
      #set $o = true
    }
    <li>
    #include as template "appcc/TimedPage/summary.wm.html"
    </li>
  }
  </ul>
  $Global.Headings.larger()
}
