<!-- node/IndexedFastDate/indexedFastDate.edit.wm.html -->

## expects $region = Region in which the index date is registered (check this)
## expects $record = the record in which the IndexedFastDate is registered
## expects $fieldName = the fieldname of the IndexedFastDate in $record
## expects $widgetCssClass = the CSS class that is to be applied to all widgets

#set $precision = $record.getFieldFilter($fieldName).Precision

#if ($precision <= 4) {
  #set $allDays = [ 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31 ]
  #set $currentDay = $record.get("$(fieldName)_day")
  <SELECT CLASS="$widgetCssClass" NAME="$region.name-$(fieldName)Day">
  #foreach $day in $allDays {
    <OPTION VALUE="$day" #if ($day==$currentDay) { SELECTED }>$day</OPTION>
  }
  </SELECT>
}
#if ($precision <= 5) {
  #set $allMonths = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ]
  #set $currentMonth = $record.get("$(fieldName)_month") + 1
  <SELECT CLASS="$widgetCssClass" NAME="$region.name-$(fieldName)Month">
  #foreach $month in $allMonths indexing $index {
    <OPTION VALUE="$index" #if ($index == $currentMonth) { SELECTED }>$month</OPTION>
  }
  </SELECT>
}
#set $currentYear = $record.get("$(fieldName)_year")
<input class="$widgetCssClass" name="$region.name-$(fieldName)Year" value="$currentYear">
#if ($precision <= 3) {
  &nbsp;
  #set $allHours = [ "00", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23" ]
  #set $targetHours = $record.get("$(fieldName)_hour")
  <SELECT NAME="$region.name-$(fieldName)Hour" CLASS="$widgetCssClass">
  #foreach $hour in $allHours indexing $index from 0 {
    <OPTION VALUE="$index" #if ($index == $targetHours) { SELECTED }>$hour</OPTION>
  }
  </SELECT>
  #if ($precision <= 2) {
    #set $zeroToSixty = [ "00", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31", "32", "33", "34", "35", "36", "37", "38", "39", "40", "41", "42", "43", "44", "45", "46", "47", "48", "49", "50", "51", "52", "53", "54", "55", "56", "57", "58", "59" ]
    #set $targetMinute = $record.get("$(fieldName)_minute")
    <SELECT NAME="$region.name-$(fieldName)Minute"CLASS="$widgetCssClass">
    #foreach $minute in $zeroToSixty indexing $index from 0 {
      <OPTION VALUE="$index" #if ($index == $targetMinute) { SELECTED }>$minute</OPTION>
    }
    </SELECT>
    #if ($precision <= 1) {
      #set $targetSecond = $record.get("$(fieldName)_second")
      <SELECT NAME="$region.name-$(fieldName)Second" CLASS="$widgetCssClass">
      #foreach $second in $zeroToSixty indexing $index from 0 {
        <OPTION VALUE="$index" #if ($index == $targetSecond) { SELECTED }>$second</OPTION>
      }
      </SELECT>&nbsp;
    }
  }
}

<!-- end node/IndexedFastDate/indexedFastDate.edit.wm.html -->