<!-- node/FastDate/fastDate.edit.wm.html -->

## expects $region = Region in which the index date is registered (check this)
## expects $record = the record in which the IndexedFastDate is registered
## expects $fieldName = the fieldname of the IndexedFastDate in $record

#if (! $Variable.isDefined("regionName")) {
  #if ($Variable.isDefined("region") && $region != null) {
    #set $regionName = "$region.name"
  } #else {
    #set $regionName = ""
  }
}
#set $fastDateFieldFilter = $record.getFieldFilter($fieldName)

#if ($regionName == "") {
  #set $fastDateFieldHeader = $fieldName
} #else {
  #set $fastDateFieldHeader = "$regionName-$fieldName"
}

#if ($fastDateFieldFilter.isOptional()) {
  <input type="hidden" name="$(fastDateFieldHeader)_isDefined-active" value="true" />
  <input type="checkbox" name="$(fastDateFieldHeader)_isDefined" onclick="this.form.submit()" #if ($fastDateFieldFilter.isDefined($record)) { checked } />
}
#if ($fastDateFieldFilter.isDefined($record)) {

  #set $precision = $fastDateFieldFilter.Precision

  #if ($precision <= 4) {
    #set $currentDay = $record.get("$(fieldName)_day")
    <select name="$(fastDateFieldHeader)Day" class="fastdate">
    #count $day from 1 to 31 {
      <option value="$day" #if ($day==$currentDay) { selected="selected" }>$day</option>
    }
    </select>
  }
  #if ($precision <= 5) {
    #set $allMonths = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ]
    #set $currentMonth = $record.get("$(fieldName)_month") + 1
    <select class="fastdate" name="$(fastDateFieldHeader)Month">
    #foreach $month in $allMonths indexing $index {
      <option value="$index" #if ($index == $currentMonth) { selected="selected" }>$month</option>
    }
    </select>
  }

  #set $currentYear = $record.get("$(fieldName)_year")
  <select class="fastdate" name="$(fastDateFieldHeader)Year">
  #count $year from $fastDateFieldFilter.MinGuiYear to $fastDateFieldFilter.MaxGuiYear {
    <option value="$year" #if ($currentYear == $year) { selected="selected" }>$year</option>
  }
  </select>
  #if ($precision <= 3) {
    &nbsp;
    #set $targetHours = $record.get("$(fieldName)_hour")
    <select class="fastdate" name="$(fastDateFieldHeader)Hour">
    #count $hour from 0 to 23 {
      <option value="$hour" #if ($hour == $targetHours) { selected="selected" }>$hour</option>
    }
    </select>
    #if ($precision <= 2) {
      #set $targetMinute = $record.get("$(fieldName)_minute")
      <select class="fastdate" name="$(fastDateFieldHeader)Minute">
      #count $minute from 0 to 59 {
        <option #if ($minute == $targetMinute) { selected="selected" }>$minute</option>
      }
      </select>
      #if ($precision <= 1) {
        #set $targetSecond = $record.get("$(fieldName)_second")
        <select class="fastdate" name="$(fastDateFieldHeader)Second">
        #count $second from 0 to 59 {
          <option #if ($index == $targetSecond) { selected="selected" }>$second</option>
        }
        </select>&nbsp;
      }
    }
  }
} #else {
}

<!-- end node/FastDate/fastDate.edit.wm.html -->
