#if (!$Vars.hasValue("t_content")) { #templet $t_content {
<h1>$node.title</h1>
Default Center Template
$node
(should be defined in $node.nodeStyle.viewTemplatePath)
}}


#if (!$Vars.hasValue("t_contentWrapper")) { #templet $t_contentWrapper {
<div class="grid_6 alpha"><div class="t_content">
#eval $t_content using $Vars.extendContext({"grid_width":6})
#include as template "viewControls.wm.html"
</div></div>
<div class="grid_3 omega"><div class="t_right">
#eval $t_right using $Vars.extendContext({"grid_width":3})
</div></div>
}}


#if (!$Vars.hasValue("t_footer")) { #templet $t_footer {
t_footer
}}


#if (!$Vars.hasValue("t_header")) { #templet $t_header {
#include as template "Grid/include/globalSearchForm.wm.html"
}}


#if (!$Vars.hasValue("t_left")) { #templet $t_left {
t_left
###include as template "node/m_menu/treeFull.wm.html"
###eval $m_treeFull using {
##  "parentNode": $rootNode,
##  "includeParent": true
##}
## #set $compiledRegion = $node.compile.leftDoc
## #include as template "$compiledRegion.viewTemplatePath"
}}


#if (!$Vars.hasValue("t_right")) { #templet $t_right {
t_right
}}


#if (!$Vars.hasValue("t_wrapper")) { #templet $t_wrapper {
<div class="grid_row">
<div class="grid_12">#eval $t_header using $Vars.extendContext({"grid_width":12})</div>
</div>
<div class="grid_row">
<div class="grid_3"><div class="t_left">#eval $t_left using $Vars.extendContext({"grid_width":3})</div></div>
<div class="grid_9">#eval $t_contentWrapper using $Vars.extendContext({"grid_width":9})</div>
</div>
<div class="grid_row">
<div class="grid_12">#eval $t_footer using $Vars.extendContext({"grid_width":12})</div>
</div>
}}


