## ===========================================================================
## Node settings

#include as template "node/defaults/preHeader.wm.html"
#include as template "node/menu/setSectionNode.wm.html"

## ===========================================================================

#set $rootNode = $db.Node.getRecord(1)
#set $nodeRequestSegment = $nodeRequest.CurrentNodeRequestSegment
#set $node = $nodeRequestSegment.Node

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>#include as template "Grid/include/title.wm.html"</title>
<link rel="stylesheet" href="$assetDomain/$staticsBuildNodePath/css/reset-meyer.css" media="all" />
<link rel="stylesheet" href="$assetDomain/$staticsBuildNodePath/css/nodeWidgets.css" media="screen" />
<link rel="stylesheet" href="$assetDomain/$staticsBuildNodePath/css/themedForm_4_6_float.css" media="screen" />
<link rel="stylesheet" href="/grid.css" media="screen" />

<link rel="icon" type="image/png" href="$assetDomain/$staticsPath/img/favicon.png"/>
#include as template "node/HtmlMetaTag/HtmlMetaTag-header.view.wm.html"

$GettableUtils.get($nodeConfig, "google.webmaster-tools.meta", "")

<!--[if lt IE 7]>
<script defer type="text/javascript" src="/statics/scripts/supersleight/supersleight-min.js"></script>
<![endif]-->

<script type="text/javascript" src="$assetDomain/$staticsBuildNodePath/scripts/jquery-1.4.3.min.js"></script>
<script type="text/javascript" src="$assetDomain/$staticsBuildNodePath/scripts/relExternalLinks.js"></script>

#include as template "Grid/include/head.add.wm.html"
