#set $Response.ContentType = "text/html; charset=UTF-8"
#param $TemplateOutputEncoding="UTF-8"

<h1>Content Checker</h1>

<p>Some of these checks can be tuned by typing new values in the entry boxes
and typing <b>return</b> or clicking on <b>Check again</b> below.</p>

<form method="POST">
<input type="hidden" name="view" id="view" value="checkContent"/>

<input type="submit" name="check" id="check" value="Check again"/>

#macro ccount($size) {
  #if ($size != 0) { ($size) }
}

##============================================================================

#set $explicitSite = $Vars.padUndefinedMacro($nodeRequest.explicitSite, $httpServletPath)
#set $gntmls = $db.GntmlInstance.filter.get("gntml like \"%$explicitSite%\"")
#set $gntmlImages = $db.GntmlImageInstance.filter.get("imageTarget like \"%$explicitSite%\"")

<h2>Explicit Site Links #ccount($gntmls.Size + $gntmlImages.Size)</h2>

<p>This check looks for explicit references to this site's own name.  This
makes the site hard to move to a new domain, and is particularly relevant
when populating a site prior to launch.</p>


#setblock $explicitSiteInput {
<input type="text" name="explicitSite" id="explicitSite" value="$explicitSite"/>
}

#set $gntmls = $db.GntmlInstance.filter.get("gntml like \"%$explicitSite%\"")
#set $gntmlImages = $db.GntmlImageInstance.filter.get("imageTarget like \"%$explicitSite%\"")

#if ($Lists.isEmpty($gntmls) && $Lists.isEmpty($gntmlImages)) {
  <p>No content explicitly mentions $explicitSiteInput</p>
}
#else {
  #if (!$Lists.isEmpty($gntmls)) {
    <p>The following $gntmls.Size pages explicitly mention $explicitSiteInput in their content:</p>
    <ul>
    #foreach $gntml in $gntmls {
      <li>$gntml.node.explicitHref.get("$gntml.node.path")
          <em>$gntml.regionStyle.title</em></li>
    }
    </ul>
  }
  #if (!$Lists.isEmpty($gntmlImages)) {
    <p>The following $gntmlImages.Size pages explicitly mention $explicitSiteInput in image links:</p>
    <ul>
    #foreach $gntmlImage in $gntmlImages {
      <li>$gntmlImage.gntmlInstance.node.explicitHref.get("$gntmlImage.gntmlInstance.node.path")
          <em>$gntmlImage.gntmlInstance.regionStyle.title [$gntmlImage.blockName]</em></li>
    }
    </ul>
  }
}

##============================================================================

#set $raggedTextLength = $Vars.padUndefinedMacro($nodeRequest.raggedTextLength, 50)
#set $gntmls = $db.GntmlInstance.filter.get("gntml rlike \"[^\\n]{$raggedTextLength,}\\n[^\\n]{$raggedTextLength,}\"")


<h2>"Ragged" text #ccount($gntmls.Size)</h2>

<p>This check looks for pages that have broken up the running text with
single newline characters.  This is intended to be used for things like
addresses and poetry, where newlines are important.  In text that is neither
of these things, it looks ugly and prevents the text from flowing.</p>

#setblock $raggedTextLengthInput {
<input type="text" name="raggedTextLength" id="raggedTextLength" size="4"
 value="$raggedTextLength"/>
}


#if ($Lists.isEmpty($gntmls)) {
  <p>No content contains single newlines between blocks of text with more
  than $raggedTextLengthInput characters in them.</p>
}
#else {
  <p>The following $gntmls.Size pages <em>may</em> have ragged text, as they
  contain single newlines between blocks of text with more than
  $raggedTextLengthInput characters in them:</p>
  <ul>
  #foreach $gntml in $gntmls {
    <li>$gntml.node.explicitHref.get("$gntml.node.path")
        <em>$gntml.regionStyle.title</em></li>
  }
  </ul>
}


##============================================================================

</form>
