#templet $I_ImgOriginal {
	#if ($Vars.hasValue("img_src")) {
		#set $imgOriginal = $Global.nodeMgr.ImgMgr.ImgOriginal.createStaticInstance($img_src)
	} #else {
		$Vars.assertIsTable($imgOriginal, "ImgOriginal", "\$I_ImgOriginal.imgOriginal")
	}
	#if ($Vars.hasValue("rollover_src")) {
		#set $rolloverOriginal = $Global.nodeMgr.ImgMgr.ImgOriginal.createStaticInstance($rollover_src)
	} #else {
		#if ($Vars.hasValue("rolloverOriginal")) {
			$Vars.assertIsTable($rolloverOriginal, "ImgOriginal", "\$I_ImgOriginal.rolloverOriginal")
		}
	}
	#if (! $Vars.hasValue("imgOriginal")) {
		$Vars.exception("\$ImgMgr_viewImg: \$imgOriginal must be defined", true)
	}
	#if ($Vars.hasValue("grid")) {
		#set $widthPx = $Global.Grid.getWidth($grid)
	}
	#if ($Vars.hasValue("padding")) {
		#if ($Vars.hasValue("widthPx")) {
			#set $widthPx = $widthPx - $padding
		}
		#if ($Vars.hasValue("heightPx")) {
			#set $heightPx = $heightPx - $padding
		}
	}
	#if (! $Vars.hasValue("imgFormat")) {
		#set $imgFormat = $imgOriginal.imgFormat
	}
	#if ($Vars.hasValue("lines")) {
		#set $heightPx = $Global.Grid.getLineHeight($lines)
	}
	#if ($Vars.hasValue("heightPx")) {
		#if ($Vars.hasValue("widthPx")) {
			#set $imgScaled = $imgOriginal.atWidthHeightFormat.get($widthPx).get($heightPx).get($imgFormat)
			#if ($Vars.hasValue("rolloverOriginal")) {
				#set $rolloverScaled = $rolloverOriginal.atWidthHeightFormat.get($widthPx).get($heightPx).get($imgFormat)
			}
		} #else {
			#set $imgScaled = $imgOriginal.atHeightFormat.get($heightPx).get($imgFormat)
			#if ($Vars.hasValue("rolloverOriginal")) {
				#set $rolloverScaled = $rolloverOriginal.atHeightFormat.get($heightPx).get($imgFormat)
			}
		}
	} #else {
		#if (! $Vars.hasValue("widthPx")) {
			$Vars.exception("\$ImgMgr_viewImg: \$widthPx, \$heightPx or \$grid must be defined", true)
		}
		#set $imgScaled = $imgOriginal.atWidthFormat.get($widthPx).get($imgFormat)
		#if ($Vars.hasValue("rolloverOriginal")) {
			#set $rolloverScaled = $rolloverOriginal.atWidthFormat.get($widthPx).get($imgFormat)
		}
	}
	#set $imgTag = $imgScaled.imgTag
	$imgTag.addOptAttribute("alt", $img_alt)
	$imgTag.addOptAttribute("class", $img_class)
	$imgTag.addOptAttribute("id", $img_id)
	$imgTag.addOptAttribute("title", $img_title)
	$imgTag.addOptAttribute("usemap", $img_usemap)
	#if ($Vars.hasValue("rolloverOriginal")) {
		$Global.Requirements.needs("imgRollover")
		$imgTag.addOptAttribute("data-hover", $rolloverScaled.webPath)
	}
	#if ($Vars.hasValue("div_class")) {
		<div class="$div_class">
	}
	#if ($Vars.hasValue("a_href")) {
		#set $a = $Html.newTagBuilder("a").attr("href", $a_href)
		$a.addOptAttribute("title", $a_title)
		$a.Open$imgTag$a.Close
	} #else {
		$imgTag
	}
	#if ($Vars.hasValue("div_class")) {
		</div>
	}
}

#templet $I_ImgScaled {
	$Vars.assertIsTable($imgScaled, "ImgScaled", "\$ImgScaled_view.imgScaled")
	#eval $Global.I_ImgOriginal using $Vars.extendContext({
		"imgOriginal": $imgScaled.imgOriginal
	})
}

#templet $I_ScalableSingleImage {
	$Vars.assertIsTable($scalableSingleImage, "ScalableSingleImage", "\$ScalableSingleImage_view.scalableSingleImage")
	#set $imgOriginal = $scalableSingleImage.imgOriginal
	#if ($imgOriginal == null) {
		#if ($missingImage == null) {
			#if ($Vars.hasValue("div_class")) {
				<div class="$div_class">&nbsp;</div>
			}
		} #else {
			#set $missingImage = $Vars.padUndefinedMacro($missingImage, "missing image")
			<div class="error $Vars.pad("div_class")">
			#if ($Vars.hasValue("a_href")) {
				#set $a = $Html.newTagBuilder("a").attr("href", $a_href)
				$a.Open$missingImage$a.Close
			} #else {
				$missingImage
			}
			</div>
		}
	} #else {
		#eval $Global.I_ImgOriginal using $Vars.extendContext({
			"imgOriginal": $scalableSingleImage.imgOriginal,
			"imgFormat": $scalableSingleImage.imgFormat,
			"img_alt": $scalableSingleImage.alt
		})		
	}
}
