<h1>$h1</h1>

#include as template "ImgMgr/ImgOriginal_Create/form.wm.html"

$node.explicitHref.exit

<div class="widgetGrouping">
$Forms.openPostForm("Filter image list", false, $node.url, "ImgOriginal_Search")
$Forms.hidden("view", "ImgOriginal_Search")
$imgSearch.HiddenInputsSearch
$Forms.text("Title", $imgSearch.title, false, "search_title")
$Forms.text("Description", $imgSearch.description, false, "search_description")
$Forms.text("Filename", $imgSearch.filename, false, "search_filename")
$Forms.submit("Search")
$Forms.closePostForm()
</div>

#set $paginator = $nodeRequest.getPaginator("i", 10)
$paginator.setSourceQuery($imgOriginals)
$imgSearch.addSearchParams($paginator)

#include as template "paginatorMenu.wm.html"

#set $viewImgHeader = "$(imgSearch.QueryBase)&view=ImgOriginal_View&imgOriginal_id="
#set $cropImgHeader = "$(imgSearch.QueryBase)&view=ImgOriginal_Crop&imgOriginal_id="
<div class="ImgMgr_Search">
#foreach $imgOriginal in $paginator.RecordSource {
	<div class="ImgMgr_Search_Img">
	#if ($imgSearch.hasSuccessUrl() && $imgSearch.isValidAspectRatio($imgOriginal)) {
		#eval $I_ImgOriginal using {
			"imgOriginal": $imgOriginal,
			"grid": 4,
			"div_class": "ImgOriginal",
			"a_href": $imgSearch.getSuccessUrl($imgOriginal),
			"a_title": "Select this image"
		}
	} #else {
		#eval $I_ImgOriginal using {
			"imgOriginal": $imgOriginal,
			"grid": 4,
			"div_class": "ImgOriginal"
		}
	}
	<dl class="inline">
	<dt>Title</dt><dd>$imgOriginal.title</dd>
	
	<dt>Actions</dt>
	<dd>
	#if ($imgSearch.hasSuccessUrl()) {
		#if ($imgSearch.isValidAspectRatio($imgOriginal)) {
			<a href="$imgSearch.getSuccessUrl($imgOriginal)">Select</a> |
		} #else {
			<a class="disabled" title="Invalid aspect ratio">Select</a> |
		}
	}
	<a href="$(cropImgHeader)$(imgOriginal.id)">Crop</a> |
	<a href="$(viewImgHeader)$(imgOriginal.id)">Edit</a>
	</dd>
		
	#wrapDefined "<dt>Description</dt><dd>" { $imgOriginal.description } "</dd>"
	<dt>Filename</dt><dd>$imgOriginal.filename</dd>
	<dt>Uploaded</dt><dd>$imgOriginal.shortDateTime.timestamp</dd>
	<dt>Resolution</dt><dd>$imgOriginal.width X $imgOriginal.height</dd>
	
	#if ($imgSearch.isValidAspectRatio($imgOriginal)) {
		<dt>Aspect</dt><dd>$imgOriginal.aspect</dd>
	} #else {
		<dt class="disabled">Aspect</dt><dd class="disabled">$imgOriginal.aspect</dd>
	}
	
	<dt>ALT</dt><dd>$imgOriginal.data.optString("alt")</dd>
	<dt>Copyright</dt><dd>$imgOriginal.data.optString("copyright")</dd>
	</dl>
	</div>
}
</div>
</table>
