<h1>$h1</h1>

$Requirements.needs("cropper")
#set $imgOriginal = $Global.imgOriginal
#set $w = $Grid.getWidth($Dimensions.Current.ContentWidth)

<div id="crop-container" style="height: $(Dimensions.Current.ContentWidthPx)px" >$imgOriginal.imgTag</div>

<script>
	\$('#crop-container>img').cropper({
		#set $optAspect = $imgSearch.getFixedAspectRatio()
		#if ($optAspect.isPresent()) {
			aspectRatio: $optAspect.get(),
		}
		crop: function(e) {
			\$('\#ImgOriginal_Crop \#x').val(e.x);
			\$('\#ImgOriginal_Crop \#y').val(e.y);
			\$('\#ImgOriginal_Crop \#width').val(e.width);
			\$('\#ImgOriginal_Crop \#height').val(e.height);
			var aspect = e.width / e.height;
			var isDisabled = false;
			#if ($imgSearch.MinAspectRatio.isPresent()) {
				if (aspect < $imgSearch.MinAspectRatio.get()) \{
					isDisabled = true;
				\}
			}
			#if ($imgSearch.MaxAspectRatio.isPresent()) {
				if (aspect> $imgSearch.MaxAspectRatio.get()) \{
					isDisabled = true;
				\}
			}
			\$('\#ImgOriginal_Crop input[type=button]').prop('disabled', isDisabled);
		}
	});
</script>

<div class="widgetGrouping">
$Forms.openPostForm("Crop Image", false, $node.url, "ImgOriginal_Crop")
$Forms.hidden("view", "ImgOriginal_Crop")
$Forms.hidden("imgOriginal_id", $imgOriginal.id)
$Forms.hidden("hasRenderedForm", true)
$imgSearch.HiddenInputs
$Forms.text("X", 0, true, "x")
$Forms.text("Y", 0, true, "y")
$Forms.text("Width", $imgOriginal.width, true, "width")
$Forms.text("Height", $imgOriginal.height, true, "height")
$Forms.submit("Crop")
$Forms.closePostForm()
</div>