<h1>$h1</h1>

#set $imgOriginal = $Global.imgOriginal

$imgOriginal.atWidthFormat.get($Grid.getWidth(2)).get("PNG").imgTag

<div class="widgetGrouping">
$Forms.openPostForm("Update meta-data", false, $node.url, "ImgOriginal_Annotate")
$Forms.hidden("view", "ImgOriginal_Annotate")
$imgSearch.HiddenInputs
$Forms.hidden("imgOriginal_id", $imgOriginal.id)
$Forms.text("Title", $imgOriginal.title, false, "title")
$Forms.textarea("Description", $imgOriginal.description, false, "description")
$Forms.text("ALT", $imgOriginal.data.optString("alt"), false, "alt")
$Forms.text("Copyright", $imgOriginal.data.optString("copyright"), false, "copyright")
$Forms.value("Filename", $imgOriginal.filename, "filename")
$Forms.value("Timestamp", $imgOriginal.shortDateTime.timestamp, "timestamp")
$Forms.submit("Update")
$Forms.closePostForm()
</div>

#if ($imgSearch.hasSuccessUrl()) {
	#if ($imgSearch.isValidAspectRatio($imgOriginal)) {
		<a href="$imgSearch.getSuccessUrl($imgOriginal)">Select</a> |
	} #else {
		<a class="disabled" title="Invalid aspect ratio">Select</a> |
	}
}

<a href="$(imgSearch.QueryBase)&view=ImgOriginal_Crop&imgOriginal_id=$(imgOriginal.id)">Crop</a> |

<a href="$(imgSearch.QueryBase)&view=ImgOriginal_Search">Search</a> |

#if ($imgOriginal.isDeleteable) {
	<a href="$(imgSearch.QueryBase)&imgOriginal_id=$(imgOriginal.id)&view=ImgOriginal_Delete">Delete</a>
}

<h2>Image Usage</h2>

#set $nodes = $imgOriginal.nodes.RecordList
#if ($nodes.size() > 0) {
	<h3>All Pages</h3>
	
	<ul>
	#foreach $n in $nodes {
		<li>$n.href.path</li>
	}
	</ul>

	#wrapDefined '<h3>Document static images</h3><ul>' {
	#foreach $gntmlScalableImage in $imgOriginal.gntmlScalableImages {
		#set $imageUsed = true
		<li>
		$gntmlScalableImage.gntmlInstance.node.href.path - $gntmlScalableImage.gntmlInstance.regionStyle.name - $gntmlScalableImage.blockName
		</li>
	}
	} '</ul>'

	#wrapDefined '<h3>Document cycling images</h3><ul>' {
	#foreach $gntmlCyclingImage in $imgOriginal.gntmlCyclingImages {
		#set $imageUsed = true
		<li>
		$gntmlCyclingImage.gntmlInstance.node.href.path - $gntmlCyclingImage.gntmlInstance.regionStyle.name - $gntmlCyclingImage.blockName
		</li>
	}
	} '</ul>'

	#wrapDefined '<h3>Page Images</h3><ul>' {
	#foreach $scalableSingleImage in $imgOriginal.scalableSingleImages {
		#set $imageUsed = true
		<li>
		$scalableSingleImage.node.href.title
		</li>
	}
	} '</ul>'
} #else {
	<p>This image is not currently being utilised.</p>
}