<!-- node/task/taskManager -->

<h2>Task Manager</h2>
#set $taskManager = $nodeManager.NodeTaskManager.TaskManager
#foreach $taskFactory in $taskManager.TaskFactories {
  <h3>$taskFactory</h3>

  <form method="post" action="$node.url" enctype="multipart/form-data" >
  <input type="hidden" name="view" value="launchTask" />
  <input type="hidden" name="taskFactoryName" value="$taskFactory.Name" />
  <dl>
  #set $params = $taskFactory.NewInput
  #if ($params != null) {
    #foreach $key in $params.SettableKeys {
      #set $valueType = $params.getValueType($key)
      #if ($valueType != null) {
        #set $paramValue = $params.get($valueType.Name)
        <dt>$valueType.EnglishName</dt>
        <dd><span>
        #if ($valueType.Type == "File") {
          <input type="file" name="$valueType.Name" />
        } #elseif ($valueType.Type == "String") {
          <input name="$valueType.Name" #if ($paramValue != null) { value="$paramValue" }/>
        } #elseif ($valueType.Type == "Boolean") {
          <input name="$valueType.Name-active" type="hidden" value="true" />
          <input name="$valueType.Name" type="checkbox" #if ($paramValue) { checked } />
        } #else {
          $paramValue
        }
        </span></dd>
      }
    }
    </dl>
  }
  <input type="submit" value="Launch" />
  </form>  
  
  
  #set $tasks = $taskFactory.RunningTasks
  #if ($tasks.size() != 0) {
    <h4>Running Tasks</h4>
    <ul>
    #foreach $task in $tasks.values() {
      <li>$task: $task.StatusMessage $task.PercentComplete%
      <a href="$task.WebLog">Download Log</a>
      <form action="$node.url">
      <input type="hidden" name="view" value="stopTask" />
      <input type="hidden" name="taskFactoryName" value="$taskFactory.Name" />
      <input type="hidden" name="taskName" value="$task.Name" />
      <input type="submit" value="Stop Task" />
      </form>
      </li>
    }
    </ul>
  }
  

  #set $tasks = $taskFactory.CompletedTasks
  #if ($tasks.size() != 0) {
    <h4>Completed Tasks</h4>
    <ul>
    #foreach $task in $tasks.values() {
      <li>
      $task: $task.StatusMessage
      <a href="$task.WebLog">Download Log</a>
      </li>
    }
    </ul>
  }

  #set $tasks = $taskFactory.FailedTasks
  #if ($tasks.size() != 0) {
    <h4>Failed Tasks</h4>     
    <ul>
    #foreach $task in $tasks.values() {
      <li>
      $task: $task.StatusMessage
      <a href="$task.WebLog">Download Log</a>
      </li>
    }
    </ul>
  }

}

<!-- ! node/task/taskManager -->