#if ($gntmlSiteMap.title != null) {
	<div class="gntml_title"><strong>$gntmlSiteMap.title</strong></div>
}
#set $n = $gntmlSiteMap.rootNode
#if ($n == null) {
	<div class="error">You must define the top-level page of the sitemap</div>
} #else {
	#include as template "$gntmlSiteMap.navigationStyle.TemplatePath"
}