#templet $g {
	#if ($depth < $gntmlSiteMap.maxDepth) {
		#if ($depth == 0) {
			#set $validChildren = $gntmlSiteMap.rootNodeChildren
		} #else {
			#set $validChildren = $gntmlSiteMap.childNodeChildren.get($parentNode)
		}
		#if ($validChildren.Size > 0) {
			<ul>
			#foreach $childNode in $validChildren {
				<li>
				$childNode.href.title
				#eval $Self using {
					"gntmlSiteMap": $gntmlSiteMap,
					"parentNode": $childNode,
					"depth": $depth + 1
				}
				</li>
			}
			</ul>
		}
	}
}

#eval $g using { 
	"gntmlSiteMap": $gntmlSiteMap,
	"parentNode": $gntmlSiteMap.rootNode,
	"depth": 0 
	}
