<!-- node/TimedItemSettings/TimedItemSettings.edit.wm.html -->
<dl>
<dt>Listing size:</dt><dd>$compiledRegion.listingSize</dd>
<dt>Listing sort order:</dt><dd>$compiledRegion.sortOrder</dd>
</dl>
<!-- ! node/TimedItemSettings/TimedItemSettings.edit.wm.html -->
