<!-- node/HtmlMetaTags/HtmlMetaTags.edit.wm.html -->

<fieldset>
#include as template "node/abstractContentCompilerHeader.edit.wm.html"
$compiledRegion.asFormElement.cascadingKeywords
$compiledRegion.asFormElement.pageKeywords

<div class="w_labelWidget">
<label>Cascaded keywords</label><div class="w_widget w_value">$StringUtils.join(", ", $node.cascadingMetaKeywords)</div>
</div>

</fieldset>
<!-- end node/HtmlMetaTags/HtmlMetaTags.edit.wm.html -->
