
<!-- node/sitemap/sitemap.wm.html -->

#templet $sitemap {
  #if ($sitemapNode.generation < $sitemapMaxGeneration) {
    #set $childrenSitemapNodes = $sitemapNode.childrenMenuNodes.get($OuterVars.nodeRequest)
    #if ($childrenSitemapNodes.Size != 0 || $includeself) {
      <ul>
      #if ($includeself) {
        <li><strong>$sitemapNode.href.title</strong> $sitemapNode.description</li>
      }
      #foreach $childSitemapNode in $childrenSitemapNodes {
        <li>
        <strong>$childSitemapNode.href.title</strong> $childSitemapNode.description
        #eval $Self using { "sitemapNode": $childSitemapNode, "includeself": false, "sitemapMaxGeneration":$sitemapMaxGeneration }
        </li>
      }
      </ul>
    }
  }
}
  
<div class="f_sitemap">
#set $sitemapMaxGeneration = $Vars.pad("sitemapMaxGeneration", 666)
#set $sitemapNode = $Vars.pad("sitemapNode", $db.Node.getRecord(1))
#eval $sitemap using { 
  "sitemapNode": $sitemapNode, 
  "includeself":true, 
  "sitemapMaxGeneration":$sitemapMaxGeneration 
}
</div><!-- f_sitemap -->

<!-- ! node/sitemap/sitemap.wm.html -->
