#wrapDefined '<p class="heading">' { $gntmlTimedPageListingBlock.title } '</p>'
#if ($gntmlTimedPageListingBlock.timedPageListing == null) {
	<div class="error">No Feed Defined</div>
} #else {
	#local {
		#set $timedPageListing = $gntmlTimedPageListingBlock.timedPageListing
		#set $timedPages = $timedPageListing.listingTimedPages.is.isPublished
		#if ($gntmlTimedPageListingBlock.timedPageCount > 0) {
			#set $timedPages = $timedPages.limit.get($gntmlTimedPageListingBlock.timedPageCount)
		}
		#include as template "$gntmlTimedPageListingBlock.templatePath.getTemplatePath()"
	}
}
#eval $t_caption
