<!-- node/RecordLink/recordLink.edit.wm.html -->

#set $region = $compiledRegion.region

<input type="hidden" name="$region.name-$compiledRegion.cgiTargetIdDefined" value="true">
<select name="$region.name-$compiledRegion.cgiTargetId">
#foreach $possibleTargetRecord in $compiledRegion.getValidTargetsQuery {
  <option value="$possibleTargetRecord.id"# if ($node.get("$(compiledRegion.targetTableReferencesName)Includes").get($possibleTargetRecord)) { selected }>$possibleTargetRecord</option>
}
</select>

<!-- ! node/RecordLink/recordLink.edit.wm.html -->