#local {
	#wrapDefined '<div class="m_menu m_pages titlecolumnmenu"><ul>' {
		#foreach $n in $nodes {
			#set $r = $nodeRequest.getRelationship($n)
			<li class="$r">
			#if ($r == "active") {
				<a class="$r">$n.htmlTitle</a> 
			} #else {
				<a href="$n.url" class="$r">$n.htmlTitle</a>
			}
			</li>
		}
	} '</ul></div>'
}