<div class="f_startTime">$timedPage.timedPageType.formatDates($timedPage)</div>
$Global.Headings.smaller()
$Global.Headings.render($timedPage.href.title, "f_title")
$Global.Headings.larger()
#if ($timedPage.node.description != "") {
  <div class="f_summary">$timedPage.node.description</div>
}