<!-- node/stats/cacheStatus.wm.html -->

<div class="n_cacheStatus" -->

<h1>Table Status</h1>

<p><a href="$node.url">Exit Stats</a></p>

#set $tableOrdering = $nodeRequest.tableOrdering
#if ($tableOrdering == null) {
  #set $tableOrdering = "name"
}

<table>
<tr>
<td>#if ($tableOrdering=="name"){<strong>Name</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=name">Name</a>}</td>
<td colspan="14">Records</td>
<td colspan="9">Queries</td>
<tr>
<td></td>

<td>#if ($tableOrdering=="r_size"){<strong>Size</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_size">Size</a>}</td>
<td>#if ($tableOrdering="r_hits"){<strong>Hit</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_hits">Hit</a>}</td>
<td>#if ($tableOrdering="r_misses"){<strong>Miss</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_misses">Miss</a>}</td>
<td>#if ($tableOrdering="r_efficiency"){<strong>H/M%</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_efficiency">H/M%</a>}</td>
<td>#if ($tableOrdering="r_expires"){<strong>Exp</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_expires">Exp</a>}</td>
<td>Type</td>
<td>#if ($tableOrdering="r_readCount"){<strong>Read #</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_readCount">Read #</a>}</td>
<td>#if ($tableOrdering="r_readTime"){<strong>Read ms</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_readTime">Read ms</a>}</td>
<td>#if ($tableOrdering="r_updateCount"){<strong>Upd #</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_updateCount">Upd #</a>}</td>
<td>#if ($tableOrdering="r_updateTime"){<strong>Upd ms</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_updateTime">Upd ms</a>}</td>
<td>#if ($tableOrdering="r_insertCount"){<strong>Ins #</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_insertCount">Ins #</a>}</td>
<td>#if ($tableOrdering="r_insertTime"){<strong>Ins ms</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_insertTime">Ins ms</a>}</td>
<td>#if ($tableOrdering="r_deleteCount"){<strong>Del #</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_deleteCount">Del #</a>}</td>
<td>#if ($tableOrdering="r_deleteTime"){<strong>Del ms</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_deleteTime">Del ms</a>}</td>

<td>#if ($tableOrdering=="q_size"){<strong>Size</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=q_size">Size</a>}</td>
<td>#if ($tableOrdering="q_hits"){<strong>Hit</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=q_hits">Hit</a>}</td>
<td>#if ($tableOrdering="q_misses"){<strong>Miss</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=q_misses">Miss</a>}</td>
<td>#if ($tableOrdering="q_efficiency"){<strong>H/M%</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=q_efficiency">H/M%</a>}</td>
<td>#if ($tableOrdering="q_expires"){<strong>Exp</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=q_expires">Exp</a>}</td>
<td>Clear #</td>
<td>Clear R#</td>
<td>Type</td>
<td>#if ($tableOrdering="q_sqlTime"){<strong>Time</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=q_sqlTime">Time</a>}</td>
<td>#if ($tableOrdering="q_sqlCount"){<strong>Count</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=q_sqlCount">Count</a>}</td>
<td>#if ($tableOrdering="q_sqlAverageTime"){<strong>T/C</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=q_sqlAverageTime">T/C</a>}</td>

#set $totalTables = 0
#set $totalRecordSize = 0
#set $totalRecordHits = 0
#set $totalRecordMisses = 0
#set $totalRecordExpiries = 0
#set $totalRecordReads = 0
#set $totalRecordReadTime = 0
#set $totalRecordUpdates = 0
#set $totalRecordUpdateTime = 0
#set $totalRecordInserts = 0
#set $totalRecordInsertTime = 0
#set $totalRecordDeletes = 0
#set $totalRecordDeleteTime = 0

#set $totalQuerySize = 0
#set $totalQueryHits = 0
#set $totalQueryMisses = 0
#set $totalQueryExpires = 0
#set $totalQuerySqlTime = 0
#set $totalQuerySqlCount = 0

</tr>
#foreach $table in $db.getTables($tableOrdering) {
  #set $totalTables = $totalTables + 1
  <tr>
  <td>$table.Name</td>
  #set $cache = $table.RecordCache
  <td>$cache.size()</td>
  #set $totalRecordSize = $totalRecordSize + $cache.size()
  <td>$cache.HitCount</td>
  #set $totalRecordHits = $totalRecordHits + $cache.HitCount
  <td>$cache.MissCount</td>
  #set $totalRecordMisses = $totalRecordMisses + $cache.MissCount
  <td>$cache.Efficiency</td>
  <td>$cache.ExpireCount</td>
  #set $totalRecordExpiries = $totalRecordExpiries + $cache.ExpireCount
  <td>$cache.Type</td>
  <td>$table.ReadCount</td>
  #set $totalRecordReads = $totalRecordReads + $table.ReadCount
  <td>$table.ReadTime</td>
  #set $totalRecordReadTime = $totalRecordReadTime + $table.ReadTime
  <td>$table.UpdateCount</td>
  #set $totalRecordUpdates = $totalRecordUpdates + $table.UpdateCount
  <td>$table.UpdateTime</td>
  #set $totalRecordUpdateTime = $totalRecordUpdateTime + $table.UpdateTime
  <td>$table.InsertCount</td>
  #set $totalRecordInserts = $totalRecordInserts + $table.InsertCount
  <td>$table.InsertTime</td>
  #set $totalRecordInsertTime = $totalRecordInsertTime + $table.InsertTime
  <td>$table.DeleteCount</td>
  #set $totalRecordDeletes = $totalRecordDeletes + $table.DeleteCount
  <td>$table.DeleteTime</td>
  #set $totalRecordDeleteTime = $totalRecordDeleteTime + $table.DeleteTime
  
  #set $cache = $table.QueryCache
  <td><a href="$node.url?view=viewQueryCache&tableName=$table.Name">$cache.size()</a></td>
  #set $totalQuerySize = $totalQuerySize + $cache.size()
  <td>$cache.HitCount</td>
  #set $totalQueryHits = $totalQueryHits + $cache.HitCount
  <td>$cache.MissCount</td>
  #set $totalQueryMisses = $totalQueryMisses + $cache.MissCount
  <td>$cache.Efficiency</td>
  <td>$cache.ExpireCount</td>
  #set $totalQueryExpires = $totalQueryExpires + $cache.ExpireCount
  <td>$cache.ClearCount</td>
  <td>$cache.ClearRecordCount</td>
  <td>$cache.Type</td>
  <td>$table.QueryTime</td>
  #set $totalQuerySqlTime = $totalQuerySqlTime + $table.QueryTime
  <td>$table.QueryCount</td>
  #set $totalQuerySqlCount = $totalQuerySqlCount + $table.QueryCount
  <td>$table.QueryAverageTime</td>
  </tr>
}
<tr>
<td></td>

<td>#if ($tableOrdering=="r_size"){<strong>Size</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_size">Size</a>}</td>
<td>#if ($tableOrdering="r_hits"){<strong>Hit</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_hits">Hit</a>}</td>
<td>#if ($tableOrdering="r_misses"){<strong>Miss</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_misses">Miss</a>}</td>
<td>#if ($tableOrdering="r_efficiency"){<strong>H/M%</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_efficiency">H/M%</a>}</td>
<td>#if ($tableOrdering="r_expires"){<strong>Exp</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_expires">Exp</a>}</td>
<td>Type</td>
<td>#if ($tableOrdering="r_readCount"){<strong>Read #</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_readCount">Read #</a>}</td>
<td>#if ($tableOrdering="r_readTime"){<strong>Read ms</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_readTime">Read ms</a>}</td>
<td>#if ($tableOrdering="r_updateCount"){<strong>Upd #</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_updateCount">Upd #</a>}</td>
<td>#if ($tableOrdering="r_updateTime"){<strong>Upd ms</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_updateTime">Upd ms</a>}</td>
<td>#if ($tableOrdering="r_insertCount"){<strong>Ins #</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_insertCount">Ins #</a>}</td>
<td>#if ($tableOrdering="r_insertTime"){<strong>Ins ms</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_insertTime">Ins ms</a>}</td>
<td>#if ($tableOrdering="r_deleteCount"){<strong>Del #</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_deleteCount">Del #</a>}</td>
<td>#if ($tableOrdering="r_deleteTime"){<strong>Del ms</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=r_deleteTime">Del ms</a>}</td>

<td>#if ($tableOrdering=="q_size"){<strong>Size</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=q_size">Size</a>}</td>
<td>#if ($tableOrdering="q_hits"){<strong>Hit</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=q_hits">Hit</a>}</td>
<td>#if ($tableOrdering="q_misses"){<strong>Miss</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=q_misses">Miss</a>}</td>
<td>#if ($tableOrdering="q_efficiency"){<strong>H/M%</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=q_efficiency">H/M%</a>}</td>
<td>#if ($tableOrdering="q_expires"){<strong>Exp</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=q_expires">Exp</a>}</td>
<td>Clear #</td>
<td>Clear R#</td>
<td>Type</td>
<td>#if ($tableOrdering="q_sqlTime"){<strong>Time</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=q_sqlTime">Time</a>}</td>
<td>#if ($tableOrdering="q_sqlCount"){<strong>Count</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=q_sqlCount">Count</a>}</td>
<td>#if ($tableOrdering="q_sqlAverageTime"){<strong>T/C</strong>}#else{<a href="$node.url?view=viewCacheStatus&tableOrdering=q_sqlAverageTime">T/C</a>}</td>
</tr>

<tr>
  <td>Totals for $totalTables Tables</td>
  <td>$totalRecordSize</td>
  <td>$totalRecordHits</td>
  <td>$totalRecordMisses</td>
  <td></td>
  <td>$totalRecordExpiries</td>
  <td></td>
  <td>$totalRecordReads</td>
  <td>$totalRecordReadTime</td>
  <td>$totalRecordUpdates</td>
  <td>$totalRecordUpdateTime</td>
  <td>$totalRecordInserts</td>
  <td>$totalRecordInsertTime</td>
  <td>$totalRecordDeletes</td>
  <td>$totalRecordDeleteTime</td>
  <td>$totalQuerySize</td>
  <td>$totalQueryHits</td>
  <td>$totalQueryMisses</td>
  <td></td>
  <td>$totalQueryExpires</td>
  <td></td>
  <td></td>
  <td></td>
  <td>$totalQuerySqlTime</td>
  <td>$totalQuerySqlCount</td>
  <td></td>
</tr>
</table>

<p>Size: number of stored items currently in memory <br /> 
   Hits: number of requests for already cached items <br />
   Miss: number of requests for non-cached items <br />
   H/M%: Cache Efficiency (100*Hits/Misses, 100=unity) <br /> 
   Exp: Number of items expelled from cache to free memory <br />
   Time: Cumulative time in milliseconds spent rebuilding queries from db <br />
   Count: Total number of SQL queries issued against this db <br />
   T/C: Average time per SQL query in microseconds  <br />
 </p>

</div><!-- n_cacheStatus -->

<!-- ! node/stats/cacheStatus.wm.html -->