<!-- node/stats/queryCache.wm.html -->

#set $tableName = $nodeRequest.tableName
#set $queryOrdering = $nodeRequest.queryOrdering
#if ($queryOrdering == null) {
  #set $queryOrdering = "sqlQuery" 
}

<div class="n_queryCache">

<h1>Query Cache: $tableName</h1>

<p>
<a href="$node.url?view=viewCacheStatus">All Tables</a> |
<a href="$node.url">Exit Stats</a>
</p>

#set $table = $db.getTable($tableName)
#set $queries = $table.getCachedQueries($queryOrdering)

<table>
<tr>
<td>Name</td>
<td>#if ($queryOrdering="sqlQuery"){SQL}#else{<a href="$node.url?view=viewQueryCache&tableName=$tableName&queryOrdering=sqlQuery">SQL</a>}</td>
<td>#if ($queryOrdering=="rebuildDuration"){Time}#else{<a href="$node.url?view=viewQueryCache&tableName=$tableName&queryOrdering=rebuildDuration">Time</a>}</td>
<td>#if ($queryOrdering=="recordCount"){Size}#else{<a href="$node.url?view=viewQueryCache&tableName=$tableName&queryOrdering=recordCount">Size</a>}</td>
<td>#if ($queryOrdering=="resultListCount"){Access}#else{<a href="$node.url?view=viewQueryCache&tableName=$tableName&queryOrdering=resultListCount">Access</a>}</td>
</tr>
#foreach $query in $queries {
  <tr>
  <td>#if ($query.Name == null) { null } #else { $query.Name }</td>
  <td>$query.SqlQuery</td>
  <td>$query.LastRebuildDuration</td>
  <td>$query.SizeIfKnown</td>
  <td>$query.ResultListCount</td>
  </tr>
}
</table>

</div><!-- n_queryCache -->

<!-- ! node/stats/queryCache.wm.html -->
