<!-- node/SingleImage/singleImage-core.edit.wm.html -->
## expects $compiledRegion points to SingleImageInstance or compatible
## expects $regionName
#set $singleImageStyle = $compiledRegion.style
<fieldset>
#include as template "node/abstractContentCompilerHeader.edit.wm.html"
#if ($compiledRegion.isDefined) {

  <div class="w_labelWidget">
  <label>Current image</label>
  <div class="w_widget w_value">
  $compiledRegion.imagePreview
  ##include as template "node/SingleImage/singleImage.view.wm.html"
  </div>
  </div>

  <div class="w_labelWidget">
  <label>Last updated</label>
  <div class="w_widget w_value">$compiledRegion.lastModifiedDate</div>
  </div>

  $compiledRegion.asFormElement.file
  #if (! $singleImageStyle.isFixedFormat) {
    $compiledRegion.asFormElement.format_id
  }
  #if ($singleImageStyle.hasEditableAlt) {
    $compiledRegion.asFormElement.alt
  }

}
</fieldset>
<!-- ! node/SingleImage/singleImage-core.edit.wm.html -->