#set $indexPagesLinks = $indexValue.rankedIndexPagesLinks.is.isDefined
#if ($indexPagesLinks.Size > 0) {
	<div class="IndexValue"><div class="titleDescription">
	<ul class="semantic">
	#foreach $indexPage_indexValue in $indexPagesLinks.is.isDefined {
		#set $indexPage = $indexPage_indexValue.indexPage
		#if ($indexPage.isPublished) {
			#set $indexPageNode = $indexPage.node
			<li>
			<span class="title ranking$indexPage_indexValue.ranking">$indexPageNode.href.title</span>
			#if ($indexPage_indexValue.description != "") {
				<span class="description value">$indexPage_indexValue.description</span>
			}
			#if ($indexPageNode.description != "") {
				<span class="description node">$indexPageNode.description</span>
			}
			</li>
		}
	}
	</ul>
	</div></div>
}