#set $indexPagesLinks = $indexValue.rankedIndexPagesLinks.is.isDefined
#if ($indexPagesLinks.Size > 0) {
	<div class="IndexValue"><div class="title">
	#set $i = $indexPagesLinks.RecordList.iterator()
	<p>
	#foreach $indexPage_indexValue in $i {
		#set $indexPage = $indexPage_indexValue.indexPage
		#if ($indexPage.isPublished) {
			<span class="title ranking$indexPage_indexValue.ranking">$indexPage.node.href.title</span>#if($i.hasNext()){, }
		}
	}
	</p>
	</div></div>
}