#set $indexPagesLinks = $indexValue.rankedIndexPagesLinks.is.isDefined
#if ($indexPagesLinks.Size > 0) {
	<div class="IndexValue"><div class="verbose">
	<ul class="semantic">
	#foreach $indexPage_indexValue in $indexPagesLinks {
		#if ($indexPage_indexValue.isDefined) {
			#set $indexPage = $indexPage_indexValue.indexPage
			#if ($indexPage.isPublished) {
				#set $indexPageNode = $indexPage.node
				<li>
				#eval $Global.ScalableSingleImage using {
					"scalableSingleImage":$indexPageNode.compile.pageImg,
					"grid":1,
					"a_href":$indexPageNode.url,
					"div":"gntml_right_1"
				}
				<div class="breadcrumb">
				#set $matchingNode = $indexPage.node
				#if ($matchingNode.id != 1) {
					#set $matchingParentNodes = $matchingNode.breadcrumbTrail.iterator()
					#if ($matchingParentNodes.hasNext()) {
						#set $matchingParentNode = $matchingParentNodes.next()
						#foreach $matchingParentNode in $matchingParentNodes {
							#if ($matchingParentNodes.hasNext()) { 
								$matchingParentNode.href.htmlTitle /
							}
						}
					}
				}
				<strong><span class="title ranking$indexPage_indexValue.ranking">$matchingNode.href.title</span></strong>
				</div>
				#if ($indexPage_indexValue.description != "") { 
					<div class="description value">$indexPage_indexValue.description</div> 
				}
				#if ($matchingNode.description != "") { 
					<div class="description node">$matchingNode.description</div> 
				}
				</li>
			}
		}
	}
	</ul>
	</div></div>
}
