#set $gntmlCyclingImage = $gntmlBlock.Instance
#set $namePrefix = $gntmlCyclingImage.namePrefix
$Forms.hidden("$(namePrefix)isActive", "true")
$gntmlCyclingImage.asFormElement.title
$gntmlCyclingImage.asFormElement.label

<table>
<tr><th></th><th>Image</th><th>filename</th><th>Ranking</th></tr>
$Forms.hidden("$(namePrefix)hasSelectedImages", true)
#foreach $gntmlCyclingImage_imgOriginal in $gntmlCyclingImage.imgOriginalsLinks {
	#if ($gntmlCyclingImage_imgOriginal.isDefined) {
		#set $imgOriginal = $gntmlCyclingImage_imgOriginal.imgOriginal		
		<tr>
		<td>$Forms.checkboxWidget("true", true, false, "$(namePrefix)$(gntmlCyclingImage_imgOriginal.id)-isDefined")</td>
		<td>$imgOriginal.atWidthFormat.get($Grid.getWidth(1)).get(null).imgTag</td>
		<td>$imgOriginal.filename</td>
		<td>$Forms.textInputWidget($gntmlCyclingImage_imgOriginal.rank, "CyclingImage-ranking", "$(namePrefix)$(gntmlCyclingImage_imgOriginal.id)-ranking")</td>
		</tr>
	}
}

</table>

<a href="$gntmlCyclingImage.imgSearch.QueryBase&view=ImgOriginal_Search">Add Image</a>

$gntmlCyclingImage.asFormElement.speed
$gntmlCyclingImage.asFormElement.timeout
