$Requirements.needs("cycle2")
#local {

	#if ($gntmlCyclingImage.title != "") {
		<div class="gntml_title heading">$gntmlCyclingImage.title</div>
	}
	#set $imgOriginalLinks = $gntmlCyclingImage.imgOriginalsLinks.is.isDefined.RecordList	
	#if ($imgOriginalLinks.size() > 0) {
		
		#set $maxHeight = 0
		#foreach $imgOriginalLink in $imgOriginalLinks  {
			#set $imgOriginal = $imgOriginalLink.imgOriginal
			#set $height = $imgOriginal.height
			#if ($height > $maxHeight) {
				#set $tallestImgOriginal = $imgOriginal
				#set $maxHeight = $height
			}
		}
		
		#set $targetWidth = $Dimensions.getCurrent().getContentWidthPx()
		
		#set $id = "CyclingImage_$gntmlCyclingImage.id"
		<div class="cycle-slideshow auto" 
			data-cycle-fx=fade
			data-cycle-speed=$gntmlCyclingImage.speed
			data-cycle-timeout=$gntmlCyclingImage.timeout
			data-cycle-progressive="\#$id"
			style="height: $(tallestImgOriginal.atWidthFormat.get($targetWidth).get(null).height)px;"
			aria-label="$gntmlCyclingImage.label"
		>
		#set $i = $imgOriginalLinks.iterator()
		$i.next().imgOriginal.atWidthFormat.get($targetWidth).get(null).imgTag
		<script id="$id" type="text/cycle"> 
		[
    
		#foreach $imgOriginalLink in $i {
			"$imgOriginalLink.imgOriginal.atWidthFormat.get($targetWidth).get(null).imgTag.toString().replace('"','\'')"
			#if ($i.hasNext()) {, }
		
		}
		]
		</script>
		</div>
	}
}
