
<!-- node/Ntml/ntml.edit.wm.html -->
<div class="widgetGrouping">

#include as template "node/abstractContentCompilerHeader.edit.wm.html"
#if ($compiledRegion.isDefined) {
  <div class="widgetGroupingContent">
  <textarea class="$compiledRegion.style.textareaCss" 
  #if ($compiledRegion.style.textareaRows > 0) {
    rows="$compiledRegion.style.textareaRows" 
  }
  #if ($compiledRegion.style.textareaCols > 0) {
    cols="$compiledRegion.style.textareaCols" 
  }
  name="$compiledRegion.regionStyle.name-ntml">$compiledRegion.htmlSafeNtml</textarea>
  </div>
}
</div>
<!-- end node/Ntml/ntml.edit.wm.html -->
