#wrapDefined '<ul class="semantic timedPages description">' {
	#foreach $timedPage in $timedPages {
		<li>
		<span class="formattedDates">$timedPage.formattedDates</span>
		<span class="timedPageListing">$timedPage.timedPageListing.node.href.title</span>
		<span class="title">$timedPage.href.title</span>
		<span class="description">$timedPage.node.description</span>
		</li>
	}
} '</ul>'