#wrapDefined '<ul class="semantic gallery gallery1">' {
	#foreach $row in $Iterables.partition($timedPages, $Dimensions.Current.ContentWidth) {
		<div class="row">
		#foreach $timedPage in $row {
			<li>
			#eval $Global.I_ScalableSingleImage using {
				"scalableSingleImage": $timedPage.node.compile.pageImg,
				"grid": 1,
				"a_href": $timedPage.node.url,
				"missingImage": null
			}
			<span class="formattedDates">$timedPage.formattedDates</span>
			<span class="timedPageListing">$timedPage.timedPageListing.node.href.title</span>
			<span class="title">$timedPage.node.href.title</span>
			</li>
		}
		</div>
	}
} '</ul>'
