#wrapDefined '<ul class="semantic timedPages illustrated">' {
	#foreach $timedPage in $timedPages {
		<li>
		#set $pageImg = $timedPage.node.compile.pageImg
		#if ($pageImg.isDefined) {
			#eval $Global.I_ScalableSingleImage using {
				"scalableSingleImage": $timedPage.node.compile.pageImg,
				"grid": $Vars.pad("timedPages_image_grid", 1),
				"a_href": $timedPage.node.url,
				"div_class": "image"
			}
		}
		<span class="formattedDates">$timedPage.formattedDates</span>
		<span class="timedPageListing">$timedPage.timedPageListing.node.href.title</span>
		<span class="title">$timedPage.href.title</span>
		<span class="description">$timedPage.node.description</span>
		</li>
	}
} '</ul>'