#wrapDefined '<ul class="semantic timedPages title">' {
	#foreach $timedPage in $timedPages  {
		<li>
		<span class="formattedDates">$timedPage.formattedDates</span>
		<span class="timedPageListing">$timedPage.timedPageListing.node.href.title</span>
		<span class="title">$timedPage.href.title</span>
		</li>
	}
} '</ul>'