#wrapDefined '<ul class="semantic timedPages title">' {
	#foreach $timedPage in $timedPages {
		<li>
		<span class="formattedDates">$timedPage.formattedDates</span>
		<span class="title">$timedPage.node.href.title</span>
		</li>
	}
} '</ul>'