#templet $t_contentWrapper {
	<div class="t_contentWrapper">

	<h1>Grant User Rights for $targetUser.name</h1>

	<div class="w_themedForm">
	$Forms.openPostForm("Configure access rights", $node.url, $nodeRequest.View)
	$Forms.hidden("view",$nodeRequest.View)
	#foreach $targetAcl in $targetAcls {
		$Forms.checkbox($targetAcl.name, "true", $nodeMgr.Acl.acceptsAclUser($targetAcl,$targetUser), false, false, "Acl-$targetAcl.id")
	}
	$Forms.submit("configure")
	$Forms.closePostForm()
	</div>

	<p><a href="$node.url">Continue...</a><p>

	</div>
}