#set $node = $nodeRequestSegment.Node

#templet $t_row_content {
	<div class="t_row t_row_zoom">

	<div class="grid_1">&nbsp;</div>

	
	#set $grid_width = $Grid.ColumnCount - 2
	#set $gntmlScalableImage = $zoomedGntmlScalableImage 
	<div class="grid_$grid_width"><div class="t_zoom">
	#include as template "Gntml/scalableImage.templets.wm.html"
	#eval $t_node_title
	#eval $ScalableImage_zoom	
	</div></div>
	
	<div class="grid_1">&nbsp;</div>
	
	</div>
}