<!-- app/timedItems.view.wm.html -->
#set $node = $nodeRequestSegment.Node

#set $timedItemSettings = $node.compile.timedItemSettings

#if ($nodeRequest.hasNextRequestSegment()) {
  #set $nodeRequestSegment = $nodeRequest.nextNodeRequestSegment()
  #include as template "$nodeRequestSegment.TemplatePath"
  #set $nodeRequestSegment = $nodeRequest.previousNodeRequestSegment()
} #else {

  <div class="g_maincol_o"><div class="g_maincol_i">
  
  #include as template "node/rss/templets.wm.html"
  
  ##<h1>$node.title #eval $rss_iconLink using { "rssNodeStyle": 3013 }</h1>

  ## -------------------------------------------------------------------------
  ## TimedItems
  
  #set $compiledRegion = $node.compile.headerDoc
  #include as template "$compiledRegion.viewTemplatePath"

  #set $paginator = $timedItemSettings.childrenTimedItemsPaginator.get($nodeRequest)

  #include as template "node/paginatorMenu.wm.html"
  <ul class="f_timedItems">
  #foreach $timedItem in $paginator.RecordSource {
    <li #if ($timedItem.isSticky) { class="f_sticky" }>
      <h3>$timedItem.href.title</h3>
      <p>$timedItem.listingSummary</p>
    </li>
  }
  </ul>
  
  #set $compiledRegion = $node.compile.footerDoc
  #include as template "$compiledRegion.viewTemplatePath"
  
  ## -------------------------------------------------------------------------

  #include as template "app/include/viewControls.wm.html"
  </div></div>
}

<!-- ! app/timedItems.view.wm.html -->
