<!-- node/MultiMailmanSubscribe/mailmanFailure -->
<h1>MultiMailmanSubscribe failure</h1>

#if ($Variable.isDefined("cleanListName")) {
  <h2>Clean subscriptions</h2>

  <ul>
  #foreach $cleanListName in $cleanListNames {
    <li>$cleanListName</li>
  }
  </ul>
}

#if ($Variable.isDefined("listErrors")) {
  <h2>Failed subscriptions</h2>

  <ul>
  #foreach $entry in $listErrors.entrySet() {
    <li>$entry.Key: $entry.Value</li>
  }
  </ul>
}
<!-- end node/MultiMailmanSubscribe/mailmanFailure -->
