
.gntml_plus_top, .gntml_grid.gntml_plus_top {
	vertical-align: top;
	}
.gntml_plus_bottom, .gntml_grid.gntml_plus_bottom {
	vertical-align: bottom;
	}
.gntml_plus_middle, .gntml_grid.gntml_plus_middle {
	vertical-align: middle;
	}
.gntml_plus_left>.i>* {
	text-align: left;
	}
.gntml_plus_right>.i>* {
	text-align: right;
	}
.gntml_plus_center>.i>* {
	text-align: center;
	}
.gntml_plus_justify>.i>* {
	text-align: justify;
	}
.gntml_plus_clear {
	clear: both;
	}
.gntml_plus_clear_left {
	clear: left;
	}
.gntml_plus_clear_right {
	clear: right;
	}

#foreach $i in $List.createRange(1,8) {
.gntml_left.gntml_in_$i \{ margin-left: $(Grid.getIndent($i))px; \}
.gntml_right.gntml_in_$i \{ margin-right: $(Grid.getIndent($i))px; \}
}

.gntml_left.gntml_plus_noclear,
.gntml_right.gntml_plus_noclear {
	clear: none;
}
.gntml_left.gntml_plus_adjacent {
	margin-right: 0;
	}
.gntml_right.gntml_plus_adjacent {
	margin-left: 0;
	}

.gntml_plus_moveleft_1 {
	position: relative;
	left: -$(Grid.getIndent(1))px;
}
.gntml_plus_moveleft_2 {
	position: relative;
	left: -$(Grid.getIndent(2))px;
}
.gntml_plus_moveleft_3 {
	position: relative;
	left: -$(Grid.getIndent(3))px;
}
.gntml_plus_moveleft_4 {
	position: relative;
	left: -$(Grid.getIndent(4))px;
}
.gntml_plus_moveleft_5 {
	position: relative;
	left: -$(Grid.getIndent(5))px;
}
.gntml_plus_moveleft_6 {
	position: relative;
	left: -$(Grid.getIndent(6))px;
}
.gntml_plus_moveleft_7 {
	position: relative;
	left: -$(Grid.getIndent(7))px;
}
.gntml_plus_moveleft_8 {
	position: relative;
	left: -$(Grid.getIndent(8))px;
}
.gntml_plus_moveright_1 {
	position: relative;
	right: -$(Grid.getIndent(1))px;
}
.gntml_plus_moveright_2 {
	position: relative;
	right: -$(Grid.getIndent(2))px;
}
.gntml_plus_moveright_3 {
	position: relative;
	right: -$(Grid.getIndent(3))px;
}
.gntml_plus_moveright_4 {
	position: relative;
	right: -$(Grid.getIndent(4))px;
}
.gntml_plus_moveright_5 {
	position: relative;
	right: -$(Grid.getIndent(5))px;
}
.gntml_plus_moveright_6 {
	position: relative;
	right: -$(Grid.getIndent(6))px;
}
.gntml_plus_moveright_7 {
	position: relative;
	right: -$(Grid.getIndent(7))px;
}
.gntml_plus_moveright_8 {
	position: relative;
	right: -$(Grid.getIndent(8))px;
}

.grid_innerRow {
	clear: both;
}

.gntml_plus_header_down_1,
.gntml_plus_header_down_2,
.gntml_plus_header_down_3,
.gntml_plus_header_down_4,
.gntml_plus_header_down_5,
.gntml_plus_header_down_6,
.gntml_plus_header_down_7,
.gntml_plus_header_down_8 {
	display: block;
	width: 0;
	margin: 0;
	padding: 0;
}
.gntml_plus_header_down_1 {
	height: $(Grid.getLineHeight(1))px;
}
.gntml_plus_header_down_2 {
	height: $(Grid.getLineHeight(2))px;
}
.gntml_plus_header_down_3 {
	height: $(Grid.getLineHeight(3))px;
}
.gntml_plus_header_down_4 {
	height: $(Grid.getLineHeight(4))px;
}
.gntml_plus_header_down_5 {
	height: $(Grid.getLineHeight(5))px;
}
.gntml_plus_header_down_6 {
	height: $(Grid.getLineHeight(6))px;
}
.gntml_plus_header_down_7 {
	height: $(Grid.getLineHeight(7))px;
}
.gntml_plus_header_down_8 {
	height: $(Grid.getLineHeight(8))px;
}
.gntml_plus_header_down_1.gntml_right {
	float: right;
}
.gntml_plus_header_down_1.gntml_left {
	float: left;
}
div.gntml_plus_down.gntml_left,
div.gntml_plus_down.gntml_right {
	margin-top: $(l1)px;
}

.gntml_plus_wide {
	margin-left: -$(Grid.ColumnSpacing)px;
	margin-right: -$(Grid.ColumnSpacing)px;
}
.gntml_grid.gntml_plus_wide {
	padding-left: 0;
	padding-right: 0;
}

.gntml_plus_halfwide {
	margin-left: -$(Grid.HPad)px;
	margin-right: -$(Grid.HPad)px;
}
.gntml_grid.gntml_plus_halfwide {
	padding-left: 0;
	padding-right: 0;
}

div.gntml_plus_continuous>.i,
div.gntml_plus_continuous>.i>*:first-child {
	margin-top: 0;
}
div.gntml_plus_continuous>.i,
div.gntml_plus_continuous>.i>*:last-child {
	margin-bottom: 0;
}

.gntml.left_0>.content {
	margin-left: 0;
}
.gntml.left_1>.content {
	margin-left: $(Grid.getIndent(1))px;
}
.gntml.left_2>.content {
	margin-left: $(Grid.getIndent(2))px;
}
.gntml.left_3>.content {
	margin-left: $(Grid.getIndent(3))px;
}
.gntml.left_4>.content {
	margin-left: $(Grid.getIndent(4))px;
}
.gntml.left_5>.content {
	margin-left: $(Grid.getIndent(5))px;
}
.gntml.left_6>.content {
	margin-left: $(Grid.getIndent(6))px;
}
.gntml.right_0>.content {
	margin-right: 0;
}
.gntml.right_1>.content {
	margin-right: $(Grid.getIndent(1))px;
}
.gntml.right_2>.content {
	margin-right: $(Grid.getIndent(2))px;
}
.gntml.right_3>.content {
	margin-right: $(Grid.getIndent(3))px;
}
.gntml.right_4>.content {
	margin-right: $(Grid.getIndent(4))px;
}
.gntml.right_5>.content {
	margin-right: $(Grid.getIndent(5))px;
}
.gntml.right_6>.content {
	margin-right: $(Grid.getIndent(6))px;
}

span.gntml_plus_field_shim {
	display: block;
}

.table {
	overflow: auto;
}
.table>.row {
	clear: left;
}
.row>* {
	float: left;
	width: $(Grid.getWidth($grid_gallery))px;
	margin: 0 $(Grid.HPad)px $(l1)px $(Grid.HPad)px;
}
.row>:first-child { margin-left: 0; }
.row>:last-child { margin-right: 0; }
.row>.cell1 { width: $(Grid.getWidth(1))px; }
.row>.cell2 { width: $(Grid.getWidth(2))px; }
.row>.cell3 { width: $(Grid.getWidth(3))px; }
.row>.cell4 { width: $(Grid.getWidth(4))px; }
.row>.cell5 { width: $(Grid.getWidth(5))px; }
.row>.cell6 { width: $(Grid.getWidth(6))px; }
.row>.cell8 { width: $(Grid.getWidth(8))px; }

.lt-ie9 .gntml_grid_x {
        display: block;
        margin-left: -$(Grid.HPad)px;
        margin-right: -$(Grid.HPad)px;
        overflow: auto;
}
.lt-ie9 .gntml_grid_x>.i {
        display: block;
}
.lt-ie9 .gntml_grid {
        display: block;
        padding-left: $(Grid.HPad)px;
        padding-right: $(Grid.HPad)px;
        float: left;
}

.gntml_grid_x {
	clear:both;
	margin: 0;
}
.gntml_grid_x>.i>.gntml_grid:first-child {
        padding-left: 0px;
}
.gntml_grid_x>.i>.gntml_grid:last-child {
        padding-right: 0px;
}
.gntml_grid {
	vertical-align: top;
}

select.CyclingImage-add-id {
	max-width: 25em;
	float: right;
}
input.CyclingImage-ranking {
	width: 3em;
	}

/* END: node/InForm/css/blockStyles.wm.css */
