/* START: node/InForm/css/hashgrid.wm.css */

\#grid \{
    #set $w = $Grid.getWidth() + $Grid.getColumnSpacing(2)  
	width: $(w)px;
    position: absolute;
    top: 0;
    left: 50%;
    #set $w = 0 - $w / 2
    margin-left: $(w)px;
\}

\#grid div.vert \{
    width: $(Grid.getColumnWidth())px;
    border: solid darkturquoise;
    border-width: 0 1px;
    background-color: rgba(200,255,255, 0.3);
    #set $i = $Grid.getColumnSpacing() - 2
    margin-right: $(i)px;

\}

\#grid div.vert.first-line \{
  #set $i = $Grid.getHPad() * 2 - 1
    margin-left: $(i)px;

\}


\#grid div.horiz \{
    #set $i = $l1 - 1
    height: $(i)px;
    border-bottom: 1px dotted \#ddd;
    margin: 0;
    padding: 0;

\}

\#grid.grid-1 div.vert\{
    border-color: darkturquoise;
\}

/* END: node/InForm/css/hashgrid.wm.css */
