/* START: node/InForm/css/ImagePageListing.wm.html */

.f_ImagePageListing>.row {
	overflow:auto;
	padding-bottom: $(l1)px;
	margin: 0  -$(Grid.HPad)px;
}
.f_ImagePageListing>.row>li {
	float: left;
	margin: 0 $(Grid.HPad)px;
	}

/* END: node/InForm/css/ImagePageListing.wm.html */
