/* START: node/InForm/css/IndexListing.wm.css */

.IndexListing_overview p {
	margin: 0 0 0 $(Grid.getIndent(1))px;
	text-indent: -$(Grid.getIndent(1))px;
}
.IndexListing_overview .indexValue { font-weight: bold; }
.IndexListing_overview a { text-decoration: none; }

.IndexPage_IndexValue .isDefined { width: auto; }
.IndexPage_IndexValue .ranking { width: 4em; }
.IndexPage_IndexValue .description { width: 100%; height: 3em; }

/* END: node/InForm/css/IndexListing.wm.css */
