/* START: node/InForm/css/navigation.wm.css */

.m_menu ul {
	list-style: none;
}

.m_menu a {
	display: block;
	text-decoration: none;
}

.m_singleGeneration ul,
.m_pages ul {
	overflow:auto;
	margin: 0;
	padding: 0;
}
.m_singleGeneration li,
.m_pages li {
	float: left;
	margin:0 1em 0 0;
	border-left: solid 1px black;
	padding:0 0 0 1em;
}

.m_singleGeneration li:first-child,
.m_pages li:first-child {
	border-left: 0;
	padding-left:0;
}

.m_treeFull ul {
	margin: 0;
	padding: 0 0 0 $(l1)px;
}
.m_treeFull ul.ul0 {
	padding-left: 0;
	margin-bottom: $(l1)px;
}

.m_treeFull a {
	zoom: 1;
}

.numPaginator {
	margin-bottom: $(l1)px;
	}
.numPaginator p {
	margin-bottom:0;
}	
.numPaginator ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.numPaginator li {
  display: block;
  float: left;
  padding: 0;
  margin: 0 .5em 0 0;
}

.abcPaginator {
  overflow: auto;
  padding-right: 1px;
  padding-bottom: 1px;
}

.abcPaginator ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.abcPaginator li {
  display: block;
  float: left;
  width: 2em;
  text-align: center;
  padding: 0;
  margin: 0;
}

	
a.RSS {
	display: block;
	padding-left: 18px;
	background: url('/statics/build/node/img/feed-icons/feed-icon-14x14.png') no-repeat left;
}

/* END: node/InForm/css/navigation.wm.css */
