/* START: node/InForm/css/nodeWidgets.wm.css */

/* Untargetted form behaviour */

fieldset label {
  display: block;
}

fieldset .w_file,
fieldset .w_text,
fieldset .w_textarea,
fieldset .w_multiSelect,
fieldset .w_select,
fieldset .w_submit,
fieldset .w_multisubmit,
fieldset .w_value,
fieldset .w_checkbox,
fieldset .w_date,
fieldset.w_radios {
  display: block;
}

fieldset.w_radios .w_radio {
  float: left;
  width: 10%;
  text-align: center;
}

fieldset.w_radios label {
  float: right;
  width: 90%;
  clear: both;
}

.widgetGrouping fieldset.no_border,
fieldset.no_border {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Node Editing Widgets */

.widgetGrouping,
.widgetGrouping fieldset { 
  margin: 0 0 0.25em 0;
  padding: 0.25em 0.5em;
  color: \#000;
  border: solid 1px \#ccc;
}

.widgetGrouping hr {
	clear: both;
	#set $i = $l1 - 1
	margin: 0 0 $(i)px 0;
	padding: 0;
	border: 0;
	border-bottom: solid 1px \#999;
}

.widgetGrouping table {
  margin: 0 0 $(l1)px 0;
  padding: 0;
  border: solid 1px \#ccc;
  width: 99%;
  border-collapse: collapse;
}

.widgetGrouping td {
  border: solid 1px \#ccc;
  padding: 0.25em;
  margin: 0;
}

.widgetGrouping fieldset.w_radios {
  border: none;
}

.widgetGrouping {
  border: solid 1px \#999;
  background-color: \#eee;
}


.widgetGrouping legend {
  padding: 0.1em 0.5em;
  border: solid 1px \#999;
  background-color: \#fff;
}

.widgetGrouping fieldset.w_radios legend {
  border: none;
  background-color: inherit;
}

.widgetGrouping fieldset legend {
  border: solid 1px \#ccc;
}

.widgetGrouping a {
  color: \#000;
}

.widgetGrouping a:link {
  color: \#000;
  text-decoration: underline;
}

.widgetGrouping a:visited {
  color: \#000;
  text-decoration: underline;
}

.widgetGrouping a:hover {
  color: \#000;
  text-decoration: underline;
}

.widgetGrouping form {
  border: 0;
  margin: 0;
  padding: 0;
}

.widgetGrouping .w_labelWidget {
	overflow: auto;
  clear: both;
}

.widgetGrouping label,
.widgetGrouping fieldset.w_radios .w_radio {
  float: left;
  clear: both;
  display: block;
  width: 36%;
  padding: 0 0 0.25em 0;
}

.widgetGrouping fieldset.w_radios .w_radio {
  clear: none;
  text-align: right;
}

.w_widget label {
  width: 100%;
}

.widgetGrouping .w_widget,
.widgetGrouping fieldset.w_radios label {
  display: block;
  float: right;
  clear: right;
  width: 59%;
  padding: 0 0 0.5em 0;
}

.widgetGrouping .w_file {
  display: block;
  float: right;
  text-align: right;
  width: auto;
  margin: 0 0 0.5em 0;
}

.widgetGrouping textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 20em;
}

.widgetGrouping .w_value {
  overflow:auto;
}

input, select, textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}

.widgetGrouping .w_text input,
.widgetGrouping .w_select select,
.widgetGrouping .w_multiSelect select,
.widgetGrouping input.w_fullWidth,
.widgetGrouping textarea.w_fullWidth {
  display: block;
  width: 100%;
}

.widgetGrouping .w_text input[type=checkbox] {
  width: auto;
}

.widgetGrouping .w_isDefined {
  display: inline;
  float: left;
  width: auto;
  clear: none;
}

.widgetGrouping input.w_digit {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 2em;
  text-align: right;  
}

.widgetGrouping .w_textarea textarea {
  height: 4em;
}

.widgetGrouping .w_multiSelect select {
  height: 6em;
}

.widgetGrouping .w_value img.imagePreview {
  width: auto;
  max-height: 4em;
}

.widgetGrouping .w_multisubmit {
  text-align: center;
}

.gntml_edit textarea {
  height: 20em;
}

.gntml_clear {
  clear:both;
}

.gntml_error {
  border: solid 4px \#ff0000;
  padding: 4px;
  margin-bottom: 1em; 
}
.error {
	color: \#f00;
	font-weight: bold;
}
div.error {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: solid 4px \#f00;
  padding: 4px;
  text-align: center;
}

textarea.gntmledit {
  clear: both;
}

/* ******** cssVars *********** */

/* ------------------------------------------------------------------------- */
/* Obsolete: backwards compatibility only */

body.f_unpublishedCurrent {
  border-top: solid 0.5em \#f00;
  padding-top: 0.5em;
}

body.f_unpublishedParent {
  border-top: solid 0.5em \#fcc;
  padding-top: 0.5em;
}

/* ------------------------------------------------------------------------- */
/* Designed for use with a div right after body open */

div.f_unpublishedCurrent,
div.f_unpublishedParent {
	width: 14em;
  padding: 0.5em;
  position: fixed;
  top: 7em;
  right: -5.5em;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  z-index: 1000;
}

div.f_unpublishedCurrent:before,
div.f_unpublishedParent:before {
  font-weight: bold;
  color: \#fff;
}

div.f_unpublishedCurrent {
  background-color: \#f00;
}
div.f_unpublishedCurrent:before {
  content: "This page is not published";
}

div.f_unpublishedParent {
  background-color: \#fcc;
}
div.f_unpublishedParent:before {
  content: "This page (or one of its parents) is not published";
}

dl.ImgMgr {
	margin: 0;
	padding: 0;
}

.ImgMgr_Search {
	clear: both;
}
.ImgMgr_Search_Img {
	margin-bottom: $(l1)px;
	overflow: auto;
}
.ImgMgr_Search_Img .ImgOriginal {
	float: left;
	margin-right: $(Grid.ColumnSpacing)px;
}
.ImgMgr_Search dl {
	float: left;
	width: $(Grid.getWidth(4))px;
}

dl.inline dt {
	display: inline;
	font-weight: bold;
	margin: 0;
	padding: 0;
	width: auto;
	float: none;
}
dl.inline dt:after {
	content: ': ';
}
dl.inline dd {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	float: none;
}
dl.inline dd:after {
	content: '';
	display: block;
}

\#crop-container>img {
	width: 100%;
	height: auto;
}

/* END: node/InForm/css/nodeWidgets.wm.css */

