/* START: node/InForm/css/rowsAndColumns.wm.css */

## ensure that all the containing divs expand to include any contained floated items
.t_row_header, .t_row_content, .t_row_footer {
##	overflow: auto;
	}
	
.t_header, 
.t_left, .t_content, .t_right,
.t_footer {
	overflow: visible;
}

/* END: node/InForm/css/rowsAndColumns.wm.css */
