/* START: node/InForm/css/searchBox.wm.css */

.r_search { 
  padding-top:$(l1)px; 
  padding-bottom:0 ;
  height: $(l3)px;
}

.f_globalSearch {
	margin-bottom: $(l1)px;
	}
	
.f_globalSearchInput { 
  display: block; 
  border: solid 1px \#ccc; 
  background-color: \#fcfcfc;
  width: 100%; 
  height:$(l1)px ; 
  padding-left: 6px; 
  border-radius: 3px; 
  -moz-border-radius: 3px; 
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
}

/* END: node/InForm/css/searchBox.wm.css */
