/* START: node/InForm/css/themedForm_4_6_float.css */

#text #begin

.w_themedForm,
.w_themedForm select,
.w_themedForm input,
.w_themedForm textarea {
  font-size: 1em;
}

.w_themedForm fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.w_themedForm .w_labelWidget {
  clear: both;
}

.w_themedForm label {
  float: left;
  display: block;
  width: 39%;
  margin: 0 0 0.5em 0;
}


.w_themedForm .w_widget {
  display: block;
  float: right;
  width: 59%;
  margin: 0 0 0.5em 0;
}

.w_themedForm .w_text input,
.w_themedForm .w_select select,
.w_themedForm .w_multiSelect select,
.w_themedForm .w_textarea textarea,
.w_themedForm input.w_fullWidth,
.w_themedForm textarea.w_fullWidth {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  border: solid 1px #999;
  display: block;
  padding: 0.1em;
}

.w_themedForm h1,
.w_themedForm h2,
.w_themedForm h3,
.w_themedForm h4 {
  clear: both;
}

#end

/* END: node/InForm/css/themedForm_4_6_float.css */
 