/* START: node/InForm/css/TimedPage.wm.css */

.TimedPage_count {
	text-align: center;
}
.TimedPage_next {
	text-align: right;
}

p.TimedPage_nav_date {
	text-align: center;
}

/* END: node/InForm/css/TimedPage.wm.css */
