/* START: node/InForm/css/TimedPageListing.wm.css */

.timedPages .image {
	float: left;
	margin-right: $(Grid.ColumnSpacing)px;
	min-width: $(Grid.getWidth(1))px;
	}
.timedPages .description {
	display: block;
	margin-bottom: $(l1)px;
	}
.timedPages .formattedDates:after {
	content: ": ";
	}
.timedPages.illustrated {
	}
.timedPages.illustrated>li {
	overflow: auto;
	}

.TimedPageListing_TimedPage>ul {
	list-style: none;
	margin-left: 0;
}

.TimedPageListing_TimedPage>ul>li {
	margin-bottom: $(l1)px;
}

.TimedPageListing .f_title {
	margin-bottom: 0;
}

.TimedPageListing .f_startTime {
	float: right;
	margin-left: 2em;
}

.TimedPageListing_homeHighlights li {
	margin-bottom: 0;
}

.TimedPageListing_homeHighlights p {
	margin-bottom: 0;
}

.gallery>.row {
	overflow: auto;
	padding-bottom: $(l1)px;
	margin: 0 -$(Grid.HPad)px;
}
.gallery>.row>li {
	float: left;
	margin: 0 $(Grid.HPad)px;
}
.gallery>.row>li>a>img {
	margin-bottom: $(l1)px;
	}
.gallery1>.row>li {
	width: $(Grid.getWidth(1))px;
}
.gallery2>.row>li {
	width: $(Grid.getWidth(2))px;
}
.gallery3>.row>li {
	width: $(Grid.getWidth(3))px;
}

.formattedDates:after { content: ': '; }
.timedPageListing:after { content: ': '; }

/* END: node/InForm/css/TimedPageListing.wm.css */
