/* START: node/InForm/css/typography.wm.css */

html { overflow-y: scroll; }

body, select, input, textarea {
	font-family: sans-serif;
	}
body, textarea {
	font-size: $(Grid.getFontSize(1,80))px;
	line-height: $(l1)px;
	}

h1, h2, h3, h4, ul, ol, dl, p, .gntml_image>.i, .gntml_plus_tint, pre.code_block \{
	margin-bottom: $(l1)px ;
\}
h1,h2,h3,h4 {
	margin-top: $(l2)px;
	}
h1.node_title {
	margin-top: 0;
	}
	
h1 { font-size: $(Grid.getFontSize(2,70))px; line-height: $(l2)px; }
h2 { font-size: $(Grid.getFontSize(1,90))px; }
h3 { font-size: $(Grid.getFontSize(1,80))px; }
h4 { }

hr {
	#set $i = $l2 - 1
	margin: 0 0 $(i)px 0;
	padding: 0;
	border: 0;
	border-bottom: solid 1px black;
	}

sup {
	font-size: 80%;
	position: relative;
	top: -0.5em;
}

sub {
	font-size: 80%;
	position: relative;
	bottom: -0.5em;
}

ul, ol, .semantic ul.semantic, .semantic ol.semantic {
	#set $i = $Grid.getIndent(1) / 2
	margin-left: $(i)px;
}
ul {
	list-style: disc;
	}
ol	{
	list-style: decimal;
}
ul.semantic, ol.semantic {
	list-style:none;
	margin-left:0;
	}

ul ul, ul ol, ol ol, ol ul, .gntml_plus_tint_i * \{
	margin-bottom: 0;
\}

#set $i = $Grid.HPad - 1
.gntml_plus_tint_i \{
  padding: $(i)px;
\}

dl { }
dt {
	font-weight: bold;
	}
dd {
	margin-left: $(Grid.getIndent(1))px;
	}
	
.grid_6 dl { overflow: auto; }
.grid_6 dt { width: $(Grid.getWidth(2))px; float: left; clear: both; text-align: right;  }
.grid_6 dd { width: $(Grid.getWidth(4))px; margin: 0; float: right; clear: right;  }

.grid_3 dt, .grid_2 dt, .grid_1 dt { width: auto; margin-top: $(l1)px; }
.grid_3 dd, .grid_2 dd, .grid_1 dd { margin: 0; }

	
blockquote {
	margin: 0 $(Grid.getIndent(1))px $(l1)px $(Grid.getIndent(1))px;
	font-style: italic;
}
.grid_3 blockquote {
	margin-left: 0;
	margin-right: 0;
	}

/* END: node/InForm/css/typography.wm.css */

