#if ($gntmlIndexListingBlock.indexListing == null) {
	<div class="error">|IndexListing:$gntmlIndexListingBlock.blockName| No index category defined</div>
} #else {
	#wrapDefined '<ul class="semantic">' {
		#foreach $indexValue in $gntmlIndexListingBlock.indexListing.indexValues {
			<li>$indexValue.node.href.title ($indexValue.indexPages.Size)</li>
		}
	} '</ul>'
}