#set $node = $nodeRequestSegment.Node

#templet $t_contentWrapper {
	<div class="t_contentWrapper">
	<h1>404</h1>

	#include as template "fourOhFourSuggestion.wm.html"

	#if ($Variable.isDefined("badFilename")) {
		<div class="fourohfour_search">
		<p><a href="/Search?view=search&AS_fulltext_searchTerms=$badFilename">Search the site for $badFilename</a></p>
		</div>
	}

	#include as template "viewControls.wm.html"
	</div>
}