#set $node = $nodeRequestSegment.Node

#templet $t_row_content {

	<div class="grid_1 alpha">&nbsp;</div>

	#set $grid_width = $grid_width - 2
	<div class="grid_$grid_width"><div class="t_zoom">

	#include as template "Gntml/scalableImage.templets.wm.html"
	<h1>$node.title</h1>
	#eval $ScalableImage_zoom
	
	</div></div>
	
	<div class="grid_1 omega">&nbsp;</div>
}