<!-- node/abcPages.wm.html -->
## expects $abcPaginator

#if (! $Variable.isDefined("itemName")) {
  #set $itemName = "item"
}

#if (! $Variable.isDefined("itemNames")) {
  #set $itemNames = "$(itemName)s"
}

#if (! $Variable.isDefined("abcTargetNode")) {
  #set $abcTargetNode = $Global.node
}

<div class="abcPaginator">
<ul>
#foreach $targetAbcPaginator in $abcPaginator {
#if ($targetAbcPaginator == $abcPaginator) {<li class="selected"><strong>$targetAbcPaginator.AbcFilter</strong></li>} #else {
#set $targetAbcPaginatorSize = $targetAbcPaginator.FilteredQuery.Size
#if ($targetAbcPaginatorSize == 0) {<li class="inactive">$targetAbcPaginator.AbcFilter</li>} #else {<li class="active"><a href="$abcTargetNode.url?$targetAbcPaginator.GetParams" 
#if ($targetAbcPaginatorSize==1) { 
title="1 matching $itemName" 
} #else { 
title="$targetAbcPaginatorSize matching $itemNames" 
}>$targetAbcPaginator.AbcFilter</a></li>}}}
#if ($abcPaginator.isAll()) {
<li class="all selected"><strong>ALL</strong></li>
} #else {
<li class="all active"><a href="$abcTargetNode.url?$abcPaginator.AllPage.GetParams">ALL</a></li>
}
</ul>
</div>


<!-- ! node/abcPages.wm.html -->
