<!-- node/abstractContentCompilerHeader.edit.wm.html -->
<legend>$compiledRegion.regionStyle.title</legend>

<input type="hidden" name="$compiledRegion.regionStyle.name-isDefined-active" value="true" />
#if ($compiledRegion.style.isOptional) {
  <div class="w_labelWidget">
  <label>Is active?</label>
  <div class="w_widget w_checkbox">
  <input type="checkbox" 
         name="$compiledRegion.regionStyle.name-isDefined" 
         onclick="this.form.submit()" 
         #if ($compiledRegion.isDefined) { checked="checked" }  />
  </div>
  </div>
} #else {
  <input type="hidden" name="$compiledRegion.regionStyle.name-isDefined" value="true" />
}
<!-- ! node/abstractContentCompilerHeader.edit.wm.html -->
