<!-- node/addUserForm.wm.html -->

<dl>

<dt>Name</dt>
<dd></dd>

<dt>Login</dt>
<dd></dd>

<dt>Password</dt>
<dd></dd>

<dt>Confirm Password</dt>
<dd></dd>

</dl>
<div class="enddl"></div>

<!-- ! node/addUserForm.wm.html -->