<!-- node/changePasswordForm.wm.html -->

<div class="w_themedForm">
<form method="post" action="$node.url">
<fieldset>

<input type="hidden" name="view" value="changePassword" />

#if (!$Variable.isDefined("userLogin")) {
  #set $userLogin = "$nodeRequest.User.login"
}

<div class="w_labelWidget">
<label for="changePassword_login">Login</label>
<div id="changePassword_login" class="w_widget w_value">$userLogin <input type="hidden" name="login" value="$userLogin" /></div>
</div>

<div class="w_labelWidget">
<label for="changePassword_password">Existing Password</label>
<div class="w_widget w_text"><input id="changePassword_password" type="password" name="password" /></div>
</div>

<div class="w_labelWidget">
<label for="changePassword_newPassword">New Password</label>
<div class="w_widget w_text"><input type="password" id="changePassword_newPassword" name="newpassword" /></div>
</div>

<div class="w_labelWidget">
<label for="changePassword_newPasswordConf">Confirm New Password</label>
<div class="w_widget w_text"><input type="password" id="changePassword_newPasswordConf" name="confirmnewpassword" /></div>
</div>

<div class="w_labelWidget">
<div class="w_widget w_submit"><input class="submit" type="submit" value="change password" class="defaultFont" /></div>
</div>

</fieldset>
</form>
</div>

<!-- ! node/changePasswordForm.wm.html -->
