
<!-- node/deleteControls.wm.html -->
<fieldset class="widgetGrouping">

<form action="$node.url" method="post" style="float:left"><fieldset class="no_border">
<input type="hidden" name="view" value="cancelDelete" />
<input type="submit" value="cancel" class="defaultFont" />
</fieldset></form>

<form action="$node.url" method="post" style="float:right"><fieldset class="no_border">
<input type="hidden" name="view" value="confirmDelete" />
<input type="submit" value="delete items" class="defaultFont" />
</fieldset></form>

</fieldset>
<!-- ! node/deleteControls.wm.html -->
