
<!-- node/editControls.wm.html -->

<div class="widgetGrouping edit_controls">
<div class="widgetGroupingContent">
  <input type="hidden" name="view" value="update">
  <input style="float: left" class="defaultFont" type="submit" value="Update" onclick="document.updateForm.view.value='update'">
  <input style="float: left" class="defaultFont" type="submit" value="Preview Changes" onclick="document.updateForm.view.value='precommit'">
  #if ($nodeRequestSegment.IsDeletable) {
    <input style="float: left" class="defaultFont" type="submit" value="Delete Page" onclick="document.updateForm.view.value='deleteNode'">
  }
  <input style="float: right" class="defaultFont" type="submit" value="Undo Changes" onclick="document.updateForm.view.value='cancel'">
  <div class="clear"></div>
</div>
</div>

<!-- end node/editControls.wm.html -->