## expects $targetNode = the Node that is to have an edit widget created for it
<!-- node/editTargetNode.wm.html -->
#if ($nodeRequest.IsLoggedIn) {
  #if ($nodeRequest.isEditable($targetNode)) {
    [<a href="javascript:document.edit$(targetNode.id).submit()" title="edit $targetNode.title" class="editTargetNode">#if ($Variable.isDefined("editTargetNodeTitle")){$editTargetNodeTitle}#else{Edit $targetNode.htmlTitle}</a>]
    <form name="edit$targetNode.id" class="editTargetNodeForm" method="post" action="$httpServletPath$targetNode.path">
    <input type="hidden" name="view" value="edit">
    </form>
  }
}
<!-- end node/editTargetNode.wm.html -->
