#set $errorTitle = $nodeRequest.ErrorTitle
#if ($errorTitle == "" || $errorTitle == null) {
	#eval $t_node_title
} #else {
	#eval $t_node_title using $Vars.extendContext({ "node_title":$errorTitle })
}

<div class="feedback">
#if ($nodeRequest.ErrorMessage != "") {
	<p>$Strings.noHtml($nodeRequest.ErrorMessage)</p>
}

#if ($Vars.hasValue("feedbackErrorException") && $feedbackErrorException.hasWebmacroTemplate()) {
	#include as template "$feedbackErrorException.WebmacroTemplate"
}

<p>$nodeRequest.TargetLeafNode.href.get("Continue...")</p>

#if ($Vars.hasValue("feedbackErrorException") && $feedbackErrorException.isVisibleCause() && $feedbackErrorException.Cause != null) {
	#if ($feedbackErrorException.Cause.Message != null) {
		<p class="feedback_message">$Strings.noHtml($feedbackErrorException.Cause.Message)</p>
	}
	$feedbackErrorException.getCauseStackTraceAsHtml()
}
</div>
