
<!-- node/filenameControls.wm.html -->

#if ($nodeRequestSegment.Node.nodeStyle.isEditableFilename) {
<FORM METHOD="post">
<INPUT TYPE="text" 
       NAME="filename"
       VALUE="$nodeRequestSegment.Node.filename"
       CLASS="widget">
<INPUT TYPE="hidden" 
       NAME="view" 
       VALUE="changeFilename">
<INPUT TYPE="submit" 
       VALUE="Change filename"
       CLASS="widget">
</FORM>
}

<!-- end node/filenameControls.wm.html -->
