#set $Global.ga_pageURL = "/404$UrlEscapers.urlFragmentEscaper().escape($nodeRequest.VirtualPath)"

#if ($Variable.isDefined("badFilename")) {
  <div class="fourohfour_suggestion">
  <p><strong>Unknown filename: $Strings.noHtml($badFilename)</strong></p>

  #set $possibleNodes = $lastLegalNode.childrenMenuNodes.get($nodeRequest).is.isPublished.orderedBy.get("Node.title")

  #if ($possibleNodes.Size > 0) {
    <p>Maybe you meant one of these:</p>
    <ul>
    #foreach $possibleNode in $possibleNodes {
      <li>$possibleNode.href.title</li>
    }
    </ul>
  }
  </div>
}
