#set $links = $nodeManager.RelatedPagesManager.getLinks($nodeRequest.TargetLeafNode, null)
#if (!$Lists.isEmpty($links)) {
	<div class="ListRelatedPages">
	<p class="heading">Related Pages</p>
	<ul class="f_children semantic">
	#foreach $link in $links {
		<li>$link</li>
	}
	</ul>
	</div>
}