<!-- node/login.view.wm.html -->

#set $node = $nodeRequestSegment.Node

#if ($nodeRequest.ErrorMessage != "") { 
	<p><strong>$nodeRequest.ErrorMessage</strong></p>
}

<h2>Login</h2>

#include as template "loginForm.wm.html"

#if ($nodeRequest.IsLoggedIn) {

	<h2>Logout</h2>

	#set $sessionTransaction = $nodeRequest.SessionTransaction
	#if ($Variable.isDefined("sessionTransaction") && $sessionTransaction.TransactionCount > 0) {
		<p>You have $sessionTransaction.TransactionCount active edits.  
		Logging out will cancel all of your pending changes.
		If any of the following contain work that you want to keep then you should save them before logging out:
		</p>
		<ul>
		#foreach $lockedNode in $sessionTransaction.LockedNodes {
			<li>
			$lockedNode.href.path
			</li>
		}
		</ul>
	}

	#include as template "logoutForm.wm.html"

	<h2>Change Password</h2>

	#include as template "changePasswordForm.wm.html"

}

<!-- end node/login.view.wm.html -->