<!-- node/loginForm.wm.html -->

<p>
#if ($nodeRequest.IsLoggedIn) {
  You are currently logged in as "$nodeRequest.User.name".
} #else {
  You are not currently logged in.
}
</p>

<div class="w_themedForm">
<form method="post" action="$httpServletPath$nodeRequest.TargetLeafNode.path">
<fieldset>
<input type="hidden" name="view" value="login" />
#if ($Vars.hasValue("httpServletRequest_URL_query")) {
	<input type="hidden" name="httpServletRequest_URL_query" value="$httpServletRequest_URL_query" />
}

<div class="w_labelWidget">
<label for="login_login">#if ($Variable.isDefined("loginForm_login_label")) {$loginForm_login_label} #else {Login}</label>
<div class="w_widget w_text"><input id="login_login" name="login" /></div>
</div>

<div class="w_labelWidget">
<label for="login_password">#if ($Variable.isDefined("loginForm_password_label")){$loginForm_password_label} #else {Password}</label>
<div class="w_widget w_text"><input type="password" id="login_password" name="password" /></div>
</div>

<div class="w_labelWidget">
<div class="w_widget w_submit"><input class="submit" type="submit" value="login" /></div>
</div>

</fieldset>
</form>
</div>

<!-- ! node/loginForm.wm.html -->