<!-- node/logoutForm.wm.html -->

<div class="w_themedForm">
<form method="post"
#if ($Variable.isDefined("logoutFormAction")) {
	action="$logoutFormAction"
} #else {
	action="$node.url"
}><fieldset>
<input type="hidden" name="view" value="logout" />

<div class="w_labelWidget">
<div class="w_widget w_submit"><input class="submit" type="submit" value="logout $nodeRequest.User.name" /></div>
</div>

</fieldset></form>
</div>

<!-- ! node/logoutForm.wm.html -->
