#if ($menuMode == 0) {
$menuText
} #elseif ($menuMode == 1) {
<b>$menuText</b>
} #elseif ($menuMode == 2) {
<A HREF="$menuPath">$menuText</a>
} #elseif ($menuMode == 3) {
<A HREF="$menuPath"><b>$menuText</b></a>
}
