
<!-- node/node.view.wm.html -->
#set $node = $nodeRequestSegment.Node
<DIV CLASS="node">

<span class="defaultFont">

[ #include as template "node/standardMenuHome.wm.html" ]


[
#foreach $menuNode in $node.childrenNodes {
  #if ($menuNode.nodeStyle.isMenuItem) {
    #include as template "node/standardMenuChild.wm.html"
  }
} ]

<span class="templatePath">($node.nodeStyle.viewTemplatePath)</span>

</span>

<br>

#if ($nodeRequest.hasNextRequestSegment()) {
#foreach $regionStyle in $node.nodeStyle.summaryRegionStyles {
<DIV CLASS="regionStyle">

#foreach $region in $node.regionsFrom.get($regionStyle) {
<DIV CLASS="region">

#set $compiledRegion = $region.compile
#include as template "$region.compile.viewTemplatePath"

<br clear="all">

</DIV>
}
</DIV>
}

#set $nodeRequestSegment = $nodeRequest.nextNodeRequestSegment()
#include as template "$nodeRequestSegment.TemplatePath"
#set $nodeRequestSegment = $nodeRequest.previousNodeRequestSegment()
} #else {

<div class="nodeTitle">$node.title</div>

#foreach $regionStyle in $node.nodeStyle.fullRegionStyles {
<DIV CLASS="regionStyle">

#foreach $region in $node.regionsFrom.get($regionStyle) {
<DIV CLASS="region">

#set $compiledRegion = $region.compile
#include as template "$region.compile.viewTemplatePath"

<br clear="all">

</DIV>
}
</DIV>
}

#include as template "node/viewControls.wm.html"
}
</DIV>

<!-- end node/node.view.wm.html -->
