<!-- node/nodeTitles.edit.wm.html -->
<fieldset><legend>Page Information</legend>

$node.asFormElement.title
$node.asFormElement.description
#setblock $html_title {
  #include as template "Grid/include/title.wm.html"
}
$Forms.value("HTML title", $html_title, "html_title")
<hr />

$node.asFormElement.htmlTitle
#if ($node.id != 1) {
	$node.asFormElement.isMenuItem
	$node.asFormElement.number
}
#if ($node.nodeStyle.isEditableFilename) {
  $node.asFormElement.filename
}
#if ($nodeRequestSegment.IsPublishable) {
  $node.asFormElement.isPublished 
}

<hr />

$node.asFormElement.isSearchable
$node.asFormElement.isNoIndex
$node.asFormElement.isNoFollow
<hr />

#include as template "nodeTitles.custom.edit.wm.html"

$node.asFormElement.nodeStyle_id
$node.asFormElement.creationTime
$node.asFormElement.modificationTime

<hr />

#if ($nodeManager.Acl.acceptsNodeRequest($node.nodeStyle.updateViewAcl, $nodeRequest, $node)) {
	$Forms.openSelect("View Rights", false, false, false, "viewAcl_id")
	$Forms.option($node.viewAcl.id, $node.viewAcl.name, true)
	##	#foreach $acl in $nodeManager.AclsManager.getAclSet("viewAcl", $node.nodeStyle.id) {
	##		$Forms.option($acl.id, $acl.name, $node.viewAcl_id == $acl.id)
	##	}
	$Forms.closeSelect()
} #else {
	$Forms.value("View Rights", $node.viewAcl.name, "viewAcl_id")
}

#if ($nodeManager.Acl.acceptsNodeRequest($node.nodeStyle.updateEditAcl, $nodeRequest, $node)) {
	$Forms.openSelect("Edit Rights", false, false, false, "editAcl_id")
	$Forms.option($node.editAcl.id, $node.editAcl.name, true)
	##  #foreach $acl in $nodeManager.AclsManager.getAclSet("editAcl", $node.nodeStyle.id) {
	##    <option value="$acl.id" #if ($node.editAcl_id == $acl.id) { selected }>$acl.name</option>
	##  }
	$Forms.closeSelect()
} #else {
	$Forms.value("Edit Rights", $node.editAcl.name, "editAcl_id")
}

#if ($nodeManager.Acl.acceptsNodeRequest($node.nodeStyle.updateDeleteAcl, $nodeRequest, $node)) {
	$Forms.openSelect("Delete Rights", false, false, false, "deleteAcl_id")
	$Forms.option($node.deleteAcl.id, $node.deleteAcl.name, true)
	##  #foreach $acl in $nodeManager.AclsManager.getAclSet("deleteAcl", $node.nodeStyle.id) {
	##    <option value="$acl.id" #if ($node.deleteAcl_id == $acl.id) { selected }>$acl.name</option>
	##  }
	$Forms.closeSelect()
} #else {
	$Forms.value("Delete Rights", $node.deleteAcl.name, "deleteAcl_id")
}

#if ($nodeManager.Acl.acceptsNodeRequest($node.nodeStyle.updatePublishAcl, $nodeRequest, $node)) {
	$Forms.openSelect("Publish Rights", false, false, false, "publishAcl_id")
	$Forms.option($node.publishAcl.id, $node.publishAcl.name, true)
	##  #foreach $acl in $nodeManager.AclsManager.getAclSet("publishAcl", $node.nodeStyle.id) {
	##    <option value="$acl.id" #if ($node.publishAcl_id == $acl.id) { selected }>$acl.name</option>
	##  }
	$Forms.closeSelect()
} #else {
	$Forms.value("Publish Rights", $node.publishAcl.name, "publishAcl_id")
}

</fieldset>
<!-- end node/nodeTitles.edit.wm.html -->
