
<!-- node/node.edit.wm.html -->
#set $node = $nodeRequestSegment.Node

<div class="node">
<div class="nodeNavigation">
[ #include as template "node/standardMenuHome.wm.html" ]
[ 
#foreach $menuNode in $node.childrenNodes {
  #include as template "node/standardMenuChild.wm.html"
} ]
<span class="templatePath">($node.nodeStyle.editTemplatePath)</span>
</div>

<form name="updateForm" method="post" enctype="multipart/form-data" action="$httpServletPath$node.path">

#include as template "node/nodeTitles.edit.wm.html"

#foreach $regionStyle in $node.nodeStyle.regionStyles {
  #if ($regionStyle.maximum == 1) {
    <DIV CLASS="regionStyle">
    <DIV CLASS="region">
    #set $compiledRegion = $node.compile.get($regionStyle)
    #include as template "$compiledRegion.editTemplatePath"
    <br clear="all">
    </DIV>
    </DIV>

  } #else {

    <TABLE CLASS="regionStyle">

    #foreach $region in $node.regionsFrom.get($regionStyle) {

      <TR>

      #set $compiledRegion = $region.compile

      <TD CLASS="region">
      #include as template "$compiledRegion.editTemplatePath"
      <br clear="all">
      </TD>

      <TD CLASS="region" ALIGN="center">
      <INPUT TYPE="radio" NAME="$regionStyle.name" VALUE="$region.id">
      </TD>

      </TR>
    }

    <TR>
    <TD CLASS="region"></TD>
    <TD CLASS="region">pulldown</TD>
    </TR>

    </TABLE>
  }
}
#include as template "node/editControls.wm.html"
</FORM>

#include as template "node/edit/editManager.wm.html"

<!-- end node/node.edit.wm.html -->