## expects $node

#set $siblingNodes = $node.parentNode.childrenNodes

#if ($nodeRequestSegment.IsEditable && $siblingNodes.Size > 1) {
  #set $nodeNumberNode = $nodeRequestSegment.Node
    <div class="widgetGrouping">
    <div class="widgetGroupingTitle">Page Ordering</div>
    <div class="widgetGrouping">
      <div class="widgetGroupingContent">
        <form method="post" action="$httpServletPath$nodeNumberNode.path" style="float: right">
        <input type="hidden" name="view" value="swapNode">
        <select class="widget" name="targetNodeId" onchange="this.form.submit()">
        #foreach $siblingNode in $siblingNodes {
          #if ($nodeNumberNode != $siblingNode) {
            <option value="$siblingNode.id">$siblingNode.title</option>
          } 
        }
        </select> 
        </form>
        Swap "$node.title" with <br style="clear: both">
      </div>
    </div>
    <div class="widgetGrouping">
      <div class="widgetGroupingContent">
        #set $youngerSiblings = $nodeNumberNode.youngerSiblings
        <form method="post" action="$httpServletPath$nodeNumberNode.path" style="float: right">
        #if ($youngerSiblings.Size > 0) {
          <input type="hidden" name="view" value="moveUp">
          <input type="submit" class="widgetText" value="Up">
        } #else {
          <input type="submit" disabled class="widgetText" value="Up">
        }
        </form>
        #set $elderSiblings = $nodeNumberNode.elderSiblings
        <form method="post" action="$httpServletPath$nodeNumberNode.path" style="float: right">
        #if ($elderSiblings.Size > 0) {
          <input type="hidden" name="view" value="moveDown">
          <input type="submit" class="widgetText" value="Down">
        } #else {
          <input type="submit" disabled class="widgetText" value="Down">
        }
        </form>
        Move "$node.title" <br style="clear:both">
      </div>
    </div>
  </div>
}