## re-usable widget for providing re-ordering facilities for Nodes
## expects $nodeRequestSegment to contain target Node for re-ordering
<!-- node/nodeNumber.wm.html -->

#if ($nodeRequestSegment.IsEditable) {
  <div class="widgetGrouping">
  <div class="widgetGroupingTitle">Move Page</div>
  #set $nodeNumberNode = $nodeRequestSegment.Node

  #set $youngerSiblings = $nodeNumberNode.youngerSiblings
  #if ($youngerSiblings.Size > 0) {
    <form method="post" action="$httpServletPath$nodeNumberNode.path">
    <input type="hidden" name="view" value="moveUp">
    <input type="submit" class="widget" value="Move Up">
    </form>
  }

  #set $elderSiblings = $nodeNumberNode.elderSiblings
  #if ($elderSiblings.Size > 0) {
    <form method="post" action="$httpServletPath$nodeNumberNode.path">
    <input type="hidden" name="view" value="moveDown">
    <input type="submit" class="widget" value="Move Down">
    </form>
  }

  </div>
}

<!-- ! node/nodeNumber.wm.html -->