<!-- node/node.delete.wm.html -->

#set $node = $nodeRequestSegment.Node

<div class="content">
<h2>Delete "$node.title"?</h2>

<p>Are you sure that you want to delete "$node.title"?  This operation is not reversible 
and will have the effect of deleting the following items (and their associated
properties and data):</p>

<ul>
#foreach $lockedNode in $lockedNodes {
<li><a href="$httpServletPath$lockedNode.path">$lockedNode.path</a></li>
}
</ul>

#include as template "node/deleteControls.wm.html"
</div>

<!-- end node/node.delete.wm.html -->
