<!-- node/paginatorMenu.wm.html   -->
## expects $paginator = Paginator pointing at the current page...
## expects optional $numPagFirst, $numPagPrev, $numPagNext, $numPagLast
## expects optional $itemName which will give the sort of item being paginated across

#if ($paginator.PageCount > 1 || ! $numPagHideSinglePage) {

	<div class="numPaginator">

	#set $itemName  = $Vars.pad("itemName", "item")
	#set $itemsName = $Vars.pad("itemsName", "$(itemName)s")
	#set $itemNames = $Vars.pad("itemNames", $itemsName)

	#if (! $includedPaginatorMenu) {
		<p>
		#if ($paginator.RecordCount > 1) {
			There were $paginator.RecordCount $itemsName found.
		} #else {
			#if ($paginator.RecordCount == 1) {
				There was 1 $itemName found.
			} #else {
				There were no $itemsName found.
			}
		}
		#set $includedPaginatorMenu = true
		</p>
	}

	#if ($paginator.PageCount > 1) {
		#set $nodePath = "$node.url"
		<p>Showing page $paginator.PageIndex of $paginator.PageCount</p>

		<ul>

		#if (! $Variable.isDefined("numPagHasNextPrev")) {
			#set $numPagHasNextPrev = true
		}
  
		#if ($numPagHasNextPrev) {
			#set $numPagFirst = $Vars.pad("namPagFirst", "first")
			#set $numPagPrev  = $Vars.pad("numPagPrev", "prev")
			#set $numPagNext  = $Vars.pad("numPagNext", "next")
			#set $numPagLast = $Vars.pad("numPagLast", "last")
		}

		#if ($numPagHasNextPrev) {
			#if ($paginator.HasPreviousPage) {
				<li class="first"><a href="$nodePath?$paginator.First.GetParams" class="pagesFont">$numPagFirst</a></li>
				<li class="previous"><a href="$nodePath?$paginator.PreviousPage.GetParams" class="pagesFont">$numPagPrev</a></li>
			} #else {
				<li class="first">$numPagFirst</li>
				<li class="previous">$numPagPrev</li>
			}
		}

		#foreach $targetPaginator in $paginator.iterator(10) {
			#set $pageCount = $targetPaginator.PageIndex
			#if ($targetPaginator==$paginator) {
				<li class="current"><strong>$pageCount</strong></li>
			} #else {
				<li class="target"><a href="$nodePath?$targetPaginator.GetParams" class="pagesFont">$pageCount</a></li>
			}
		}

		#if ($numPagHasNextPrev) {
			#if ($paginator.HasNextPage) {
				<li class="next"><a href="$nodePath?$paginator.NextPage.GetParams" class="pagesFont">$numPagNext</a></li>
				<li class="last"><a href="$nodePath?$paginator.Last.GetParams" class="pagesFont">$numPagLast</a></li>
			} #else {
				<li class="next">$numPagNext</li>
				<li class="last">$numPagLast</li>
			}
		}

		</ul>
	}
	</div>
}

<!-- ! node/paginatorMenu.wm.html -->
