#templet $t_content {

#eval $t_node_title
<h2>Lock contention problem</h2>

<p>It has not been possible to complete your request because the
following record is already locked by another User:-</p>

<blockquote>$recordPreLockedException.LockedRecord</blockquote>

#set $sessionTransaction = $recordPreLockedException.StealableSessionTransaction
#if ($sessionTransaction == null) {

  <p>You will have to wait until the User who currently has the lock
  on the record has completed their operation and then try again.</p>

} #else {

  <p>It is possible to steal the lock that is held on the record if
    you want to.  This will have the effect of losing any work that
    is currently being done by the other User.  The details of the
    other User is as follows:-</p>

  <blockquote>
    <b>User</b>: $sessionTransaction.UserSession.User.name<br />
    <b>Remote IP address</b>: not implemented as yet
  </blockquote>

  <p>Hit "Continue" to steal the lock from the other User or Cancel if
    you would rather wait for the other User to complete their work.</p>

  <form method="post"><fieldset>
    <input type="hidden" name="view" value="stealTransaction" />
    <input type="hidden" name="targetView" value="$nodeRequest.View" />
    <input type="submit" class="defaultFont" value="Continue" />
  </fieldset></form>


  <form method="post"><fieldset>
    <input type="hidden" name="view" value="read" />
    <input type="submit" class="defaultFont" value="Cancel" />
  </fieldset></form>

}

}