<!-- miscimage/nodeNav.wm.html -->
#set $currentNode = $nodeRequestSegment.Node

#set $previousNodes = $currentNode.youngerPublishedSiblings
#if ($previousNodes.Size > 0) {
<a href="$httpServletPath$previousNodes.FirstRecord.path">&lt;</a>
} #else {
&lt;
}

&nbsp;

<a href="$httpServletPath$currentNode.parentNode.path">^</a>

&nbsp;

#set $nextNodes = $currentNode.elderPublishedSiblings
#if ($nextNodes.Size > 0) {
<a href="$httpServletPath$nextNodes.FirstRecord.path">&gt;</a>
} #else {
&gt;
}


<!-- end miscimage/nodeNav.wm.html -->