<!-- node/requestPasswordMailoutForm.wm.html -->

<form method="post" action="$httpServletPath$nodeRequest.TargetLeafNode.path">
<input type="hidden" name="view" value="requestPasswordMailout" />

<dl>

<dt>Email</dt>
<dd><span><input name="email" /></span></dd>

<dt>&nbsp;</dt>
<dd><span><input type="submit" value="Request Password" /></span></dd>

</dl>
<div class="enddl"></div>

</form>

<!-- ! node/requestPasswordMailoutForm.wm.html -->

