#set $menuMode = $nodeRequest.getLinkMode($menuNode.filename)
#if ($menuMode == 0) {
$menuNode.htmlTitle
} #elseif ($menuMode == 1) {
<b>$menuNode.htmlTitle</b>
} #elseif ($menuMode == 2) {
<A HREF="$httpServletPath$menuNode.path">$menuNode.htmlTitle</A>
} #else {
<A HREF="$httpServletPath$menuNode.path"><B>$menuNode.htmlTitle</B></A>
}