#set $menuMode = $nodeRequest.getLinkMode()
#set $menuNode = $nodeRequestSegment.Node
#if ($menuMode == 1) {
<b><span class="nodeMenu_current">$menuNode.htmlTitle</span></b>
} #elseif ($menuMode == 2) {
<A class="nodeMenu_target" HREF="$httpServletPath$menuNode.path">$menuNode.htmlTitle</A>
} #else {
<B><A class="nodeMenu_parent" HREF="$httpServletPath$menuNode.path">$menuNode.htmlTitle</A></B>
}