<!-- node/tabbedEditor.wm.html -->

#if ($tabName == null) {
  #set $tabName = ""
}

#include as template "edit/editor_header.wm.html"

<fieldset><legend>Edit controls</legend>

#include as template "edit/editor_controls.wm.html"

#if (! $Variable.isDefined("tabbedEditor_flat")) {
	$Forms.openSelect("Edit tab", false, true, false, "tabName")
	$Forms.option("", "Page Configuration", $tabName)
	#foreach $regionStyle in $node.nodeStyle.regionStyles {
		#if ($regionStyle.aliasName == "" && $regionStyle.isEditableBy.get($nodeRequest.User.id)) {
			$Forms.option($regionStyle.name, $regionStyle.title, $tabName) 
		}
	}
	$Forms.closeSelect()
}

</fieldset>

#if ($Variable.isDefined("tabbedEditor_flat")) {
	#include as template "nodeTitles.edit.wm.html"
	#foreach $regionStyle in $node.nodeStyle.regionStyles {
		#if ($regionStyle.aliasName == "") {
			#set $compiledRegion = $node.compile.get($regionStyle.name)
			#include as template "$compiledRegion.editTemplatePath"
		}
	}
} #else {
	#if ($tabName="" || ! $node.nodeStyle.hasRegionStyle.get($tabName)) {
		#include as template "nodeTitles.edit.wm.html"
	} #else {
		#set $compiledRegion = $node.compile.get($tabName)
		#include as template "$compiledRegion.editTemplatePath"
	}
}

#include as template "edit/editor_footer.wm.html"
#include as template "edit/updateForm.wm.js"

#include as template "edit/nodeQuestions.wm.html"
#include as template "edit/viewHiddenChildrenNodesLink.wm.html"

<!-- ! node/tabbedEditor.wm.html -->
