## default template for org.cord.node.view.ViewGettable

<h1>Update Properties</h1>

#foreach $settableSourceEntry in $settableSources.entrySet() {
  <h2>$settableSourceEntry.Key</h2>
  #set $settableTarget = $settableSourceEntry.Value
  #foreach $settableKey in $settableTarget.SettableKeys {
    <form type="post" action="$httpServletPath$nodeRequest.CurrentNodeRequestSegment.Node.path">
    <input type="hidden" name="view" value="updateSettable">
    <input type="hidden" name="settableName" value="$settableSourceEntry.Key">
    <input type="hidden" name="settableKey" value="$settableKey">
    $settableKey
    <input name="settableValue" value="$settableTarget.get($settableKey)">
    <input type="submit" value="set">
    </form>
  }
}