## default template for org.cord.node.view.ViewGettable

<h1>View Properties</h1>

#foreach $gettableSourceEntry in $gettableSources.entrySet() {
  <h2>$gettableSourceEntry.Key</h2>
  #set $gettableTarget = $gettableSourceEntry.Value
  <dl>
  #foreach $gettableKey in $gettableTarget.PublicKeys {
    <dt>$gettableKey</dt>
    <dd>$gettableTarget.get($gettableKey)</dd>
  }
  </dl>
}