
<!-- node/viewControls.wm.html -->
#if (! $Variable.isDefined("includeNodeViewControlsWmHtml")) {
  #set $includeNodeViewControlsWmHtml = true
  #set $viewNode = $nodeRequestSegment.Node
  <div class="viewControls">
  #if ($nodeRequest.View == "precommit") {

    <fieldset class="widgetGrouping"><legend>Edit controls</legend>

    <form style="float:left" method="post" action="$viewNode.url\#updateForm" id="requestContinueEdit">
    <fieldset class="no_border">
    <input type="hidden" name="view" value="edit" />
    <input type="submit" class="defaultFont editWidget" value="Edit" />
    </fieldset>
    </form>

    <form style="float:left" method="post" action="$viewNode.url" id="requestCommit">
    <fieldset class="no_border">
    <input type="hidden" name="view" value="commit" />
    <input type="submit" class="defaultFont editWidget" value="Save" />
    </fieldset>
    </form>

    <form style="float:right" method="post" action="$viewNode.url" id="requestCancel">
    <fieldset class="no_border">
    <input type="hidden" name="view" value="cancel" />
    <input type="submit" class="defaultFont editWidget" value="Undo" />
    </fieldset>
    </form>

    </fieldset>
    
  } #else {
  
    #if ($nodeRequestSegment.IsEditable) {

      <fieldset class="widgetGrouping"><legend>Edit controls</legend>
      <form style="float: left" method="post" action="$viewNode.url\#updateForm" id="requestEdit">
      <fieldset class="no_border">
      <input type="hidden" name="view" value="edit" />
      <input type="submit" class="defaultFont editWidget" value="Edit '$viewNode.inputValue.shortTitle'" />
      </fieldset>
      </form>
      </fieldset>

    }
    #include as template "edit/nodeQuestions.wm.html"
    #include as template "edit/createChildren.wm.html"
    #include as template "edit/editManager.wm.html"
    #include as template "edit/copyControls.wm.html"
    #include as template "edit/moveControls.wm.html"
    #include as template "Redirect/redirectManager.wm.html"
    #include as template "edit/unpublishedListing.wm.html"
    #include as template "edit/viewHiddenChildrenNodesLink.wm.html"
    #include as template "edit/logout.wm.html"
  }
  </div>
}

<!-- end node/viewControls.wm.html -->
