#set $node = $nodeRequestSegment.Node

#templet $t_contentWrapper {
	#include as template "InForm/include/splitContent.header.wm.html"
	<div class="content">
	#include as template "fourOhFourSuggestion.wm.html"
	#if ($Variable.isDefined("badFilename")) {
		<div class="fourohfour_search">
		<p><a href="/Search?view=search&AS_fulltext_searchTerms=$UrlEscapers.urlFormParameterEscaper().escape($badFilename)">Search the site for $Strings.noHtml($badFilename)</a></p>
		</div>
	}
	</div>
	#include as template "InForm/include/splitContent.footer.wm.html"
	#include as template "viewControls.wm.html"
}