#set $Response.ContentType = "text/css; charset=UTF-8"
#param $TemplateOutputEncoding="UTF-8"

#include as template "InForm/css/defineConstants.wm.css"

#include as template "InForm/defaults/init.wm"

#include as template "InForm/css/hashgrid.wm.css"

#include as template "InForm/css/assembleCss.wm.css"

img {
	display:block;
}

a.unpublished:link,
a.unpublished:visited {
	color: red;
}
a.unpublished:before {
	content:"(";
}
a.unpublished:after {
	content:')';
}