#set $node = $nodeRequestSegment.Node
#set $indexListing = $node.compile.indexListing

#if ($nodeRequest.hasNextRequestSegment()) {
	#set $nodeRequestSegment = $nodeRequest.nextNodeRequestSegment()
	#include as template "$nodeRequestSegment.TemplatePath"
} #else {

	#include as template "form/formTemplets.wm.html"

	#templet $t_content {
		#include as template "InForm/include/splitContent.header.wm.html"

		<div class="content">
		#include as template "$indexListing.indexListingTemplate.Name"
		</div>

		#include as template "InForm/include/splitContent.footer.wm.html"
	}
	
	#templet $t_editorWidgets {
		<div class="content">
		#if ($nodeRequest.isAllowed("addNewValues") && $nodeRequest.View != "precommit") {
			#eval $node_form_widget_begin using { 
				"legend":"Add new values to the index", 
				"view":"addNewValues" 
			}
			#eval $node_form_text using { "label":"Comma separated values", "field":"newValues" }
			#eval $node_form_submit using { "label":"Create values" }
			#eval $node_form_widget_end
		}		
		#include as template "viewControls.wm.html"
		</div>
	}

}