
#if ($hasCopyControls) {
	<!-- node/copyControls.wm.html -->

	#if ($nodeRequestSegment.IsEditable) {
		<fieldset class="widgetGrouping">
		<legend>Copy controls</legend>

		#set $copyNodeId = $nodeRequest.Session.getAttribute("copyNodeId")

		<p><a href="$node.url?view=copyNodeInit">Select this page for copying</a></p>

		#if ($copyNodeId != null) {
	
			#set $copyNode = $db.Node.getOptRecord($copyNodeId)
		
			#if ($copyNode == null) {
		
				<p>Undergoing copy of page with id $copyNodeId aborted because page is no longer available</p>
				$nodeRequest.Session.removeAttribute("copyNodeId")
		
			} #else {

				<form action="$node.url?view=copyNodeCommit" method="post"><fieldset>
				<legend>Copy page to here</legend>

				<div class="w_labelWidget">
				<label>Copy from</label>
				<div class="w_widget w_value">$copyNode.title<br />
				$copyNode.href.path</div>
				</div>
		
				<div class="w_labelWidget">
				<label>Copy as</label>
				<div class="w_widget w_select">
				#set $nodeGroupStyles = $node.nodeStyle.childrenNodeGroupStyles
				<select name="toNodeGroupStyleId">
				#set $s = false
				#foreach $nodeGroupStyle in $nodeGroupStyles {
					#if ($nodeManager.Node.permitsChildCreation($node,$nodeGroupStyle,$nodeRequest)) {				
						#if ($nodeGroupStyle.childNodeStyle_id == $copyNode.nodeStyle_id) {
							<option value="$nodeGroupStyle.id" #if (!$i) { selected }>$nodeGroupStyle.name</option>
							#set $s = true
						} #else {
							<option value="$nodeGroupStyle.id">($nodeGroupStyle.name)</option>
						}				
					}
				}
				</select>
				</div>
				</div>
		
				<div class="w_labelWidget">
				<label>New filename</label>
				<div class="w_widget w_text"><input name="filename" /></div>
				</div>
		
				<div class="w_labelWidget">
				<label>Is published?</label>
				<div class="w_widget w_checkbox">
				<input type="hidden" name="isPublished-active" value="true" />
				<input type="checkbox" name="isPublished" />
				</div>
				</div>
		
				<div class="w_labelWidget">
				<label>Perform a deep copy including all children?</label>
				<div class="w_widget w_checkbox">
				<input type="hidden" name="copyChildren-active" value="true" />
				<input type="checkbox" checked name="copyChildren" />
				</div>
				</div>
		
				<div class="w_labelWidget">
				<div class="w_widget w_submit"><input type="submit" value="Copy" /></div>
				</div>
		
				<p><a href="$node.url?view=copyNodeCancel">Cancel this copy operation</a></p>
		
				</fieldset></form>
			}
		}
		</fieldset>
	}

	<!-- ! node/copyControls.wm.html -->
}