
<!-- node/createChildren.wm.html -->

#set $hasWidgetGrouping = false
#foreach $nodeGroupStyle in $node.nodeStyle.childrenNodeGroupStyles {
  #set $createNodePolicy = $nodeManager.NodeGroupStyle.getMayCreateNodeRejection($node,$nodeGroupStyle,$nodeRequest.User)
  #if ($createNodePolicy == null) {
    #if (! $Variable.isDefined("skipNodeGroupStyle$nodeGroupStyle.id")) {
      #set $targetNodeStyle=$nodeGroupStyle.childNodeStyle
      #if (! $hasWidgetGrouping) {
        <fieldset class="widgetGrouping"><legend>Create pages</legend>
        #set $hasWidgetGrouping = true
      }
      <form method="post" action="$node.url\#updateForm">
      <fieldset>
      <legend>$nodeGroupStyle.name</legend>
      <input type="hidden" name="view" value="addNode" />
      <input type="hidden" name="nodeGroupName" value="$nodeGroupStyle.inputValue.name" />
      #if ($Variable.isDefined("addTitleOnly$nodeGroupStyle.id")) {
        <input class="widget" type="text" name="title" />
      } #else {
        #if ($targetNodeStyle.isEditableFilename) {
          <input class="widget" type="text" name="filename" />
        }
      }
      <input class="defaultFont" type="submit" value="Create page" />
      </fieldset>
      </form>
    }
  } #else {
    #set $rejectionMessage = $createNodePolicy.getRejectionMessage($node,$nodeGroupStyle,$nodeRequest.User)
    #if ($rejectionMessage != null) {
      #if (! $hasWidgetGrouping) {
        <fieldset class="widgetGrouping"><legend>Create pages</legend>
        #set $hasWidgetGrouping = true
      }
      <fieldset><legend>$nodeGroupStyle.name</legend>
      <p>$rejectionMessage</p>
      </fieldset>
    }
  }
}
#if ($hasWidgetGrouping) {
  </fieldset>
}

<!-- ! node/createChildren.wm.html -->
