<div class="w_multisubmit">

<input type="submit" value="Update" onclick="document.getElementById('updateForm').view.value='update'" />

<input type="submit" value="Preview" onclick="document.getElementById('updateForm').view.value='precommit'" />

#if ($nodeRequestSegment.IsDeletable) {
  <input type="submit" value="Delete" onclick="document.getElementById('updateForm').view.value='deleteNode'" />
}

<input type="submit" value="Undo" onclick="document.getElementById('updateForm').view.value='cancel'" />
<input type="hidden" name="view" value="update" />

</div>
