<!-- node/editManager.wm.html -->

#set $sessionTransaction = $nodeRequest.SessionTransaction

#if ($Variable.isDefined("sessionTransaction") && $sessionTransaction.TransactionCount > 0) {
  <form action="$node.url" method="post">
  <fieldset class="widgetGrouping">
  <legend>Active page edits</legend>
  <select class="defaultFont" onChange="location.href=this.options[selectedIndex].value" style="float: left">
  <option value="$httpServletPath$nodeRequestSegment.Node.path">Browse current edits</option>
  #foreach $lockedNode in $sessionTransaction.LockedNodes {
    <option value="$httpServletPath$lockedNode.path">$lockedNode.path</option>
  }
  </select>
  <input type="hidden" name="view" value="cancelTransactions"/>
  <input class="defaultFont" type="submit" value="Cancel all active edits" style="float: right"/>
  </fieldset>
  </form>
}

<!-- ! node/editManager.wm.html -->
