
#if ($hasMoveControls) {
	<!-- node/moveControls.wm.html -->

	#if ($nodeRequestSegment.IsEditable) {

		#include as template "node/form/formTemplets.wm.html"

		<fieldset class="widgetGrouping">
		<legend>Move controls</legend>

		#set $moveNodeId = $nodeRequest.Session.getAttribute("moveNodeId")
	
		<p><a href="$node.url?view=moveNodeInit">Select this page for moving</a></p>

		#if ($moveNodeId != null) {

			#set $moveNode = $db.Node.getOptRecord($moveNodeId)
			
			#if ($moveNode == null) {
			
				<p>Undergoing move of page with id $moveNodeId aborted because page is no longer available</p>
				$nodeRequest.Session.removeAttribute("moveNodeId")
			
			} #else {

				<form action="$node.url?view=moveNodeCommit" method="post"><fieldset>
				<legend>Destination choice</legend>
		
				<div class="w_labelWidget">
				<label>Move from</label>
				<div class="w_widget w_value">
				$moveNode.title <br />
				$moveNode.href.path
				</div>
				</div>
		
				#set $nodeGroupStyles = $List.create()
				#foreach $nodeGroupStyle in $node.nodeStyle.childrenNodeGroupStyles {
					#if ($nodeGroupStyle.childNodeStyle_id == $moveNode.nodeStyle_id) {
						#set $dummy = $nodeGroupStyles.add($nodeGroupStyle)
					}
				}
		
				#if ($moveNode.parentNode_id == $node.id) {
					<div class="w_labelWidget">
					<label>Move to</label>
					<div class="w_widget w_value">
					<p>You can't move a page to the same place it started from!</p>
					</div>
					</div>
				} #elseif ($nodeGroupStyles.isEmpty()) {
					<div class="w_labelWidget">
					<label>Move to</label>
					<div class="w_widget w_value">
					<p>You cannot have a $moveNode.nodeStyle.name page under a
						 $node.nodeStyle.name page</p>
					</div>
					</div>
				} #elseif ($node.isChildOf.get($moveNode)) {
					<div class="w_labelWidget">
					<label>Move to</label>
					<div class="w_widget w_value">
					<p>You cannot move a page into a location where it would be a
						 child of itself</p>
					</div>
					</div>
				} #else {
					<div class="w_labelWidget">
					<label>Move to</label>
					<div class="w_widget w_text">
					<input name="filename" value="$node.uniqueChildName.get($moveNode.filename)" />
					</div>
					</div>

					<div class="w_labelWidget">
					<label>Move as</label>
					<div class="w_widget w_select">
					<select name="toNodeGroupStyleId">
					#foreach $nodeGroupStyle in $nodeGroupStyles {
						#if ($nodeGroupStyle.childNodeStyle_id == $moveNode.nodeStyle_id) {
							<option value="$nodeGroupStyle.id">
							$nodeGroupStyle.name
							</option>
						}
					}
					</select>
					</div>
					</div>
				
					<div class="w_labelWidget">
					<div class="w_widget w_submit">
					<input type="submit" value="Move" />
					</div>
					</div>
				}
		
				<div class="w_widget w_value">
				<p><a href="$node.url?view=moveNodeCancel">Cancel this move operation</a></p>
				</div>
			
				</fieldset></form>
			}
		}
		</fieldset>
	}

	<!-- ! node/moveControls.wm.html -->
}