
<!-- node/nodeQuestions.wm.html -->

#set $nodeQuestionManager = $nodeManager.NodeQuestionManager
#set $questions = $nodeQuestionManager.getQuestions($nodeRequest.Session)
#if ($questions.size() != 0) {

  <fieldset class="widgetGrouping">
  <legend>Open Page Questions</legend>

  #foreach $question in $questions.values() {

    <fieldset>
    <legend>$question.Title</legend>

    #if ($question.hasTitle()) {
      <p>$question.EnglishName</p>
    }

    #if ($question.isEligible($node)) {
      <a href="$question.getAddUrl($node)">
      #if ($question.MaxAnswers == 1) {
        Select "$node.title" as the answer
      } #else {
        Add "$node.title" to this list
      }
      </a><br />
    } #elseif ($question.isRemovable($node)) {
      <a href="$question.getRemoveUrl($node)">Remove "$node.title" from this list</a><br />
    }

    #set $answerNodes = $question.SelectedNodes
    #if ($answerNodes.hasNext()) {
      Currently selected pages:-
      <ul>
      #foreach $answerNode in $question.SelectedNodes {
        <li>
        $answerNode.title<br />
        $answerNode.href.url
        </li>
      }
      </ul>
    }

    #if ($question.maySubmit()) {
      <a href="$question.getSubmitUrl($node)">Submit this list as it stands</a><br />
    }

    </fieldset>

  }

  </fieldset>

}

<!-- ! node/nodeQuestions.wm.html -->
