#if (! $Variable.isDefined("node_edit_nonMenuPagesWidget")) {
#set $node_edit_nonMenuPagesWidget = true
<!-- node/edit//nonMenuPagesWidget.wm.html -->

## Requires: nodeStyles - [list-of-nodestyles]
## Optional: legend - legend for widget
#templet $nonMenuPagesWidget {
  #set $nonMenuPages = $List.create()
  #set $node = $OuterVars.node
  #set $nodeRequest = $OuterVars.nodeRequest

  #foreach $nonMenuPageStyle in $nodeStyles {
    #foreach $nonMenuPage in $node.childrenNodesByNodeStyle.get($nonMenuPageStyle) {
      #if ($nodeRequest.isEditable($nonMenuPage)) {
        #set $dummy = $List.append($nonMenuPages, $nonMenuPage)
      }
    }
  }

  #if (!$List.isEmpty($nonMenuPages)) {
    <fieldset class="widgetGrouping">
    <legend>$Vars.pad($legend, "Non-menu pages")</legend>
    <ul class="nonMenuPageListing">
    #foreach $nonMenuPage in $nonMenuPages {
      <li>$nonMenuPage.href.htmlTitle</li>
    }
    </ul>
    </fieldset>  
  }
}

<!-- !node/edit//nonMenuPagesWidget.wm.html -->
}