<!-- node/unpublishedListing.wm.html -->

#if ($nodeRequest.IsLoggedIn) {
  #set $unpublishedChildrenNodes = $nodeRequestSegment.Node.childrenNodes.isnt.isPublished

  #set $unpublishedChildrenNodesHeaderShown = false

  #if ($unpublishedChildrenNodes.Size > 0) {
    #foreach $unpublishedChildNode in $unpublishedChildrenNodes {
      #if ($nodeRequest.isEditable($unpublishedChildNode)) {
        #if (!$unpublishedChildrenNodesHeaderShown) {
          <fieldset class="widgetGrouping">
          <legend>Unpublished sub-pages</legend>
          <ul class="unpublishedListing">
          #set $unpublishedChildrenNodesHeaderShown = true
        }
          
        <li>$unpublishedChildNode.href.htmlTitle</li>
      }
    }
    #if ($unpublishedChildrenNodesHeaderShown) {
      </ul>
      </fieldset>
    }
  }
}

<!-- ! node/unpublishedListing.wm.html -->
