#set $node = $nodeRequestSegment.Node

#templet $t_contentWrapper {
	<div class="t_contentWrapper">

	#eval $t_node_title

	<div class="content">
	#include as template "abcPages.wm.html"
	#set $paginator = $abcPaginator.getFilteredPaginator($nodeRequest, 20)
	#include as template "paginatorMenu.wm.html"
	<ul>
	#foreach $childNode in $paginator.RecordSource {
		<li>$childNode.href.title</li>
	}
	</ul>
	<p>$node.explicitHref.get("continue...")</p>
	</div>
	
	</div>
}