#if ($isEditor) {
	#set $hiddenNodes = $node.childrenNodes.is.isPublished.isnt.isMenuItem
	#if ($hiddenNodes.Size > 0) {
		<fieldset class="widgetGrouping">
		<legend>Hidden sub-pages</legend>
		#if ($hiddenNodes.Size > 5) {
		  <a href="$node.url?view=viewChildrenNodes&isMenuItem=false">View $hiddenNodes.Size hidden children pages</a>
		} #else {
			<ul>
			#foreach $hiddenNode in $hiddenNodes {
				<li>$hiddenNode.href.title</li>
			}
			</ul>
		}
		</fieldset>
	}
}
