.immutable {
	color: red;
}
.left33 {
	width: 33%; 
	float: left;
	margin-right: 1em;
	background-color: white;
	border: solid 1px red;
	padding: 1em;
}
.right33 {
	width: 33%;
	float: right;
	margin-left: 1em;
	background-color: white;
	border: solid 1px red;
	padding: 1em;
}
.left50 {
	width: 50%; 
	float: left;
	margin-right: 1em;
	background-color: white;
	border: solid 1px red;
	padding: 1em;
}
.right50 {
	width: 50%;
	float: right;
	margin-left: 1em;
	background-color: white;
	border: solid 1px red;
	padding: 1em;
}
.plugin {
//	background-color: #fcc;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}

.Layout {
	border: solid 1px #eee;
}
