#if (! $m_menu_fsmenu) {

  #set $m_menu_fsmenu = true
  
  #include as template "node/m_menu/templets.wm.html"
  
    #templet $m_fsmenu_gen {
  
      #set $childGen = $parentNode.generation + 1
      #if ($childGen < $maxGen) {

        #set $children = $parentNode.childrenMenuNodes.get($nodeRequest)
        #set $hiddenNode = $nodeRequest.getHiddenNode($parentNode, $children)
    
        #if ($children.Size != 0 || $includeParent || ($hiddenNode != null && ! $hideHiddenNodes)) {
      
          #set $ul = 1 + $ul
          #set $class=$nodeRequest.getMenuClass($parentNode, $childGen, $ul)
          <ul #if ($ul == 0) { class="menulist $class" id = "listMenuRoot" } #else { class="$class" }>

          #if ($includeParent) {
            <li class="$class">
            $m_node.evalUsing({ "node":$parentNode, "includedParent":true })
            </li>
            #set $includeParent = false
          }

          #foreach $child in $children {
            <li class="$class">
            $m_node.evalUsing({ "node":$child })
            #eval $Self using $Vars.extendContext({"parentNode":$child })
            </li>
          }

          #if ($hiddenNode != null && ! $hideHiddenNodes) {
            <li class="$class">
            $m_node.evalUsing({ "node":$hiddenNode })
            #eval $Self using $Vars.extendContext({"parentNode":$hiddenNode })            
            </li>
          }

          </ul>
      
        }
      }
      
    }  ## templet $m_fsmenu_gen

  #templet $m_fsmenu {
  
    
    #eval $OuterVars.m_init

    <div class="m_menu m_fsmenu">
    #eval $OuterVars.m_fsmenu_gen using $Vars.extendContext({ 
          "includeParent" : $Vars.pad("includeParent", true),
          "maxGen"        : $Vars.pad("maxGen", 1000),
          "random":"xyz",
          "ul":-1 }) 
    </div>
    
    <script type="text/javascript" src="/$OuterVars.staticsBuildNodePath/scripts/fsmenu/fsmenu.js"></script>
    <script type="text/javascript" src="/$OuterVars.staticsBuildNodePath/scripts/fsmenu/launch.js"></script>

  } ## templet $m_fsmenu
  
}

