#if (! $m_menu_singleGeneration) {
  #set $m_menu_singleGeneration = true
  
  #include as template "node/m_menu/templets.wm.html"
  
  #templet $m_singleGeneration {
    #eval $OuterVars.m_init
    #if (! $Variable.isDefined("children")) {
      #set $children = $parentNode.childrenMenuNodes.get($nodeRequest)
    }
    #set $parentGen = $parentNode.generation
    #set $childGen = $parentGen + 1
    
    #if ($hideHiddenNodes) {
      #set $hiddenNode = null
    } #else {
      #set $hiddenNode = $nodeRequest.getHiddenNode($parentNode,$children)
      #if ($hideTargetHiddenNode && $nodeRequest.TargetLeafNode == $hiddenNode) {
        #set $hiddenNode = null
      }
    }
    
    #if ($padToWidth) {
      #set $count = $children.Size
      #if ($includeParent) {
        #set $count = $count + 1
      }
      #if ($hiddenNode != null) {
        #set $count = $count + 1
      }
      #set $padCount = ($padToWidth - $count) / 2
    }

    #if ($includeParent || $children.Size > 0 || $hiddenNode != null) {

      #set $class = $nodeRequest.getMenuClass($parentNode, $childGen, $parentGen)

      <div class="m_menu m_singleGeneration"><ul class="$class">

      #if ($padCount) {
        #count $i from 1 to $padCount {
          <li class="$class pad">&nbsp;</li>
        }
      }

      #if ($includeParent) {
        <li class="$class $nodeRequest.getRelationship($parentNode) includeParent">
        $m_node.evalUsing({ "node" : $parentNode, "includedParent" : true })
        </li>
      }

      #foreach $childNode in $children {
        <li class="$class $nodeRequest.getRelationship($childNode)">
        $m_node.evalUsing({ "node" : $childNode })
        </li>
      }

      #if ($hiddenNode != null) {
        <li class="$class hidden $nodeRequest.getRelationship($hiddenNode)">
        $m_node.evalUsing({ "node" : $hiddenNode })
        </li>
      }

      </ul></div>
    }
  } 
}