#if (! $m_menu_templets) {

  #templet $m_node_init {
    #set $node = $OuterVars.nodeRequest.getNode($node)
    #set $href=" href=\"$node.url\""
    #set $htmlContents = $node.htmlTitle
    #if ($Strings.isWhitespace($htmlContents)) {
    	#set $htmlContents = $node.filename
    }
    #if ($node.generation >= $OuterVars.nodeRequest.size()) {
      #set $relationship = "child"
    } #elseif ($node.generation == ($OuterVars.nodeRequest.size() - 1)) {
      #if ($node.id == $OuterVars.nodeRequest.TargetLeafNode.id) {
        #set $relationship = "current"
        #set $href=""
      } #else {
        #set $relationship="sibling"
      }
    } #else {
      #if ($OuterVars.nodeRequest.contains($node) && ! $includedParent) {
        #set $relationship="parent"
      } #else {
        #set $relationship="uncle"
      }
    }
    #set $classValue="$relationship gen$node.generation"
    #if ($isHidden) {
      #set $classValue = "$classValue hidden"
    }
    #set $classValue = "$classValue NodeStyle$node.nodeStyle_id"
    #set $classValue=" class=\"$classValue\""
    #set $description = $node.description
    #if ($description == "") {
      #set $title=""
    } #else {
      #set $title=" title=\"$Strings.toHtmlValue($description)\""
    }
  }

## compulsory: node
#templet $m_node_text {
#eval $OuterVars.m_node_init
<a $href $classValue $title>$htmlContents</a>
}

#templet $m_node_graphic {
#eval $OuterVars.m_node_init
#set $id = "node$(node.id)"
#set $dir = $Vars.pad("dir","$(Global.assetDomain)/$(Global.staticsBuildNodePath)/img/m_menu")
#set $format = $Vars.pad("format","gif")
#if ($relationship != "current" && $relationship != "parent") {
  #set $graphic = "link"
} #else {
  #set $graphic = $relationship
}
#set $imageSrc = "$(dir)/$(node.id).$(graphic).$(format)"
#if ($href == "") {
#set $hoverScript = ""
} #else {
#set $normal = "node$(node.id)normal"
#set $rollover = "node$(node.id)rollover"
<script type="text/javascript" defer="defer">
$(normal) = new Image;
$(normal).src="$imageSrc";
$(rollover) = new Image;
$(rollover).src="$(dir)/$(node.id).$(graphic).hover.$(format)";
</script>
#set $hoverScript = "onmouseover=\"this.src=$(rollover).src; \" onmouseout=\"this.src=$(normal).src; \" "
}
<a $href $classValue $title><img id="$id" src="$imageSrc" $hoverScript alt="$node.title" width="$width" height="$height" /></a>
}

#templet $m_node_graphic_expert {
#eval $OuterVars.m_node_init
#set $dir = $Vars.pad("dir","$(Global.assetDomain)/$(Global.staticsBuildNodePath)/img/m_menu")
#set $format = $Vars.pad("format","gif")
#set $imageSrc = "$(dir)/$(node.id).$(relationship).$(format)"
#if ($href == "") {
#set $hoverScript = ""
} #else {
<script type="text/javascript" defer>
node$(node.id)normal = new Image; node$(node.id)normal.src="$imageSrc";
node$(node.id)rollover = new Image; node$(node.id)rollover.src="$(dir)/$(node.id).$(relationship).hover.$(format)";
</script>
#set $hoverScript = "onmouseover=\"this.src=node$(node.id)rollover.src\" onmouseout=\"this.src=node$(node.id)normal.src\" "
}
<a $href $classValue $title><img id="node$node.id" src="$imageSrc" $hoverScript alt="$node.title" width="$width" height="$height" /></a>
}

## compulsory $gens
#templet $m_node_generational {
#if ($gens.containsKey($node.generation)) {
$gens.get($node.generation).evalUsing($Vars.copyContext())
} #elseif ($gens.containsKey("default")) {
$gens.get("default").evalUsing($Vars.copyContext())
} #else {
#eval $OuterVars.m_node_text using $Vars.copyContext()
}
}

  #templet $m_init {
    #set $nodeRequest = $OuterVars.nodeRequest

    #set $parentNode = $Vars.pad("parentNode", $nodeRequest.getNode(1))

    #if ($Vars.hasValue("m_node")) {
      #set $m_node = $Vars.asBlockWrapper($m_node)
    } #else {
      #set $m_node = $Vars.wrapBlock("OuterVars.m_node_text", null)
    }
  }

  #set $m_menu_templets = true
}

