#if (! $m_menu_treeFull) {
	#set $m_menu_treeFull = true
	#include as template "node/m_menu/templets.wm.html"
	#templet $m_treeFull {
		#set $nodeRequest = $Global.nodeRequest
		#set $targetLeafNode = $nodeRequest.TargetLeafNode
		#set $showMenu = true
		#if ($hideSingleNode &&  $targetLeafNode.generation - $parentNode.generation < 2) {
			#if (! $Vars.hasValue("children")) {
				#set $children = $parentNode.childrenMenuNodes.get($Global.nodeRequest)
			}
			#if ($children.Size == 0 && $targetLeafNode.childrenMenuNodes.get($nodeRequest).Size == 0) {
				#set $showMenu = false
			}
		}
		#if ($showMenu) {
			#templet $m_treeFull_gen {
				#if (! $Vars.hasValue("children")) {
					#set $children = $parentNode.childrenMenuNodes.get($nodeRequest)
				}
				#set $childGen = $parentNode.generation + 1
				#set $hiddenNode = $nodeRequest.getHiddenNode($parentNode,$children)
				#if ($children.Size != 0 || $includeParent || $hiddenNode != null) {
					#set $ul = $ul + 1
					#set $class=$nodeRequest.getMenuClass($parentNode, $childGen, $ul)
					<ul class="$class">
					#if ($includeParent) {
						<li class="$class">
						$m_node.evalUsing({ "node":$parentNode, "includeParent":true })
						</li>
						#set $includeParent = false
					}
					#foreach $child in $children {
						<li class="$class">
						$m_node.evalUsing({ "node":$child })
						#if ($nodeRequest.contains($child)) {
							#eval $Self using $Vars.extendContext({ "parentNode":$child, "children":null })
						}
						</li>
					}
					#if ($hiddenNode != null && ! $hideHiddenNodes) {
						<li class="$class hidden">
						$m_node.evalUsing({ "node":$hiddenNode })
						#eval $Self using $Vars.extendContext({ "parentNode":$hiddenNode, "children":null })
						</li>
					}
					</ul>

				}
			
			} ## templet $m_treeFull_gen
			#eval $OuterVars.m_init
			#setblock $menu {
				#eval $m_treeFull_gen using $Vars.extendContext({ 
					"includeParent":$Vars.pad("includeParent", true), 
					"ul":-1 }) 
			}
	
			#if ($menu.trim().length() > 0) {
				<div class="m_menu m_treeFull">$menu</div>
			}
		}
	}
}