#if (! $m_menu_treeBreadcrumb) {
  #set $m_menu_treeBreadcrumb = true

  #include as template "node/m_menu/templets.wm.html"
  
  #templet $m_treeBreadcrumb {
  
    #templet $m_treeBreadcrumb_gen {
      #set $age = $nodeRequest.size() - $gen
      #set $isVisible = $gen >= $rootGen
      #set $showChildren = false
      #if ($age == 1) {
        #set $showChildren = true
      } #elseif ($age == 2) {
        #if ($nodeRequest.TargetLeafNode.childrenMenuNodes.get($nodeRequest).Size == 0) {
          #set $showChildren = true
        }
      }
      #set $node = $nodeRequest.getNodeRequestSegment($gen).Node
      #if ($isVisible) {
        #set $ul = $ul + 1
        #set $class = $nodeRequest.getMenuClass($node, $node.generation, $ul)
        <ul class="$class">
        <li class="$class">
        $m_node.evalUsing({ "node":$node })
      }
      #if ($showChildren) {        
        #set $childGen = $node.generation + 1
        #if ($childGen >= $rootGen) {
          #set $children = $node.childrenMenuNodes.get($nodeRequest)
          #set $hiddenNode = $nodeRequest.getHiddenNode($node,$children)
          #if ($children.Size != 0 || $hiddenNode != null) {
            #set $ul = $ul + 1
            #set $class = $nodeRequest.getMenuClass($node, $childGen, $ul)
            <ul class="$class">

            #foreach $child in $children {
              <li class="$class">
              $m_node.evalUsing({ "node":$child })
              </li>
            }

            #if ($hiddenNode != null && ! $hideHiddenNodes) {
              <li class="$class">
              $m_node.evalUsing({ "node":$hiddenNode })
              </li>
            }

            </ul>
          }
        }
      } #else {
        #eval $Self using $Vars.extendContext({ "gen" : $gen + 1 })
      }
      #if ($isVisible) {
        </li>      
        </ul>
      }
    }
  
    <div class="m_menu m_treeBreadcrumb">
    #eval $OuterVars.m_init
    #eval $m_treeBreadcrumb_gen using $Vars.extendContext({ 
          "gen" : 0,
          "rootGen" : $Vars.pad("rootGen", 0),
          "ul" : -1 }) 
    </div>
  }
}