#if ($hasRedirectManager && $nodeRequestSegment.IsEditable) {
  <fieldset class="widgetGrouping">
  <legend>Redirects manager</legend>
  <p><a href="$node.url?view=redirectView">View redirects</a></p>
  </fieldset>
}