#set $movedNodes = $nodeRequest.TargetLeafNode.childMovedNodes

<h2>Redirects below $nodeRequest.TargetLeafNode.url</h2>

#if ($movedNodes.Size == 0) {
  <p>No redirects set up</p>
} #else {
  <dl>
  #foreach $movedNode in $movedNodes {
    <dt>$movedNode.oldFilename</dt>
    <dd>
    $movedNode.movedNode.href.url <br />
    $movedNode.movedNode.title
    ($movedNode.shortDateTime.timestamp)
    </dd>
  }
  </dl>
}
