#if ($indexListing.isPublished) {
	#set $f = false
	#setblock $renderIndexListing {
		<div class="IndexPage"><div class="title"><p>
		$indexListing.href.title:
		#foreach $indexPage_indexValue in $indexPage.indexValuesLinks.is.isDefined {
			#set $indexValue = $indexPage_indexValue.indexValue
			#if ($indexValue.isPublished && $indexValue.indexListing_id == $indexListing.id) {
				$indexValue.href.title
				#set $f = true
			}
		}
		</p></div></div>
	}
	#if ($f) {
		$renderIndexListing
	}
}