#if ($indexListing.isPublished) {
	#set $f = false
	#setblock $renderIndexListing {
		<div class="IndexPage"><div class="verbose">
		<p class="heading"><strong>$indexListing.href.title</strong></p>
		<ul class="semantic">
		#foreach $indexPage_indexValue in $indexPage.indexValuesLinks.is.isDefined {
			#set $indexValue = $indexPage_indexValue.indexValue
			#if ($indexValue.isPublished && $indexValue.indexListing_id == $indexListing.id) {
				#set $f = true
				<li>
				#eval $Global.ScalableSingleImage using {
					"scalableSingleImage":$indexValue.node.compile.pageImg,
					"grid":1,
					"a_href":$indexValue.node.url,
					"div":"gntml_right_1"
				} 
				$indexValue.href.title<br />
				#if ($indexPage_indexValue.description != "") {
					relationship: $indexPage_indexValue.description<br />
				}
				#if ($indexValue.node.description != "") {
					value: $indexValue.node.description
				}
				</li>
			}
		}
		</ul>
		</div></div>
	}
	#if ($f) {
		$renderIndexListing
	}
}