#local {
	#set $validChildren = $gntmlNavigation.validChildren.getChildren($node)
	#if ($validChildren.Size > 0) {
		#set $cols = $Dimensions.Current.ContentWidth / $grid_gallery
		<div class="gntml_pages table gntml_pages_image">
		#foreach $row in $Iterables.partition($validChildren, $cols) {
			<div class="row">
			#foreach $node in $row {
				<div class="cell">
				#set $singleScalableImage = $node.compile.pageImg
				#if ($singleScalableImage == null || !$singleScalableImage.isDefined) {
					<span class="title">$node.href.title</span>	
				} #else {
					#eval $Global.ScalableSingleImage using { 
						"scalableSingleImage":$singleScalableImage,
						"grid": $grid_gallery,
						"a_href": $node.url,
						"missingImage": $node.htmlTitle
					}
					<span class="title">$node.href.title</span>
				}
				</div>
			}
			</div>
		}
		</div>
	}
}
