#set $validChildren = $gntmlNavigation.validChildren.getChildren($node)
#if ($validChildren.Size > 0) {
  #set $abcPaginator = $nodeRequest.getAbcPaginator("n$gntmlNavigation.id")
  $abcPaginator.setSourceQuery($validChildren)
  $abcPaginator.setAbcField("htmlTitle")
  #set $itemName = $gntmlNavigation.itemName
  #set $itemNames = $gntmlNavigation.itemsName
  #include as template "abcPages.wm.html"
  #set $paginator = $abcPaginator.getFilteredPaginator($nodeRequest, $gntmlNavigation.paginationSize)
  #include as template "paginatorMenu.wm.html"
  <ul class="semantic">
  #foreach $childNode in $paginator.Records {
    <li>
    <strong>$childNode.href.title</strong>
    #if ($childNode.description!="") { <div class="description">$childNode.description</div> }
    </li>
  }
  </ul>
}
