#set $validChildren = $gntmlNavigation.validChildren.getChildren($node)
#if ($validChildren.Size > 0) {
  <ul class="semantic">
  #foreach $childNode in $validChildren {
    #set $singleScalableImage = $childNode.compile.pageImg
    <li>
    #if ($singleScalableImage != null && $singleScalableImage.isDefined) {
      <div class="gntml_right_1"><div class="gntml_right_1_i">
      #eval $Global.ScalableSingleImage using { 
        "scalableSingleImage":$singleScalableImage,
        "grid":1
      }
      </div></div>
    }
    <strong>$childNode.href.title</strong>
    #if ($childNode.description!="") { <div class="description">$childNode.description</div> }
    </li>
  }
  </ul>
}
