#set $validChildren = $gntmlNavigation.validChildren.getChildren($node)
#if ($validChildren.Size > 0) {
  #set $paginator = $nodeRequest.getPaginator("n$gntmlNavigation.id", $gntmlNavigation.paginationSize)
  $paginator.setSourceQuery($validChildren)
  #set $itemName = $gntmlNavigation.itemName
  #set $itemNames = $gntmlNavigation.itemsName
  #include as template "paginatorMenu.wm.html"
  <ul class="semantic">
  #foreach $childNode in $paginator.Records {
    #set $singleScalableImage = $childNode.compile.pageImg
    <li>
    #if ($singleScalableImage != null && $singleScalableImage.isDefined) {
      <div class="gntml_right_1"><div class="gntml_right_1_i">
      #eval $Global.ScalableSingleImage using { 
        "scalableSingleImage":$singleScalableImage,
        "grid":1
      }
      </div></div>
    }
    <strong>$childNode.href.title</strong>
    #if ($childNode.description!="") { <div class="description">$childNode.description</div> }
    </li>
  }
  </ul>
}
