#set $validChildren = $gntmlNavigation.validChildren.getChildren($node)
#if ($validChildren.Size > 0) {
  #set $paginator = $nodeRequest.getPaginator("n$gntmlNavigation.id", $gntmlNavigation.paginationSize)
  $paginator.setSourceQuery($validChildren)
  #set $itemName = $gntmlNavigation.itemName
  #set $itemNames = $gntmlNavigation.itemsName
  #include as template "paginatorMenu.wm.html"
  <ul class="semantic">
  #foreach $childNode in $paginator.Records {
    <li>
    <strong>$childNode.href.title</strong>
    #if ($childNode.description!="") { <div class="description">$childNode.description</div> }
    </li>
  }
  </ul>
}
