<!-- node/ArchivedTimedItem/ArchivedTimedItem.view.wm.html -->

<dl>
<dt>Listing summary:</dt><dd>$compiledRegion.listingSummary</dd>
<dt>Sort date:</dt><dd>$compiledRegion.sortDate</dd>
<dt>Archive date:</dt><dd>$compiledRegion.archiveDate</dd>
</dl>

<!-- ! node/ArchivedTimedItem/ArchivedTimedItem.view.wm.html -->

