<!-- node/BinaryAsset/binaryasset.view.wm.html -->
#if ($compiledRegion.isDefined) {
  <div class="binaryasset">
  #set $binaryAssetInstance = $compiledRegion
  #set $binaryAssetStyle = $binaryAssetInstance.style
  #if ($binaryAssetStyle.hasTitle) {
    <h3>$binaryAssetInstance.title</h3>
  }
  <p>
  #if ($binaryAssetInstance.isUploaded) {
    #set $binaryAssetFormat = $binaryAssetInstance.format
    #if ($Variable.isDefined("BinaryAsset_iconPath")) {
      <a href="$assetDomain$binaryAssetInstance.path"><img src="$assetDomain$BinaryAsset_iconPath$binaryAssetFormat.iconPath" width="$binaryAssetFormat.iconWidth" height="$binaryAssetFormat.iconHeight"></a><br />
    }
    <a href="$assetDomain$binaryAssetInstance.path">$binaryAssetInstance.filename</a><br />
    $binaryAssetFormat.name ($binaryAssetInstance.sizeKb Kb)<br />
  } #else {
    No asset uploaded<br />
  }
  #if ($binaryAssetStyle.hasDescription) {
    $binaryAssetInstance.description
  }
  </p>
  </div>
}
<!-- node/BinaryAsset/binaryasset.view.wm.html -->
