<!-- node/BinaryAsset/binaryasset.edit.wm.html -->
#set $binaryAssetName = $compiledRegion.regionStyle.name
#set $binaryAssetIsDefined = $compiledRegion.isDefined
#set $binaryAssetInstance = $compiledRegion
#set $binaryAssetStyle = $binaryAssetInstance.style

<fieldset>
#include as template "node/abstractContentCompilerHeader.edit.wm.html"
#if ($compiledRegion.isDefined) {
  #if ($binaryAssetStyle.hasTitle) {
    $compiledRegion.asFormElement.title
  }
  #if ($binaryAssetStyle.hasDescription) {
    $compiledRegion.asFormElement.description
  }
  
  <div class="w_labelWidget">
  <label>Download</label>
  <div class="w_widget w_value">
  #set $binaryAssetFormat = $binaryAssetInstance.format
  #if ($binaryAssetInstance.isUploaded) {
    <a href="$assetDomain$binaryAssetInstance.path">$binaryAssetInstance.filename</a><br /> 
    $binaryAssetFormat.name ($binaryAssetInstance.sizeKb Kb)
  } #else {
    No asset uploaded
  }
  </div>
  </div>
  
  <div class="w_labelWidget">
  <label for="$binaryAssetName-format_id">Format</label>
  #if ($binaryAssetStyle.isFixedFormat) {
    <div id="$binaryAssetName-format_id" class="w_widget w_value">
    $binaryAssetFormat.name
    </div>
  } #else {
    <div class="w_widget w_select">
    <select id="$binaryAssetName-format_id" name="$binaryAssetName-format_id">
    #foreach $targetFormat in $db.BinaryAssetFormat {
      <option value="$targetFormat.id" #if ($binaryAssetInstance.format_id==$targetFormat.id) { selected }>$targetFormat.name</option>
    }
    </select>
    </div>
  }
  </div>
  
  $compiledRegion.asFormElement.file
}
</fieldset>
<!-- node/BinaryAsset/binaryasset.edit.wm.html -->