<!-- app/timedItems/timedItem.view.wm.html -->
#set $node = $nodeRequestSegment.Node
#if ($nodeRequest.hasNextRequestSegment()) {
  #set $nodeRequestSegment = $nodeRequest.nextNodeRequestSegment()
  #include as template "$nodeRequestSegment.TemplatePath"
  #set $nodeRequestSegment = $nodeRequest.previousNodeRequestSegment()
} #else {
  <div class="g_maincol_o"><div class="g_maincol_i">
  
  #include as template "node/rss/templets.wm.html"
  
  <h1>$node.title #eval $rss_iconLink using { "rssNodeStyle": 3013 }</h1>

  ## -------------------------------------------------------------------------
  ## NewsItem
  
  #set $compiledRegion = $node.compile.timedItem
  <div #if ($compiledRegion.isSticky) { class="f_sticky" }>
  <p class="f_timedItemDate">$compiledRegion.sortDate</p>

  #set $compiledRegion = $node.compile.mainDoc
  #include as template "$compiledRegion.viewTemplatePath"
  </div>

  ## -------------------------------------------------------------------------

  #include as template "app/include/viewControls.wm.html"
  
  </div></div>
}
<!-- ! app/timedItems/timedItem.view.wm.html -->
