
<!-- node/Html/html.edit.wm.html -->
#set $htmlName = $compiledRegion.regionStyle.name
#set $htmlIsDefined = $compiledRegion.isDefined
#set $htmlStyle = $compiledRegion.style

<div class="widgetGrouping">
  <div class="widgetGroupingTitle">

    #if ($compiledRegion.style.isOptional) {
      <input type="hidden" name="$htmlName-isDefined-active" value="true">
      <INPUT TYPE="checkbox" NAME="$htmlName-isDefined" #if ($htmlIsDefined) { CHECKED } onclick="this.form.submit()">
    } #else {
      <INPUT TYPE="checkbox" DISABLED CHECKED>
    }
    $htmlName
  </div>

  <div class="widgetGroupingContent">
    #if ($htmlIsDefined) {
      <textarea #if ($htmlStyle.textareaCss != "") { CLASS="$htmlStyle.textareaCss" }
      #if ($htmlStyle.textareaCols > 0) { cols="$htmlStyle.textareaCols" }
      #if ($htmlStyle.textareaRows > 0) { rows="$htmlStyle.textareaRows"}
      name="$htmlName-html">$compiledRegion.safeHtml</textarea>
    }
  </div>
</div>

<!-- node/Html/html.edit.wm.html -->

