<!--  node/ReCaptcha/recaptcha.wm.html -->

## required:
##   $publickey - the recaptcha API public key
## optional:
##   $options - map of options passed to the JavaScript RecaptchaOptions
##              dictionary.  See API docs at recaptcha.net
#templet $recaptcha {

#if ($Variable.isDefined("options")) #begin
<script>
var RecaptchaOptions = { #foreach $k in $options.keySet() { $k: "$options.get($k)" } }
</script>
#end

<script type="text/javascript"
   src="http://api.recaptcha.net/challenge?k=$publickey)">
</script>

<noscript>
   <iframe src="http://api.recaptcha.net/noscript?k=$publickey"
       height="300" width="500" frameborder="0"></iframe><br>
   <textarea name="recaptcha_challenge_field" rows="3" cols="40">
   </textarea>
   <input type="hidden" name="recaptcha_response_field" 
       value="manual_challenge">
</noscript>
}

<!--  !node/ReCaptcha/recaptcha.wm.html -->