#set $node = $nodeRequestSegment.Node

#templet $t_contentWrapper {
	<div class="t_contentWrapper">
	<h1>$node.title</h1>
	<div class="gntml_image">
	#if ($controllingImage.title != "") {
		<h4>$controllingImage.title</h4>
	}
	#include as template "Gntml/imageZoom.core.wm.html"
	#if ($controllingImage.caption != "") {
		<p>$controllingImage.caption</p>
	}
	</div>
	<p><a class="f_back" href="$node.url">Back to $node.title</a></p>
	</div>  
}
