#if ($compiledRegion.isDefined && $compiledRegion.isVisible) {
	<div id="disqus_thread"></div>
	<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '$compiledRegion.shortname';
    var disqus_identifier = '$node.id';
    var disqus_url = '$node.url';
    #set $disqus_category_id = $compiledRegion.inheritedCategory_id
    #if ($disqus_category_id != null) {
    	var disqus_category_id = '$disqus_category_id'
    }
    (function() \{
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    \})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
}