#local {
	#set $timedPageListing = $gntmlRssBlock.timedPageListing
	#wrapDefined '<p class="heading">' { $gntmlRssBlock.title } '</p>'
	#if ($timedPageListing == null) {
		<div class="error">No Feed Defined</div>
	} #else {
		#if ($timedPageListing.hasRssFeed) {
			<a class="RSS" href="$timedPageListing.rssUrl">
			#if ($gntmlRssBlock.anchor != "") {
				$gntmlRssBlock.anchor
			} #else {
				$timedPageListing.rssSubscribeTitle
			}
			</a>
		} #else {
			<div class="error">$timedPageListing.title doesn't support RSS feeds</div>
		}
	}
	#if ($Vars.hasValue("t_caption")) {
		#eval $t_caption
	}	
}