#if (!$Vars.hasValue("t_content")) { 
	#templet $t_content {

		#eval $t_node_title
		<h2>Missing definition of t_content</h2>

		<dl>
		<dt>node</dt><dd>$node</dd>
		<dt>nodeStyle</dt><dd>$node.nodeStyle</dd>
		<dt>view</dt><dd>$nodeRequest.View</dd>
		<dt>templatePath</dt><dd>$node.nodeStyle.viewTemplatePath</dd>
		</dl>

	}
}


#if (!$Vars.hasValue("t_contentWrapper")) {
	#templet $t_contentWrapper {
		#eval $t_content
		#eval $t_editorWidgets
	}
}


#if (!$Vars.hasValue("t_editorWidgets")) {
	#templet $t_editorWidgets {
		<div class="content">
		#include as template "viewControls.wm.html"
		</div>
	}
}

#if (!$Vars.hasValue("t_node_title")) { #templet $t_node_title {
	#if (!$Global.hasNodeTitle) {
		<h1 class="node_title content"><a id="node_title">
		#if ($Vars.hasValue("node_title")) { $node_title } #else { $node.title }
		</a></h1>
		#set $Global.hasNodeTitle = true
	}
}}

#if (!$Vars.hasValue("t_RSS_visibleLinks")) { #templet $t_RSS_visibleLinks {
	#setblock $b_rss {
		#if ($Vars.hasValue("timedPageListing")) { #eval $TimedPageListing_rss_combinedVisibleLink }
		#eval $TimedPageListing_rss_visibleLink
		#eval $ImagePageListing_rss_visibleLink
	}
	#if ($b_rss.trim() != "") {
		<div class="RSS_links">
		$b_rss
		</div>
	}
}}
