#set $grid_left = $Vars.pad("grid_left", 3)
#set $grid_center = $Vars.pad("grid_center", 6)
#set $grid_right = $Vars.pad("grid_right", 3)

#set $hasLeft = $grid_left > 0
#set $hasRight = $grid_right > 0

#if ($hasLeft) {
	#if (!$Vars.hasValue("tp_header_left")) { #templet $tp_header_left { } }
	#if (!$Vars.hasValue("tp_content_left")) {
		#include as template "node/m_menu/treeFull.wm.html"
		#templet $tp_content_left {
			#eval $m_treeFull using {
				"parentNode": $rootNode,
				"includeParent": true
			}
			#eval $tp_generated_content
		}
	}
	#if (!$Vars.hasValue("tp_footer_left")) { #templet $tp_footer_left { } }
}

#if ($hasRight) {
	#if (!$Vars.hasValue("tp_content_right")) { #templet $tp_content_right { } }
	#if (!$Vars.hasValue("tp_header_right")) { #templet $tp_header_right { } }
	#if (!$Vars.hasValue("tp_footer_right")) { #templet $tp_footer_right { } }
}

#if (!$Vars.hasValue("tp_content")) { 
	#templet $tp_content { 
		#eval $t_contentWrapper 
	} 
}

#if (!$Vars.hasValue("tp_footer")) { #templet $tp_footer { } }
#if (!$Vars.hasValue("tp_header")) { #templet $tp_header { } }

#if (!$Vars.hasValue("tp_row_content")) {
	#templet $tp_row_content {
		<div class="grid_row"><div class="tp_row tp_row_content">
		#if ($hasLeft) {
			#wrapDefined '<div class="tp_left tp_content_left">' {
				$Dimensions.open($grid_left) 
				#eval $tp_content_left 
				$Dimensions.close()
			} '</div>'
		}
		#if ($hasRight) {
			#wrapDefined '<div class="tp_right tp_content_right">' {
				$Dimensions.open($grid_right) 
				#eval $tp_content_right 
				$Dimensions.close()
			} '</div>'
		}
		$Dimensions.open($grid_left, $grid_center, $grid_right)
		<div class="tp_content">#eval $tp_content</div>
		$Dimensions.close()
		</div></div>
	}
}

#if (!$Vars.hasValue("tp_row_footer")) {
	#templet $tp_row_footer {
		<div class="grid_row"><div class="tp_row tp_row_footer">
		#if ($hasLeft) {
			#wrapDefined '<div class="tp_left tp_footer_left">' {
				$Dimensions.open($grid_left) 
				#eval $tp_footer_left 
				$Dimensions.close()
			} '</div>'
		}
		#if ($hasRight) {
			#wrapDefined '<div class="tp_right tp_footer_right">' {
				$Dimensions.open($grid_right) 
				#eval $tp_footer_right 
				$Dimensions.close()
			} '</div>'
		}
		#eval $tp_footer
		</div></div>
	}
}

#if (!$Vars.hasValue("tp_row_header")) {
	#templet $tp_row_header {
		<div class="grid_row"><div class="tp_row tp_row_header">
		#if ($hasLeft) {
			#wrapDefined '<div class="tp_left tp_header_left">' { 
				$Dimensions.open($grid_left)
				#eval $tp_header_left 
				$Dimensions.close()
			} '</div>'
		}
		#if ($hasRight) {
			#wrapDefined '<div class="tp_right tp_header_right">' {
				$Dimensions.open($grid_right) 
				#eval $tp_header_right 
				$Dimensions.close()
			} '</div>'
		}
		#eval $tp_header
		</div></div>
	}
}

#if (!$Vars.hasValue("tp_generated_content")) {
	#templet $tp_generated_content {
		#wrapDefined '<div class="tp_generated_content">' {	
			#include as template "InForm/include/tp_generated_content.wm.html"
		} '</div>'
	}
}


## *************************
## ** tp_javascript_footer **
## *************************
#if (!$Vars.hasValue("tp_javascript_footer")) {
	#templet $tp_javascript_footer {
		<script type="text/javascript">
		vr_pad_both('img',$Grid.LineHeight);
		##	vr_field('.gntml_plus_field_shim', $Grid.getLineHeight(8));
		</script>
	}
}

## ***************
## ** t_wrapper **
## ***************
#if (!$Vars.hasValue("t_wrapper")) {
	#templet $t_wrapper {
		<div class="wrapper">
		<div class="wrapper_header">#eval $tp_row_header</div>
		<div class="wrapper_content">#eval $tp_row_content</div>
		<div class="wrapper_footer">#eval $tp_row_footer</div>
		</div>
		#eval $tp_javascript_footer
	}
}