#set $grid_left = $Vars.pad("grid_left", 3)
#set $grid_center = $Vars.pad("grid_center", 6)
#set $grid_right = $Vars.pad("grid_right", 3)

#set $grid_total = $grid_left + $grid_center + $grid_right

.tp_content .content {
	margin-left: $(Grid.getIndent($grid_left))px;
	margin-right: $(Grid.getIndent($grid_right))px;
}

.tp_row {
	padding-left: $(Grid.HPad)px;
	padding-right: $(Grid.HPad)px;
}

.tp_left {
	float: left;
	width: $(Grid.getWidth($grid_left))px;
	margin-right: $(Grid.ColumnSpacing)px;
}

.tp_right {
	float: right;
	width: $(Grid.getWidth($grid_right))px;
	margin-left: $(Grid.ColumnSpacing)px;
}

.gntml_placeholder {
	background-color: \#ddd;
	border: solid 1px black;
	width: 100%;
	padding-top: 56.25%;
	position: relative;
	margin-bottom: $(l1)px;
}
.gntml_placeholder>.gntml_placeholder_caption {
	position: absolute;
	top: 5px;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
}

ul.accordion {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.accordion .inner {
	overflow: hidden;
	display: none;
}
ul.accordion .inner.initshow {
	display: block;
}

ul.accordion a.toggle {
	text-decoration: none;
}
ul.accordion .inner {
	margin-left: $(Grid.getIndent(1))px;
	border: solid 1px black;
	padding: 1em;
	margin-bottom: 1em;
}
