<!-- node/SimpleText/simpleText.edit.wm.html -->

#set $simpleTextIsDefined = $compiledRegion.isDefined
#set $simpleTextStyle = $compiledRegion.style
#set $region = $compiledRegion.region

<fieldset>
#include as template "node/abstractContentCompilerHeader.edit.wm.html"
#if ($simpleTextIsDefined) {
  $compiledRegion.asFormElement.text
  
<!--
<hr />
    #if ($simpleTextStyle.editorRows==1) {
      <INPUT TYPE="text" 
      SIZE="$simpleTextStyle.editorColumns" 
      NAME="$region.name-text" 
      #if ($simpleTextStyle.editCss != "") {
        CLASS="$simpleTextStyle.editCss"
      }
      VALUE="$compiledRegion.inputValue.text">
    } #else {
      <TEXTAREA NAME="$region.name-text"
      #if ($simpleTextStyle.editorRows > 0) {
        ROWS="$simpleTextStyle.editorRows" 
      }
      #if ($simpleTextStyle.editorColumns > 0) {
        COLS="$simpleTextStyle.editorColumns" 
      }
      CLASS="$simpleTextStyle.editCss">$compiledRegion.text</TEXTAREA><BR>
    }
-->
}
</fieldset>
<!-- end node/SimpleText/simpleText.edit.wm.html -->
